[2020-05-09 16:54] avdi commented on #479
Sure thing, here ya go:

[code]

[2020-05-09 17:14] jkeech commented on #479
Ah, @edgonmsft, the environment variable params are not quoted, and there’s a space in the VISUAL value, which is causing -w to be interpreted as a docker param. We need to quote all of the values that are provided by users for variables, mounts, etc.

@avdi, if you remove the VISUAL variable as a temporary workaround, that should bypass this issue. Note that custom containers in Codespaces do not

[2020-05-09 17:29] avdi commented on #479
@jkeech yeah I expected to have to rejigger the mount config once I got that far.

Thanks! I'll try that workaround.

[2020-05-09 17:41] avdi commented on #479
Yep, that worked!

Do you have/want a separate ticket for the specific issue here?

[2020-05-09 17:45] avdi commented on #479
It got as far as opening the online VS Code, but it seems to be having some trouble starting the server...
![image](https://user-images.githubusercontent.com/982/81481024-d7fcbf00-91f2-11ea-8888-214a820c1a45.png)

What extra information can I give you? Or can I share this project with you somehow? The repo is public now BTW: https://github.com/gracefuldev/sixmilebridge.git

[2020-05-09 20:22] bartr opened #482 "Live Share extension sets DOTNET_ROOT environment variable on extension host process which breaks `dotnet run` for apps"
csproj file
<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
...

dotnet run shows the following error:

It was not possible to find any compatible framework version
The framework Microsoft.AspNetCore.App version 3.1.0 was not found
  - no frameworks were found

dotnet --version returns 3.1.100
dotnet restore works
dotnet build works
dotn

[2020-05-10 03:33] jkeech commented on #482
@bartr, can you provide a sample repo and the exact steps you take to reproduce this problem? It sounds like it does not happen consistently. Is that correct?

[2020-05-10 03:38] jkeech commented on #473
@wayne-folkes, are you using Codespaces in GitHub or in online.visualstudio.com? Safari is not fully supported yet (you should see a banner at the top saying it is partially supported). There are a few known issues in Safari due to how the editor is currently iframed in github.com for Codespaces in GitHub.

[2020-05-10 04:54] bartr commented on #482
It’s pretty consistent for me. Not 100%, but seems around 90%

Repro

- Start here: https://online.visualstudio.com/environments
  - Create Codespace
    - Unique name
    - Repo: https://github.com/bartr/testrepo
      - this is just dotnet new webapi with readme and gitignore
    - dotfiles blank

- Wait for container to start
- Go to terminal

[code]

Error

[code]

- Hit the back button to go

[2020-05-10 05:12] bartr commented on #482
I think I found the problem.  If I run ```unset DOTNET_ROOT``` before ```dotnet run``` it works without reconnecting.

This is what my DOTNET_ROOT is set to at first run

[code]

[2020-05-10 05:39] jkeech commented on #482
@BrunoGuardia, do you know why Live Share is setting DOTNET_ROOT of n the VS Code extension host process during the first activation? It seems to break other dotnet apps in the same process tree.

[2020-05-10 06:44] praksb opened #483 "Recent projects in welcome screen shows name of projects from other environments"
1) Create a new environment(Environment-1) on VSO portal
2) Setup and open a new project folder (Project-1) in this environment
3) Create a new environment (Environment-2) on VSO portal

**Expected**:
The "Recent" section in Welcome screen shows only the default folder that was created in Environment-2

**Actual**:
Note that once the environment is setup the project (Project-1) that was created in

[2020-05-10 11:34] romanrehacek commented on #444
Hi,
have same problem on CentOS 7.
When I try start without service, it works. But if I try `vso start --service` it will stuck at `Waiting for environment to become available ...`

`cat 20200510_112832.1_CLI.log`
[2020-05-10 11:28:32.141 CLI I] vso v1.0.2005.59801 (pid: 4829)
[2020-05-10 11:28:32.590 CLI I] Authenticating...
[2020-05-10 11:28:55.756 CLI I] A VSO plan is required to register your

[2020-05-10 16:18] srivatsn commented on #482
LiveShare should be setting DOTNET_ROOT only for the vsls-agent process it launches. Looks like a bug that it's setting it for the ext host process itself.

[2020-05-10 19:12] jkeech commented on #482
I've confirmed that Live Share is setting the variables on `process.env` in the extension host process when spinning up the agent. Live Share should instead be modifying the environment only for the child agent process, and not for the whole extension host process.

This only seems to affect remote scenarios (including Codespaces) since integrated terminals are spun up using the extension host pro

[2020-05-10 19:16] jkeech commented on #483
We are going to be moving to isolated subdomains for each Codespace's editor, which will also have the effect of isolating some of the global state across different Codespaces. I expect that this issue will go away once the change to switch to isolated subdomains is rolled out.

[2020-05-11 07:45] dahatake opened #484 "Export VM Startup/Down, User Login/out log to Azure Monitor"
These are very basic log audit request developer in Enterprise.
Is it exposed to Azure Monitor?

[2020-05-11 09:20] chrmarti commented on #477
@Chuxel Yes, that's intentional. The intent of `overrideCommand` is to override what the container would normally do which includes the entrypoint.

[2020-05-11 14:30] wayne-folkes commented on #473
@jkeech I am using Codespaces in Github. I saw the banner mentioning the partial support and I looked at the known issues and didn't see this mentioned so I thought I would open a new issue. If this is being tracked somewhere else a part of a set of known Safari issues then I apologize for the duplication and disruption.

[2020-05-11 15:01] jkeech commented on #473
@wayne-folkes, no need to apologize! We need to come up with a list of all of the known issues and clearly document them on the Codespaces docs.

[2020-05-11 15:44] plisy commented on #478
Hello, thanks for reporting the issue. Sending request body currently doesn't work in port forwarding on web. We are tracking the issue already here #213.

We are working on more complete port forwarding solution for web as well. In the meantime, please use desktop VSCode.

I'm closing this issue as a duplicate.

[2020-05-11 15:44] #478 closed

[2020-05-11 17:05] DanTup opened #485 "Stuck on "Connecting to the forwarded port..." despite web server being accessible from terminal"
I'm reasonably sure that in the past the port forwarding worked for our web apps (because I got further than this, and hit https://github.com/MicrosoftDocs/vsonline/issues/164). However today it just hangs like this:

![Screenshot 2020-05-06 at 15 28 57](https://user-images.githubusercontent.com/1078012/81189405-6b917e00-8fae-11ea-87df-aa38f9e54e88.png)

Yet if I use `curl` in a terminal window in

[2020-05-11 17:29] nvick commented on #476
Hi Edmundo!

Happy to fill in any gaps in the issue if needed. Please let me know.

[2020-05-11 18:33] tashbaugh opened #486 "Need a way to set vm.max_map_count"
Trying to leverage codespaces as my full time development environment. A project that I'm working on uses Lando for local dev. While attempting to install Lando in my codespace I'm getting an exception when it tries to set vm.max_map_count to a high enough value to satisfy ElasticSearch.

Is there a way I can modify this kernel level value?

`Setting up lando (3.0.0) ...
LANDO_ROOT=/usr/share/land

[2020-05-11 21:28] jkeech commented on #479
@avdi, can you file a separate issue for the failed to start? @edgonmsft will help you troubleshoot

[2020-05-11 21:37] edgonmsft opened #487 "Prevent creation of environments while connected to one."
When creating environments while connected to one its unclear how settings are passed and what environment does the configuration webview belong to.

[2020-05-11 22:02] nvick opened #488 "Use `user` defined in Dockerfile or defined in docker-compose.yml"
While bringing up a docker-compose based Rails app we ran into the following issue with the user defined in our Dockerfile and docker-compose.yml.

In our Dockerfile and docker-compose.yml, we have a ruby user defined in both files to be the user in the service, but it was being ignored. We did not add `containerUser` to our `.devcontainer.json` initially based on the current documentation.

| `co

[2020-05-11 22:04] edgonmsft commented on #488
Hi Nate!

Thanks for pointing this out, would you be able to share part of your docker file and/or docker-compose file so that we can diagnose the issue?

Thanks!

[2020-05-11 22:12] nvick commented on #488
Sure thing!

Dockerfile
[code]
docker-compose.yml
[code]

[2020-05-11 22:15] edgonmsft commented on #488
Got it, thanks!

Yeah in this case for now it is necessary to set the user in devContainer.json since for now we are not reading the user from the resulting image after running docker-compose up.

I'll use this issue to track improvements to this scenario in the future.

[2020-05-11 22:17] nvick commented on #488
Great! Please let me know if I can provide any more info.

[2020-05-11 22:43] nvick commented on #2
Is it possible to use private container registries in Dockerfiles for custom VS Online environments?

[2020-05-12 00:12] jkeech commented on #488
The main challenge is that this has a performance cost on Codespace creation that I'm not sure is worth it.

It will likely take a couple seconds to spin up the temporary container to check the default user. I don't think we want to take a couple seconds performance hit on every custom container creation just to check for the active user if it's not defined in devcontainer.json. Inspecting the `Do

[2020-05-12 00:52] osortega commented on #435
@dbanisimov @haodeon the fix should already be deployed.
Feel free to reopen the issue if you are still seeing this issue.

Thanks for reporting this

[2020-05-12 00:52] #435 closed

[2020-05-12 01:07] avdi opened #489 ""Failed to connect to the remote extension host server""
It got as far as opening the online VS Code, but it seems to be having some trouble starting the server...
![image](https://user-images.githubusercontent.com/982/81481024-d7fcbf00-91f2-11ea-8888-214a820c1a45.png)

Repo is public here: https://github.com/gracefuldev/sixmilebridge.git

_Originally posted by @avdi in https://github.com/MicrosoftDocs/vsonline/issues/479#issuecomment-626211748_

[2020-05-12 01:07] avdi commented on #479
@jkeech done!

[2020-05-12 01:16] Chuxel commented on #488
Yeah, `containerUser` only is applied in the Dockerfile case for Remote - Containers exactly because `docker-compose.yml` already has support for it. So, we're actually out of sync here. (Only `remoteUser` applies to both since this doesn't change the user the container itself is setup to run as.)  Respecting the default user would be important for anyone reusing an existing Dockerfile or Docker C

[2020-05-12 02:51] tashbaugh commented on #480
Like you @avdi, I also had a hard time finding where to report issues. It is available from the Codespaces UI if you select the Remote Explorer tab, you'll find "Report Issue" under the Help and Feedback section. I've included a screenshot if that makes it easier to find.

![image](https://user-images.githubusercontent.com/3745803/81633118-97a76780-93d1-11ea-817b-45e7d2d8f93e.png)

[2020-05-12 03:19] tonyeung opened #490 ".devcontainer.json settings object"
In the https://docs.microsoft.com/en-us/visualstudio/online/reference/configuring page, the description of the "settings" property is: "Adds VS Code settings.json values into the environment."

I took this to mean I can load default settings into this object and see it in visual studio code, so I created a .devcontainer.json file in my project repo:

[code]

Was my interpretation of the docs wrong

[2020-05-12 04:00] avdi commented on #480
I mean, obviously I'm here it so I don't need a guide to how to find it. That doesn't change the fact that it's really hard to find where to report issues.

That also doesn't help when the issue you need to report is that the Codespace can't even load far enough to show that panel 😉

![image](https://user-images.githubusercontent.com/982/81637143-3edccc80-93db-11ea-930f-cf54a2f04fbe.png)

[2020-05-12 05:42] simkimsia commented on #455
Yes

How?

[2020-05-12 05:42] simkimsia commented on #455
![image](https://user-images.githubusercontent.com/245021/81642635-6ae96380-9456-11ea-8a4e-f394a9003290.png)This is a screencap I had with the paid support at Azure. Who's PG?

[2020-05-12 07:33] chrmarti commented on #488
When Remote-Containers needs to know the user given an image, we look it up on the `docker inspect <image>` information.

[2020-05-12 11:57] pieterdv commented on #2
Can you provide more details around 'Run and debug GUI applications'? Since this seems in progress but there is no linked issue

[2020-05-12 15:26] abuchholtzau commented on #481
Thanks for the feedback @avdi. Just to clarify, you're talking about the console output in our Creation Tab right?
We've been discussing some ways to make errors easier to parse when they happen but it'd be great to hear from you what you think the right move would be. Is it just making the frame resizable or is there a better way you had in mind?

[2020-05-12 15:30] abuchholtzau commented on #480
Thanks for this! Agreed that we can do better here! Out of curiosity, where did you first look/where did you expect to find info on how to give feedback or report a problem?

[2020-05-12 15:55] edgonmsft commented on #490
Hi @tonyeung!

The settings get copied as-is to a default path where vscode remote server is installed. When you connect to the environment, if you go to the settings panel you should see your setting in the Remote tab.

Can you see if it got applied?

Let me try yours but for reference this is an example that changes the theme and sets the default terminal for vscode.

"settings": {
		"workbench.

[2020-05-12 15:58] lostintangent opened #491 "Can't edit root-owned files within the editor"
While investigating #486, I tried to open a root-owned file from the terminal and edit it with VS Code. Unfortunately, when I try to save the file, I get a dialog prompt indicating a permission issue, and there doesn't appear to be a way to "elevate". When working with VS Code locally, you can typically perform a "run as admin" to edit/save root-owned files, but the same doesn't appear to be possi

[2020-05-12 16:16] avdi commented on #480
My "muscle memory" with most sites and apps is to look in the upper-right corner of the screen, either for a support link or for some kind of account menu that might expand to include a support link.

Something in the status bar might also make sense.

[2020-05-12 16:19] avdi commented on #480
Note that my first issue involved not getting far enough to be able to see the online VSCode interface. I looked for a way to report issues from the "launcher" screen and didn't find anything there either.

[2020-05-12 16:34] legomushroom commented on #136
The `Failed to find` message comes from VSO extension and means that it could not find a sign in request associated with the `state` param, which is expected.

So the link does not work when coming from browser URL bar? Wondering if that is some encoding issue.

@alecloudenback does it work when you `click` the link in the Firefox(vs paste it in the URL bar)?

[2020-05-12 16:37] legomushroom commented on #453
@taiyosogawa how much time passed before the 401s show up? Wondering if that is the token expires but still being used.

[2020-05-12 16:53] Davsterl commented on #415
I'm wondering if there's dependency missing here.
Do you mind manually running this script?
wget -O ~/vsls-reqs https://aka.ms/vsls-linux-prereq-script && chmod +x ~/vsls-reqs && ~/vsls-reqs

[2020-05-12 17:35] avdi commented on #481
Some possibilities:
- Make it maximizable
- Make Ctrl-A work well (I *think* I had some trouble with this)
- Provide a link to the raw text of the output in its own page

[2020-05-12 18:11] edgonmsft commented on #489
Hi Avdi!

I just tried your repo and its related to a limitation we currently have with how we are running docker-compose.

We currently only support version 3 for the docker-compose files but I'm actively working on converting that limitation so that its just needs to be that version or above.

We are tracking that particular issue on this one:

https://github.com/MicrosoftDocs/vsonline/issues/45

[2020-05-12 18:11] #489 closed

[2020-05-12 18:20] taiyosogawa commented on #485
@plisy, @fara-nak, have you seen this issue occur before?

[2020-05-12 18:51] legomushroom commented on #184
@sevakraynov can you try incognito mode (without being logged in into Edge)?

[2020-05-12 18:54] fara-nak commented on #485
@DanTup would you please share what you see in the dev tool console?

[2020-05-12 20:03] sumitsumit opened #492 "Keyboard shortcuts are not persistent between sessions (when using InPrivate)"
_[reposting here, as suggested by bpasero]_

I love codespaces, but am finding the keyboard shortcuts are not preserved between sessions when using an InPrivate window. The setting file's path is reported as /User/keybindings.json, but this doesn't exist in the container. For now I'm saving a copy in .vscode and then copying it over when the bindings disappear. I'm using an in-private window for c

[2020-05-12 20:23] waltercoan opened #493 "Codespace can't redirect request to Spring Boot app port 8080"
Hi,

I'm trying to use Visual Studio Code online with my students in they class about how to develop web app using Spring Boot. My app use Thymeleaf plugging to generate the HTML interface. This screen is the app running in VSCode online.
![image](https://user-images.githubusercontent.com/7109985/81741324-c591b800-9474-11ea-9fff-cf7150cf4bce.png)
If I curl http://localhost:8080 in another bash int

[2020-05-12 20:50] jkeech commented on #493
@plisy, is this due to the service worker port forwarding implementation?

@waltercoan, one potential workaround is to connect to the Codespace from VS Code on the desktop. In the desktop case, the port forwarding implementation is more complete and it should work exactly as you expect.

[2020-05-12 20:58] jkeech commented on #492
Hi @sumitsumit, glad to hear that you are enjoying Codespaces for the most part.

Certain pieces of user data are actually stored on the client side in the browser, including user keybindings, settings, etc. That's why you don't see them on disk in the container. If you open F12 tools -> Application -> IndexedDB, you will actually see the files and their contents stored there.

What is happening i

[2020-05-12 21:06] nikmd23 opened #494 "Update docs for Azure DevOps"
We should update this doc: https://docs.microsoft.com/en-us/visualstudio/online/reference/repository

To call out our support for Azure Repo URLs

[2020-05-12 21:14] nikmd23 opened #495 "List Private Preview Instance Types for Wider Set of Users"
If/when there is an instance type in private preview (like the Windows based one currently), it'd be useful to list it in the drop down for users who are not in the private preview yet.

![image](https://user-images.githubusercontent.com/199026/81746050-73986480-946b-11ea-8585-46f64d76fc77.png)

Click on that instance type would notify the user that it's coming soon, and that they can sign up for

[2020-05-12 21:26] sheldonhull commented on #442
Bumping to see if any insight on this. Still can't create codespaces from local visual studio code. I have to do online.

[2020-05-12 21:31] jkeech commented on #442
Does this proxy support TLS1.2? The Codespaces APIs require TLS1.2 since older TLS protocols have known security issues and are deprecated.

[2020-05-12 21:35] jkeech commented on #442
You can also try narrowing down the issue by removing VS Code from the equation and seeing if you can do something like `curl https://online.visualstudio.com/api/v1/locations` from a terminal that is also using the proxy. That endpoint does not require any auth, so should be reachable from anywhere.

[2020-05-12 21:39] taiyosogawa commented on #453
@legomushroom, good question. It would be highly unlikely for the polling requests to use an expired token because it is from the device login flow which happens on every CLI invocation. These requests are not using tokens from the kechain cache.

[2020-05-12 22:20] waltercoan commented on #493
Hi @jkeech, thanks for your quick feedback. I am using visual studio online because we are taking virtual classes during the pandemic quarentine. Not all of my students have computers good enough to run this environment, so Visual Studio online proved to be an excellent solution. I chatted with Mr. Michael Crump (@mbcrump) on twitter, because I had the same problem with ASP.NET core. For the redir

[2020-05-12 22:43] plisy commented on #493
@jkeech Yes, our implementation isn't able to parse responses from some servers properly.

[2020-05-12 22:51] jkeech commented on #493
@waltercoan, we are working on a new port forwarding service for the browser which will be closer to feature parity with the desktop implementation of port forwarding. I understand that the current experience in the web doesn't work for you ☹️. Unfortunately, the best solution for now is to use VS Code desktop for the set of apps that you can't successfully port-forward in the browser today.

Alte

[2020-05-12 23:43] sumitsumit commented on #492
Ah, very cool, I'll check that out!

[2020-05-12 23:53] taiyosogawa commented on #484
@dahatake, thank you very much for asking. I believe we are not yet integrated with Azure Monitor, but I have brought up your request. We'll keep this issue open as an enhancement request.

[2020-05-12 23:56] edgonmsft commented on #488
Yes, for custom containers we do read it from the image, its missing from the docker compose flow.

[2020-05-13 00:00] edgonmsft commented on #459
I have a PR for the second part, the interesting issue is what to do when this mounts don't make sense in our context or won't work.

One example is repos that mount the Kubernetes configuration from the VM to the container, in this case if that doesn't exist then the creation would fail with a mount error.

[2020-05-13 00:09] edgonmsft commented on #433
Hi fabiom-zz!

Sorry for the delay! I thought I had already answered your question.

If you run docker inspect on the container where your environment is currently running you can see the path we are using to mount the workspace and reuse it in your new containers.

We will probably change this path in the future to use volumes which would be easier to reuse in the future, but for now that should

[2020-05-13 00:36] jkeech commented on #459
@edgonmsft, I think that's OK. But it does open up some other questions. How would users specify different types of host configurations/setups for remote containers vs Codespaces, etc. Or even for different types of host setups in remote containers. The single `devcontainer.json` file which is expected to work in all situations doesn't work in that case.

But as a starting point, I think using the

[2020-05-13 00:49] Chuxel commented on #459
Yeah, I've updated the definition to check for the existence of the folder so this won't fail if the mount is not present. The confusion for me came from the fact that it appeared to work, but actually didn't.  It took me a while to track down that this was what was actually going on.  If the mount had just failed outright, I would have commented it out and moved on.

Mounts are a general consider

[2020-05-13 01:08] gusbicalho commented on #415
Output below. I still get the same behavior when I run `vso start` after running this.

[code]

[2020-05-13 01:19] sheldonhull commented on #442
I'll give this a shot and report back. Thank you!

[2020-05-13 04:21] tonyeung commented on #490
@edgonmsft Hello! thanks for the quick reply. Yes it was in Remote. Looks like I have more reading to do to figure out the order! 😄

[2020-05-13 04:21] #490 closed

[2020-05-13 06:14] chrmarti commented on #488
We parse the docker-compose.yml in a few cases, but not for getting at the resulting image.

For my understanding: How does the user in the container affect the mounts you make? (I assume you are using a second docker-compose.yml to add to the mounts.)

[2020-05-13 07:11] Brucius opened #496 "Is there a way I can change the theme of the zsh within the vscode online?"

[2020-05-13 08:45] gro1m commented on #453
Returns: There is no such process `vso vmagent -t`
[code]

[2020-05-13 10:39] crpytobi opened #497 "Support for "pop-up" windows"
Hi there!

Something that I'm currently struggling with is the fact, that whilst using VS Codespaces in conjunction with Python there are several cases, where having those pop-up preview windows is crucial for workflow.
This goes for things like working with UI-elements created in PyQt5, accessing the matplotlib viewer and so on. Maybe it's possible to feauture that functionality in the future. Th

[2020-05-13 12:38] NCC1701M opened #498 "Could not find VSCode installation"
When I try open my Codespace in VSCode, I get the message

![image](https://user-images.githubusercontent.com/7260053/81812233-2927ee00-9526-11ea-9bf5-aae177cd7c6f.png)

But VSCode is installed and the following extensions are enabled:

Extension|Author (truncated)|Version
---|---|---
vscode-sql-formatter|adp|1.4.4
vscode-sqlite|ale|0.8.2
sqlformatter|bre|0.0.7
xml|Dot|2.5.0
gitlens|eam|10.2.1
bea

[2020-05-13 13:12] acangialosi commented on #495
Also we'd like to attract dogfooding from existing VSCS users to make sure we're getting balanced feedback from users already familiar with Linux Codespaces.

[2020-05-13 15:11] DanTup commented on #485
There's nothing in the dev console for the newly spawned window:

![Screenshot 2020-05-13 at 16 05 40](https://user-images.githubusercontent.com/1078012/81830304-cccbcb00-9533-11ea-93f9-3fff02273011.png)

There's also nothing in the network tab:

![Screenshot 2020-05-13 at 16 05 45](https://user-images.githubusercontent.com/1078012/81830346-d6553300-9533-11ea-9c5e-827f359820e1.png)

If I reload th

[2020-05-13 15:22] jkeech commented on #498
@chkn, I think something regressed with the protocol handler detection in the web portal.

[2020-05-13 15:25] jkeech commented on #496
@Brucius, you can create your Codespace with a dotfiles repo, which can be used to configure personalized settings, such as shell configuration, etc. You could include a `.zshrc` file with any customizations you want. More info is available at https://docs.microsoft.com/en-us/visualstudio/online/reference/personalizing.

[2020-05-13 15:27] jkeech commented on #488
@chrmarti, we mount the source code and a few other mounts in various places inside the `$HOME` directory for the user, so we need to know the username that will be included as part of the `HOME` path once the container spins up.

[2020-05-13 15:53] YoungElPaso commented on #35
Is there an upper limit to the number of services/containers running? I thought I read in the docs that only 1 service could be run at once?

I have an application that uses about 5 services; if the implication of the last comment is simply that I have to manually start them, that's great, I can handle that.  For instance, I have a main 'app' service, a linter, an optional caching service, require

[2020-05-13 15:56] edgonmsft commented on #488
@chrmarti We do it with an additional docker-compose file like you said.

[2020-05-13 21:49] nemosupremo opened #499 "Visual Studio Codespaces Frequently Gets Stuck in "Opening Remote""
Issue Type: <b>Bug</b>

Visual Studio Codespaces Frequently Gets Stuck in "Opening Remote" (with Azure) - and this prevents any extensions from being loaded.

I'm using the default code space docker config (so no devcontainer json), with the following extentions:

* Go (with gopls)
* Rust-Analyzer

I'm not even sure how to begin debugging this issue as the logs don't present any useful information

[2020-05-13 21:49] jkeech commented on #293
@olivermt, apologies for the delay here. We are looking into why the false setting does not seem to work.

[2020-05-13 22:15] abuchholtzau commented on #473
I've updated our Known Issues to include this @wayne-folkes! Thanks for letting us know about this.

[2020-05-14 03:06] nemosupremo commented on #499
I noticed when hitting this issue with the "default" workspace, I end up seeing this in the logs:

[code]

[2020-05-14 04:34] Brucius commented on #496
Thanks @jkeech. Closing this now

[2020-05-14 04:34] #496 closed

[2020-05-14 08:23] dmostert commented on #184
It works with my personal account, but not with my work account - even in incognito mode.

[2020-05-14 13:22] pschaeflein opened #502 "Question: View creation log as text"
Is it possible to view the creation log as a text file? The OOB experience is helpful for seeing when the space is ready, but if errors occur, the tiny boxes containing the log is difficult to navigate.

[2020-05-14 15:27] jkeech commented on #502
@pschaeflein, not today, but that's a good idea.

Technically, it would require a bit of a change, because we don't store those logs in the service itself. They are streamed directly from the remote machine to your browser over the end-to-end encrypted channel in real time `browser -> remote`. So the service doesn't have a great way to expose those logs to you `browser -> service API -> remote`. T

[2020-05-14 15:41] pschaeflein commented on #502
If you could enlarge the box, and maybe add a button to copy to the clipboard, that would be useful as an alternative. Thanks!

[2020-05-14 17:40] YoungElPaso opened #503 "Bash history incomplete/missing recent entries"
I noticed that when the environment suspends and I subsequently resume a good chunk of my bash history file is missing.  This has happened at least twice and I've confirmed by backing up history to a text file before suspending.

By itself, this isn't a huge deal although I'm sure a lot of people use history to keep track of things.

But what is worrying is I wonder what other things, (maybe env v

[2020-05-14 18:33] jkeech commented on #503
@YoungElPaso, do you have some specific repro steps? Is it containing older entries and not newer ones, or perhaps it's the older entries that are getting truncated?

The default `.bashrc` config has the following set (unless you are changing them with dotfiles or something else):

[code]

Is it possible that you have more lines than that in your history? What does `wc -l ~/.bash_history ` return?

[2020-05-14 18:38] jkeech commented on #503
It looks like when the container shuts down without the interactive shells exiting cleanly first, that any history currently stored in memory might not be written to the history file

[2020-05-14 18:49] YoungElPaso opened #504 "Support Cascadia Code and Ligatures for fonts"
Would be nice if Cascadia Code was supported along with ligatures.

[2020-05-14 19:49] jkeech commented on #503
I confirmed that if you have some pending bash history in memory and the environment suspends without you leaving gracefully, then the bash process doesn't cleanly exit and get a chance to write the history in memory to the `~/.bash_history` file. Need to look into ways to make this work better out of the box.

[2020-05-15 00:01] luabud opened #505 "Run Python File button isn't displayed in VS Codespaces"
If you install the Python extension and open a Python file to activate it, you won't see the play button on the top right:

![image](https://user-images.githubusercontent.com/45497113/81997060-8e9ddc80-9603-11ea-8ad3-5dbd29f21569.png)

Clicking on the black square will run the file correctly, it just doesn't show the icon.

This is what shows on VS Code (local):
![image](https://user-images.github

[2020-05-15 00:03] jkeech commented on #505
@plisy is this a port forwarding connection issue for custom icons?

[2020-05-15 04:19] jkeech commented on #491
@lostintangent you said this is in VS Code desktop on Linux, right? Which distro? I would expect this to only be a server-side issue though, independent of the client used to connect.

I've tried this in the web several weeks ago, and it worked at this time. Maybe something regressed, or something else is different. Are you using the default image or a custom image via a `devcontainer.json`?

[2020-05-15 04:23] jkeech commented on #455
Hi @simkimsia, I believe PG stands for "product group", which means the Codespaces dev team. Have you heard back from support yet with answers to your questions?

For your original post, if you go to https://online.visualstudio.com/environments and click on your environment, does it connect? If not, can you share the environment id or paste the url that it opens when you try to connect?

[2020-05-15 09:46] KennyChen0909 opened #506 "http request payload failed"
I'm using Azure repo to create code space with code spaces extension on VS code.

However, when I select the repo and it returned the following message:

![image](https://user-images.githubusercontent.com/40878442/82036671-c5432800-96d3-11ea-986a-4953341c0bda.png)

But there's no detail message showed below. Any ideas?

[2020-05-15 10:18] lucamorelli opened #507 "cannot login using an account with an alias"
my @outlook.com account has an alias with my main email address as main address.
when I connect with the azure plugin, whatever name use in the login mask, the @outlook address is detected and used.
when I try to login with the codespaces plugin, the  non outlook address is selected and the plugin gives and error because the email address of the azure and codespaces plugins are differents, but poi

[2020-05-15 11:30] lacafjh commented on #257
@taiyosogawa I succeeded later in New Microsoft Edge. The pop-up stayed for a few seconds, just allowing me to finish the process. Thanks for your reply.

[2020-05-15 17:26] jkeech commented on #506
@KennyChen0909 this looks like an error with the latest extension release. @cmbrose is working on pushing out a fixed extension, but in the meantime you could try installing an older version of the extension.

[2020-05-15 20:36] jkeech commented on #506
@KennyChen0909 a new extension version was just published to the marketplace. Can you confirm that it fixes this issue?

[2020-05-15 22:53] nemosupremo commented on #499
Connecting actually seems to be a lot more snappy with VSCode 1.45.1

[2020-05-15 22:55] jkeech commented on #499
@nemosupremo glad to hear it's working better with 1.45.1! Let us know if this comes back up.

[2020-05-16 01:30] BrunoGuardia commented on #482
Fix is in master

[2020-05-16 09:12] chunliu opened #508 "Cannot create more than 3 codespaces in 1 plan?"
I have 3 codespaces in 1 plan. When I created the 4th, I hit the error: `You have exceeded the Codespace quota`. I have to remove an existing codespace to create a new one.

Is there a quota for the Codespaces plan? Is it documented somewhere? I can't seem to find it with google. Is there a way to increase the quota?

[2020-05-16 19:23] bartr commented on #482
Verified this is working as expected on Codespaces.

[2020-05-16 20:01] jkeech commented on #482
@BrunoGuardia, has the fix been released yet? My understanding is that it’s not published yet, but this would only happen on the first time accessing a given Codespace since that is when Live Share is downloading the .NET Core runtime.

@bartr, I would expect this problem to still occur on new Codespaces until the fixed Live Share extension is published.

[2020-05-16 20:13] bartr commented on #482
I just checked again with bartr/testrepo (basically a dotnet new webapi) and made sure my dotfiles were blank.  `cd src && dotnet run` works for me and `env |grep DOTNET` doesn't include the DOTNET_ROOT like it did before.

[2020-05-16 21:17] jkeech commented on #508
https://docs.microsoft.com/en-us/visualstudio/online/resources/faq#what-are-visual-studio-codespacess-quotas

Codespaces, by default, allows users to create 3 environments per plan, and 2 plans per subscription.

We are working on integrating with the Usage and Quotas section on the Subscription blade in the Azure portal, which will also allow making support requests to increase the quota.

[2020-05-17 00:17] srivatsn commented on #54
Basic sku has been released.

[2020-05-17 00:17] #54 closed

[2020-05-17 00:34] lostintangent commented on #35
@YoungElPaso I don’t believe we enforce a limit on the number of services your Docker compose file can include. Though @edgonmsft can confirm. The comment in the docs about 1 service, is referring to the fact that you can only connect VS Code itself to one of the service containers. Though all the other service containers can still run as “siblings” of the main service you’re developing in. If you

[2020-05-17 00:34] #35 closed

[2020-05-17 00:46] lostintangent commented on #168
This has now been shipped 🤗

[2020-05-17 00:46] #168 closed

[2020-05-17 01:00] #508 closed

[2020-05-17 17:20] BrunoGuardia commented on #482
As indicated above, the fix is in master. We don't plan to release next week due to //build, so the release would be ready the week after.

[2020-05-17 18:42] nbarkhina opened #509 "Download large files"
When trying to download a large file from the browser interface by doing right click -> download from the sidebar I get a "Failed - No file" error in chrome. The file I'm trying to download is a 140 megabyte zip. However smaller files download without issue. Does Visual Studio Online support large file downloads? How else could I download the file if not via the browser interface. I also tried usi

[2020-05-18 05:30] KennyChen0909 commented on #506
@jkeech Thanks, it fixed the issue. But I encounter another error when cloning the repo:
![image](https://user-images.githubusercontent.com/40878442/82176919-abd7f100-990a-11ea-8542-1cfb49417e73.png)

I selected SouthEast Asia for the plan.

[2020-05-18 15:15] jkeech commented on #507
@jasongin, @cmbrose, we might need to make the email check more flexible a check additional claims in the token, or provide a warning saying they don't match and allowing the user to continue anyway.

@lucamorelli, we are working on switching to single sign on using the ARM/Azure login, so this issue is only temporary until that change happens. But hopefully we can provide you with a workaround in

[2020-05-18 15:34] jkeech commented on #40
Both docker and kubernetes support has landed! :rocket: The default image ships with both the `docker` and `kubectl` clients, and the docker daemon is configured so you can spin up and manage containers locally on the host. Try it out and if you hit any problems, please open up another issue. Thanks!

[2020-05-18 15:34] #40 closed

[2020-05-18 15:37] jkeech commented on #95
We've added a new command "Codespaces: Kill VS Code Server on Host..." which mirrors the functionality of some of the other VS Code Remote extensions. This will allow you to get a fresh VS Code server process on reload without having to first suspend + resume the environment.

[2020-05-18 15:37] #95 closed

[2020-05-18 15:41] jkeech opened #511 "Azure DevOps repo cannot be cloned"
I encounter another error when cloning the repo:
![image](https://user-images.githubusercontent.com/40878442/82176919-abd7f100-990a-11ea-8542-1cfb49417e73.png)

I selected SouthEast Asia for the plan.

_Originally posted by @KennyChen0909 in https://github.com/MicrosoftDocs/vsonline/issues/506#issuecomment-629954715_

[2020-05-18 15:42] jkeech commented on #506
@KennyChen0909, thanks for confirming the original issue is fixed! I split out the new problem into a separate issue to track from there.

[2020-05-18 15:42] #506 closed

[2020-05-18 15:45] jkeech commented on #511
@kennychen0909, are you creating the Codespace from VS Code or from the browser? If you are creating from VS Code, can you confirm that you have Git installed and configured on the client side to fill the credentials for that repo by running `git ls-remote {repo}`?

[2020-05-18 15:58] jkeech commented on #509
@nbarkhina, have you tried connecting from VS code on the desktop and performing the download from there? I'm not sure if you'll see different results.

@bpasero, are there any known file size limits on the browser-based file downloads?

[2020-05-18 16:22] klvnraju commented on #184
Can you try reproducing the issue again? We changed our auth flow and hence wanted to check if that has fixed the issue or not.

[2020-05-18 16:27] Chuxel commented on #117
This is also blocking the use of noVNC for a VS Code development container we're looking into.

[2020-05-18 17:27] legomushroom commented on #136
So looking on this thread looks like the browser does not properly open the URL then? Wondering if that might be some type of URL encoding issue.

[2020-05-18 17:42] rido-min commented on #184
I cannot repro anymore

[2020-05-18 18:03] nikmd23 opened #512 "Deep link doesn't work through login flow"
Reported by @GraemeMalcolm

---

When clicking a deep link to create a new codespace, if I'm not already signed in I get redirected to do so and the deep link parameters for creating the new workspace are lost. Pretty sure this used to work OK.

[2020-05-18 18:04] nikmd23 opened #513 "Theme not persisting?"
Reported by @GraemeMalcolm

---

If I set "window.autoDetectColorScheme": true and "workbench.colorTheme": "Default Light+", the new codespace remains in the default dark color theme until I refresh - and then on thr next refresh it resets back to the dark theme. Is there a way to make the color theme update without the user refreshing, and to persist?

[2020-05-18 18:05] jkeech commented on #512
@klvnraju, this is probably related to the new oauth redirection flow. I think we need to add the deep link param content via the state param or something else (store in local storage and retrieve after the sign in flow completes?, etc).

[2020-05-18 18:07] jkeech commented on #513
@GraemeMalcolm, how are you setting these settings? When I change themes in a Codespace, it applies immediately without a refresh.

[2020-05-19 03:45] nbarkhina commented on #509
@jkeech yes it worked when I did it from VS Code on the desktop

[2020-05-19 04:35] KennyChen0909 commented on #511
@jkeech I'm creating codespace from VS code.  I have local git client installed and here is the result I run `git ls-remote`

[code]
Now the error changes to could not read password:
![image](https://user-images.githubusercontent.com/40878442/82285072-1f423700-99cd-11ea-9244-da550ed91c42.png)

[2020-05-19 04:39] jkeech commented on #511
Thanks @KennyChen0909! @edgonmsft, can you take a look?

[2020-05-19 05:10] jkeech commented on #503
After some more experimentation, the best way for us to ensure the bash history gets written it to first kill the VS Code server process inside the container before executing `docker stop` during suspension. Killing the VS Code server process will tear down the child bash processes correctly which gives them a chance to write out the history to disk before the container is stopped.

[2020-05-19 05:29] jcansdale commented on #472
I think the 2nd `export` should have been:

[code]

Not sure what I was thinking there. :blush:

[2020-05-19 05:50] bpasero commented on #509
@jkeech VSCode has 2 strategies for downloading:
* up to 1 MB files are downloaded via blob URI (see https://github.com/microsoft/vscode/blob/4af9b3e29a2d23941cd70bd26366a394407d5403/src/vs/workbench/contrib/files/browser/fileActions.ts#L1099)
* larger files are downloaded by producing an anchor tag with download attribute

You are still seeing https://github.com/MicrosoftDocs/vsonline/issues/292

[2020-05-19 06:43] jrieken commented on #136
That's likely to happen when our URI implementation enters the browser world. We have some some unfortunate issues with uri encoding that, for compatibility reasons, we cannot fix anymore... Do you have some code pointers or details that I could check out?

[2020-05-19 10:45] agocorona opened #514 "my codespace does not resume"
(My codespace does  not resume)
After two months of working fine, my environment haskelldev2 does not start since a day ago.  I tried many times. I have valuable commits still not pushed to my Github  repo.  Other test environment works fine.

[2020-05-19 14:08] jkeech commented on #514
Hi @agocorona, sorry to hear that. Can you provide your environment Id (or the url in the browser when it’s on the loading page)? We will look into what is going on and try to recover it.

We have seen this once before if the disk usage fills up to the maximum size. Sometimes the container cannot restart if the disk is full. Is it possible that you have used all 64 GB of disk space?

[2020-05-19 14:48] tashbaugh commented on #491
Using the default image via the web I can:

- update the file permission on sysctl.conf
- modify the file and add an entry to it
- save the file
- open the file again and see the modification made to the file.

In the case of #486, I can add the vm.max_map_count setting to the sysctl.conf file, but it does not seem to be applied to the kernel.

[2020-05-19 14:57] jkeech commented on #491
@tashbaugh, I don't think you'll be able to update `vm.max_map_count` since that's the kernel level setting on the host, and it won't be reflected when just updating inside the container. That's a different issue that the one that @lostintangent is describing.

[2020-05-19 15:07] tashbaugh commented on #491
@jkeech, correct it is a different issue, as detailed in #486. If you have any ideas on how to solve that problem I would appreciate your input on #486

The point I was trying to make with my comment here is that, as you indicated, you can modify this file via the web and to let @lostintangent know that if while investigating #486 he was trying to set that value in sysctl.conf it was all for not.

[2020-05-19 15:43] jkeech commented on #292
Reopening since this error still happens for large file downloads (such as #509)

[2020-05-19 15:44] jkeech commented on #509
Thanks. I've reopened #292. We can track this issue over there and close this one.

[2020-05-19 15:44] #509 closed

[2020-05-19 15:48] tashbaugh commented on #486
Just an update here, ElasticSearch recommends updating the setting in the /etc/sysctl.conf file as [referenced here](https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html#vm-max-map-count) however this does not apply from inside the container. Still looking for options on how to satisfy this requirement of ElasticSearch when leveraging Codespaces as a development en

[2020-05-19 15:55] jkeech commented on #486
I don't think this is currently possible, but we are making some changes soon that will enable this. I would expect it to work as follows:

1) Use a custom container via `devcontainer.json`
2) In the `devcontainer.json` specify a custom mount that mounts `/etc/sysctl.conf` on the host into `/etc/sysctl.conf` inside the container
3) You should then be able to update the file within the container wh

[2020-05-19 16:08] jkeech commented on #486
One thing that would be problematic though is that since the file would be bind-mounted from the host, the changes would not be persistent across suspend + resume. You would potentially need to re-run the command after resuming since you will be on a fresh host.

@chuxel, this is another use case where we might need some sort of `resumeCommand` in `devcontainer.json`. Any scenarios in Codespaces t

[2020-05-19 16:11] Chuxel commented on #486
Yes I agree. @chrmarti Is looking at `postStartCommand` and `postAttachCommand` this iteration for Remote - Containers.  Anything you want to happen whenever the containers starts (create or resume) can go in the first. https://github.com/microsoft/vscode-remote-release/issues/2772

I believe its in insiders now.

[2020-05-19 17:44] cmbrose commented on #507
@lucamorelli we unfortunately don't have an immediate solution for supporting aliased accounts in the vs code extension, although we are currently working on SSO which will allow it like @jkeech mentioned.

In the meantime, our [portal](https://online.visualstudio.com/environments) does support these types of accounts so you can use that to create plans and codespaces.  Once created, you can then

[2020-05-19 17:56] agocorona commented on #514
#jkeech  thanks a lot for your feedback.
It  should not have filled the disk. Maybe by some bug I don't know yet.

The URL is:
https://online.visualstudio.com/environment/28660be8-34ee-455c-a499-787d922b3a4b

[2020-05-19 20:41] aeisenberg opened #517 "Drag and drop large files (> 80MB)"
I am using codespaces for this workspace: https://github.com/aeisenberg/vscode-codeql-starter. Part of the workflow is for users to upload archive files into the workspace through drag and drop. My experience is that archive files of ~40MB can be uploaded with no problem. But archives of ~80MB cannot be. When I try to drag and drop large files, the operation silently fails. Is this expected and is

[2020-05-19 21:01] jkeech commented on #517
This looks like the inverse of #292, #509. From @legomushroom offline:

cc @legomushroom @bpasero

[2020-05-19 22:45] legomushroom commented on #514
@agocorona could you try again and let us know if you are able to resume now.

cc @edgonmsft

[2020-05-19 23:11] agocorona commented on #514
It does resume, but the content has disappeared and it appears to be a blank codespace, with README only. I wanted to recover my content...

[2020-05-19 23:13] edgonmsft commented on #514
@agocorona
Hi, let us check the data in your storage account and get back to you.

[2020-05-19 23:19] agocorona commented on #514
@edgonmsft  thanks a lot!

[2020-05-20 00:09] legomushroom commented on #514
@agocorona can you try now? The files should be back.

[2020-05-20 00:44] agocorona commented on #514
Seems that it does not resume now...

[2020-05-20 02:21] Sybregunne commented on #415
Hi I am running into the same issue.
`vso start`

`sudo lsof -i -P -n | grep vso`
comes up empty

`ps -aF`

`cat 20200520_003311.1_CLI.log`

`cat 20200520_003311_CLI.log`

`vso --version`

System is a VPS running Debian 9
`uname -a`

It's been running for almost 2 hours and nothing has changed. Is there anything I can do to try to make this work?

[2020-05-20 02:59] jkeech opened #518 "Specifying multiple docker compose files fails"
If you specify multiple docker compose files in the `devcontainer.json`, the Codespace spins up with an invalid `docker-compose` command line. Notice the missing space:

`docker-compose -f docker-compose.yml-f docker-compose.codespaces.yml config --services`

Expected:
`docker-compose -f docker-compose.yml -f docker-compose.codespaces.yml config --services`

Repro: https://github.com/jkeech/fastpa

[2020-05-20 05:32] Coding-Fusion opened #519 "Failed to Connect Remote Extension Host Server"
****Self Hosted Code Space****

I have Mac OS, Installed VS Code already, Installed Azure Account Extension , Signed in

So once signed in Key chain added,
It fetched the Plan,
Registered the instance, select local repo,

Once trying to connect from CodeSpace Online environment, it shows my remote codespace
But once Visual Studio Opened, I can see below error under repos

**Error -Failed to start

[2020-05-20 05:57] bpasero commented on #517
Could be https://github.com/microsoft/vscode/issues/83565

@isidorn

[2020-05-20 06:09] chrmarti commented on #486
(Not in insiders yet. I plan on publishing a new version next week.)

[2020-05-20 08:27] isidorn commented on #517
Yeah feels like a duplicate.

[2020-05-20 10:24] gro1m opened #520 "FailedToRegisterResourceProvider"
Although Microsoft.VSOnline was registered for the subscription that I wanted to create a *VSO Billing Plan* for, I got the error message `FailedToRegisterResourceProvider`. I managed to get it working by unregistering and then registering Microsoft.VSOnline again, but I guess this should work out-of-the-box. So I thought I make you aware of this issue.

[2020-05-20 12:04] gro1m opened #521 "Question: Timeline for certain features"
I would like to have some guidance or timelines when some of the components below could be addressed or if they ever will be addressed, because I have to test if we should licence VS Online at our company.
- It would be nice if there could be a https-only connection from VS Online to registered Compute Target from Azure Machine Learning Workspace (WebSockets are not supported at our company I gues

[2020-05-20 12:08] gro1m opened #522 "Sign-in loop for Chrome 81 on MacOS Mojave 10.14"
Same as in https://github.com/MicrosoftDocs/vsonline/issues/362, but for:
Chrome 81 on macOS Mojave 10.14.

[2020-05-20 12:28] McMlok commented on #442
I have same issue behind corporate proxy with local proxy used for auth on corp proxy. I try from PowerShell 7 Invoke-WebReguest against provided URL with this results

PowerShell set to use directly corp proxy
[code]
For PowerShell set to use local proxy same result as above

I use as local proxy [PX](https://github.com/genotrance/px)

[2020-05-20 12:56] sevakraynov commented on #184
@klvnraju @legomushroom
can not reproduced, i logged in

[2020-05-20 13:05] bpasero commented on #517
@aeisenberg can you share such a file for me to reproduce? I was just now able to upload a >100MB file when testing locally.

[2020-05-20 13:37] klvnraju commented on #184
Thanks a lot for letting us know.

[2020-05-20 13:42] klvnraju commented on #522
Thanks for reporting. We are looking into it and will get back to you shortly.

[2020-05-20 15:38] aeisenberg commented on #517
Here's a link to one I'm hosting.

https://drive.google.com/file/d/1J-cF468nUqlEeAkSuussfajXi5FyGheY/view?usp=sharing

@bpasero did you test on a local machine or are you connecting remotely? If the problem is indeed related to bandwidth, have you tried artificially throttling your upload speed and seeing if you can reproduce that way?

[2020-05-20 16:10] bpasero commented on #517
Tested locally. Do you see errors in devtools when this fails?

[2020-05-20 18:05] lucamorelli commented on #507
Ok, thanks. I'll try that way.  Just a question. I don't remember how to connect to a my existing Vs online repo so i can work to an.existing project both singolo codespaces andare local clones

[2020-05-20 18:22] edgonmsft commented on #514
Hi @agocorona!

Sorry for the delay, it appears that there was some filesystem corruption.

Can you validate now?

By the way I noticed that this was an environment created a long time ago, we have made improvements since then to avoid this kind of issue but to get them you need to create a new environment. If possible I recommend you migrate to a new one.

Can you let me know if its working now?

[2020-05-20 18:25] jabbera commented on #2
Hi,

Any update on the progress of https://github.com/MicrosoftDocs/vsonline/issues/149?

Cheers!

[2020-05-20 18:26] aeisenberg commented on #517
There are no errors directly in the UI, though the page goes into a reconnection loop. I'm attaching the devtools log output here, which may contain some useful details.
[github.com-1589999110175.log](https://github.com/MicrosoftDocs/vsonline/files/4658642/github.com-1589999110175.log)

[2020-05-20 19:03] agocorona commented on #514
It    works. Thanks  a  lot

Sure. I just  want the code. I have  a new environment and I  will delete this as soon as I have the code out of it.
You can close the issue.  Thanks  again.

[2020-05-20 19:04] edgonmsft commented on #514
Great!

[2020-05-20 19:04] #514 closed

[2020-05-20 19:14] legomushroom commented on #184
Great, closing the issue.

[2020-05-20 19:14] #184 closed

[2020-05-20 20:10] cmbrose commented on #507
@lucamorelli sorry, I'm not fully understanding the question.  Are you trying to clone an Azure Dev Ops repo into a codespace?  If so, you can paste the full git clone url into the `Git Repository` textbox of the codespace creation pane in the portal.

[2020-05-20 21:24] wpbrown commented on #347
This issue can be overcome by using the link in the console. The link passes the token as a query parameter in the URL. However once you are in, you won't be able to do anything useful because of https://github.com/MicrosoftDocs/vsonline/issues/213 .

[2020-05-20 21:47] sterlingssmith opened #524 "When i attempt to install Codespaces extention I receive error message."
Connect to Codespace: Fetch workspace list request failed with status 404

[2020-05-20 22:15] hamelsmu commented on #347
Yeah #213 would be really useful to fix as it would unblock using Jupyter notebooks on GitHub in addition to VSCode, which would be amazing!

[2020-05-20 23:50] legomushroom commented on #522
I was not able to repro in `Chrome 81`, `Catalina 10.15.4` @plisy are you using Mojave by chance?

[2020-05-21 00:12] legomushroom commented on #136
@jrieken no code pointers, that redirection comes from the AAD app redirect:

1. Install the `Codspaces` extension.
2. Invoke the `Codespaces: Sign In` command.
3. Notice that upon successful auth, AAD will redirect directly into the `vscode://` protocol handler URL. <- looks like this is where the issue happens.

[2020-05-21 00:47] nikmd23 opened #525 "Multi-root workspaces not working."
Reported by @CarlKinghorn at https://twitter.com/CarlKinghorn/status/1263263547112542211?s=20

---

Steps to reproduce:
- new codespace
- add 'src' folder
- add 'Project1' sub folder
- add 'Project2' sub folder
- Right-click "Add folder to workspace" and select the 'Project1' folder
- Browser reloads and "No Folder Opened" is in the explorer pane

[2020-05-21 01:57] jkeech commented on #525
Closing as a duplicate of #449

[2020-05-21 01:57] #525 closed

[2020-05-21 02:03] jkeech commented on #524
@sterlingssmith, can you provide some more context on the steps you took to get this error?

* Was this in the browser or on the desktop VS Code?
* Did it happen after the extension install?
* Did you do any sort of sign in first?
* Are you using VS Codespaces or Codespaces in GitHub?
* If Codespaces in GitHub, are you in the beta?

It looks like this error would only ever happen for Codespaces in

[2020-05-21 02:08] sterlingssmith commented on #524
Sure, @jkeech-
- This occurs on the desktop version of VS Code.
- It happened after the extension install
- I did authenticate via github
- I'm using VS Codespaces (but would prefer to use Codespaces in Github) just sayin' :)
- I've applied to Beta, awaiting response.

[2020-05-21 02:12] sterlingssmith commented on #524
@jkeech- Steps to test:
1. Open VSCode
2. Open Command Palette
3. Click on 'Connect to Codespaces'
4. Error Message model pops up in bottom right hand corner stating: Connect to Codespace: Fetch workspace list request failed with status 404

**Additional info:** I've uninstalled extension and re-installed as well as uninstalled VS Code and reinstalled. I'm able to login to web version of VS Code v

[2020-05-21 02:13] jkeech commented on #524
@sterlingssmith, thanks for the info. For VS Codespaces, ensure that the `vsonline.accountProvider` setting is set to `Microsoft`. Based on the error message, I suspect it is set to `GitHub` currently. The `GitHub` setting will only work after you are accepted to the Codespaces beta in GitHub.

When the account provider setting is set to `Microsoft`, it will show your VS Codespaces (the same ones

[2020-05-21 02:17] sterlingssmith commented on #524
That did it! Thanks my man.

[2020-05-21 02:17] jkeech commented on #524
Glad to hear! I'm going to close this issue, but please open up another one if you hit any other issues.

[2020-05-21 02:17] #524 closed

[2020-05-21 12:39] mbreese opened #526 "Can't load subscriptions"
I'd like to try VSO, but when I try to create a new Codespace Plan, the online tool fails to find my Azure subscription. I'm not quite sure what is going on...

Note: I just created my Azure account, but I've been able to create new VMs, etc through the azure portal. I don't know why the subscription isn't appearing for VSO.

I'm using Chrome on Mac Catalina, but I also tried using MS Edge in a Wi

[2020-05-21 14:35] lucamorelli commented on #507
Hi, I tried twice, first with an angular app and second with an asp.net core solution, but in both cases gives me error while cloning

[2020-05-21 15:54] jkeech commented on #521
Hi @gro1m, can you clarify the first issue? Codespaces does not limit any sort of outbound https connections from the Codespace to any other internet-accessible endpoint. I'm not sure exactly what the scenario is here, but it sounds like it might be a feature request on the Azure Machine Learning side of things?

The second and thirds issues are in flight. There are no exact dates, but those shoul

[2020-05-21 15:56] jkeech commented on #526
@mbreese, I think you are running into #39. We are working on supporting more tenants than the default tenant, but there's currently not a good workaround until that is in place ☹️.

[2020-05-21 16:02] jkeech commented on #464
The "default" tenant selection in the Azure portal just changes your preferences for the Azure portal, and doesn't change which tenant is considered the home tenant in AAD.

The problem is outlined in a bit more detail at https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant#update-your-code-to-send-requests-to-common

I think you are running into the

[2020-05-21 16:04] JustinGrote commented on #464
@jeech except my home tenant is not the one that is coming up in Codespaces.

[2020-05-21 16:29] taiyosogawa opened #527 "CLI should not require login with every command"
We would like to cache credentials so that an entire device login flow is not required on every CLI invocation.

[2020-05-21 16:30] taiyosogawa commented on #521
There wasn't a tracking issue, but I just created #527 for the credential caching.

[2020-05-21 16:30] cmbrose opened #528 "Timeout while cloning private repository"
Forking a new issue off #507

@lucamorelli reported this when trying to clone an Azure Dev Ops repo:

@lucamorelli can you provide the full error messages and also the codespace Ids (the guid in the browser Url).

cc @klvnraju

[2020-05-21 16:32] cmbrose commented on #507
Since that issue isn't related to the email aliases, I've forked #528 to track it and will close this one

[2020-05-21 16:32] #507 closed

[2020-05-21 16:40] lucamorelli commented on #528
https://online.visualstudio.com/environment/8f59df30-0aaf-482d-a4fa-9c8660e46507

the code editor continue to show this

![image](https://user-images.githubusercontent.com/127777/82582307-26667200-9b92-11ea-88e7-c51c5b3f4d7f.png)

but if I open the main environtments page I see this

![image](https://user-images.githubusercontent.com/127777/82582537-83fabe80-9b92-11ea-9857-213a791aa4e9.png)

no er

[2020-05-21 18:11] darktears opened #529 "Fetching Plan doesn't work if behind a corporate proxy."
Hi,

On Windows, I can't get the extension to fetch my configured plans if I'm behind my corp proxy. My proxy environment variables are set, the settings in Visual Studio code also set the proxy and everything is working just fine (extensions can connect, I can browse the market place, etc...).

However it fails over there when I try to select my plan (it may fail later, haven't been able to try a

[2020-05-21 18:32] dclayh opened #530 "Cannot create new codespace in existing RG"
We had a VS Online billing plan/codespace set up in a shared resource group. Recently (around the time of the codespaces rebrand), we have been unable to access either the existing codespace (or any environments within it), or create a new one, despite having full owner privileges to that RG. The error message is only "The resource validation failed."

[2020-05-21 18:40] jkeech commented on #530
@dclayh, what action are you taking when you get that message? You could be running into subscription quota limits for the number of plans when creating new plans: https://docs.microsoft.com/en-us/visualstudio/online/resources/faq#what-are-visual-studio-codespacess-quotas

Today each plan is only usable by the person who created it originally, regardless of who can see it in the Azure portal. #146

[2020-05-21 19:08] dclayh commented on #530
The action for that message is clicking "create" on the "Create a billing plan" panel.

I wasn't aware of these restrictions/quotas, that's very likely the issue then. Two followup questions:
1. Is it possible to see in the azure portal who created the plan?
2. Can we request changes to the default quotas through MS support?  This is a very large (enterprise) subscription, so only 2 plans would be

[2020-05-21 20:05] darktears commented on #529
It's reproducible on macOS as well. Same error.

[2020-05-21 20:16] mbreese commented on #526
Wow was that a chase...

I'm still pretty new to Azure, so not quite tied into the full Azure Active Directories, etc... (I'm fairly familiar with LDAP though).

I could confirm that VSO was getting a list of multiple tenants by looking at the requests made in the Chrome network inspector. Calls to https://management.azure.com/tenants?api-version=2019-05-10 showed multiple tenants.

Turned out tha

[2020-05-21 20:16] #526 closed

[2020-05-21 20:23] jkeech commented on #530
If the plan has been created in the past 90 days, you can look in the Activity Log for the plan, and look for the event when it was created. It will tell you who initiated the event. If it's older than 90 days, there's not a great way to check today.

We are working on adding an easier way to do this by integrating with the Usage and Quotas section of the Subscriptions blade, but you could still r

[2020-05-21 20:25] legomushroom commented on #86
closing as dup of https://github.com/MicrosoftDocs/vsonline/issues/136

[2020-05-21 20:25] #86 closed

[2020-05-21 22:14] TsuyoshiUshio opened #531 "vso-cli fails by ErrorCode : Forbidden"
According to this blog post, I tried vso cli.

https://devblogs.microsoft.com/visualstudio/bring-your-own-machine-to-visual-studio-online/
I tried Windows and Linux. However, the result was the same.

## Execution Log
This execution log is on Windows 10 machine.  I logged in with MSFT subscription.

[code]

## Version
[code]

[2020-05-21 22:24] TsuyoshiUshio commented on #531
Self solved. I already had three code spaces projects.  I remove some of them. Then the Fobbiden was gone. I'm happy to close this issue, however, I keep it until some owner watch this issue to share the experience. Thanks.

[2020-05-21 22:34] jkeech commented on #531
Thanks. There have been a couple other issues filed for the same problem. I think we need to have a better error message here. @Davsterl, do you want to use this issue to track the better user experience when users are registering the self-hosted Codespace and are at the limit?

[2020-05-22 00:09] Coding-Fusion commented on #519
Can you look into the issues?

[2020-05-22 00:42] taiyosogawa commented on #519
@Coding-Fusion, thanks for reporting this issue. We can start diagnosing with a couple things:

1) Can you verify that the agent is running on your Mac OS host. Run `ps aux | grep vsls-agent` and see if you see that a process is running.
2) Logs are output to `$TMPDIR/VSFeedbackVSRTCLogs` on the host machine. Try looking for any errors reported to this directory when you try to connect and let me

[2020-05-22 01:46] Coding-Fusion commented on #519
Hi Taiyo,

Here is the logs below

Debraths-MBP:mslearn-tailspin-spacegame-web debrathbanerjee$ ps aux | grep vsls-agent
debrathbanerjee  25083   0.0  0.4  6891648  67548   ??  S    Wed12AM   0:12.46 /Users/debrathbanerjee/.vsonline/cli/VSOAgent_osx_3720468/vsls-agent --pipe VSLS-SH-debrathbanerjee --service https://prod.liveshare.vsengsaas.visualstudio.com/api/v1.2/ --signalRServiceUri https://si

[2020-05-22 04:17] JoshuaToenyes commented on #335
This is happening to me as well on Chrome OS. For what it's worth, a similar thing occurs when authenticating with the Azure Account extension. Seems like when the window is closed/re-opens the credentials are lost.

Has there been any progress or new insights on this issue?

[2020-05-22 08:31] gro1m commented on #521
Hi @jkeech
Thank you for your elaborate and very informative answer.
I had to realize that I got it wrong with the first issue, it is really our company's connection to Visual Studio Codespaces and the Compute Target (and not the connection from Visual Studio Codespaces to the Compute Target and vice versa) that does not work and I think we can resolve this when we decide to licence VSO definitive

[2020-05-22 13:20] acgetchell opened #532 "Infinite login loop"
I am logging in using my UC Davis campus account. It looks like it’s getting bounced due to our use of Duo 2-factor.

[2020-05-22 14:12] bpasero commented on #517
Yes, I was able to reproduce the reconnection dialog as well, but cannot tell why that happens in codespaces.

[2020-05-22 14:28] bpasero commented on #136
@legomushroom to see if this is is an encoding issue from the browser, you can use this command in VSCode to directly open a link:

![image](https://user-images.githubusercontent.com/900690/82678040-38571c00-9c49-11ea-858b-57db75fc2ade.png)

Just paste the `vscode` link into there to simulate it being opened from the OS. If that still fails, then maybe it is unrelated to the browser.

[2020-05-22 14:54] Coding-Fusion commented on #519
Any findings Taiyo , why Codespace could not able to connect with local repo

Debrath

On Thu, May 21, 2020 at 8:46 PM debrath banerjee <banerjee.deb6@gmail.com>
wrote:

[2020-05-22 16:16] Coding-Fusion commented on #519
[log.zip](https://github.com/MicrosoftDocs/vsonline/files/4669208/log.zip)

[2020-05-22 16:17] Coding-Fusion commented on #519
Attached logfiles from  $TMPDIR/VSFeedbackVSRTCLogs

[2020-05-22 17:15] taiyosogawa commented on #519
@Coding-Fusion, I looked through your logs. Although there are a few lines that look like errors, most were not applicable to this scenario and were non-impacting. I believe the server started correctly but failed to connect to Azure Relay:

[code]
@jasongin, have you seen this error before?

[2020-05-22 18:08] Coding-Fusion commented on #519
No , I am first time trying configure that CodeSpace as per documentation, But not sure why its failing

I have attached full log file with the case too

Thanks
Debrath

From: Taiyo Sogawa <notifications@github.com>
Reply-To: MicrosoftDocs/vsonline <reply@reply.github.com>
Date: Friday, May 22, 2020 at 12:15 PM
To: MicrosoftDocs/vsonline <vsonline@noreply.github.com>
Cc: debrath banerjee <banerjee

[2020-05-23 00:37] dilmerv commented on #468
Thanks for this info, I am experiencing exactly the same behavior, can you guys add a dismiss the banner and store the state so that it doesn’t display again?

Thanks Safari works best but I see that ugly banner...

[2020-05-23 06:09] simkimsia commented on #455
Hi @jkeech

I have tried.

It works on https://online.visualstudio.com/environments  but not in vscode desktop app which takes forever and doesn't work.

What should I do?

By the way, I appreciate that this is still under preview so I'm sure a lot of amazing improvements are happening.

But please don't forward me to another team handling VSCode desktop

I have paid for support on Azure. Does it

[2020-05-23 06:43] rroman81 opened #533 "Unable to start VS Code and connect Code space"
I recently created the Code Space and can connect to it via browser.  Then, i followed the  option to "open in VS code" which asked me to install the extension for "Remote Development".
Upon finishing, i am attempting to connect to code space and getting this error in the log:
[code]

[2020-05-24 01:19] danecreekphotography opened #534 "Building a new codespace from git fails when trying to build container"
To reproduce:

1. Create a new codespace pointing to an existing git repo

Result: It fails
Expected result: It works

As far as I can tell this appears to be a typo in the build script Codespaces uses after pulling a git repo. It looks like there is a space missing in the `docker-compose` command line that's run to try and start building the containers from the repo:

[code]

[2020-05-24 02:44] danecreekphotography commented on #534
Adding more details after a Twitter convo: this is because I'm using multiple docker-compose.yml files:

[code]
(As an aside, this also will fail because the backslashes are no bueno. VSCode should pre-populate with forward slashes...)

[2020-05-24 02:45] edgonmsft commented on #534
Thanks! I’ll check that too.

[2020-05-24 02:47] danecreekphotography commented on #518
I hit this too, #534

[2020-05-24 04:34] danysdragons opened #535 "Unable to create codespace despite plan and resource being visible in Azure portal"
I wanted to test out the browser-based version of Visual Studio Codespaces. I am using my Azure account for michael.hamel@canada.ca

When trying to get set up at https://online.visualstudio.com/environments:
-	I pressed the “Create Codespace” button, and was prompted to create a billing plan.
-	I selected my Azure subscription “Visual Studio Enterprise” and pressed “Create”.
-	Saw an error message

[2020-05-24 21:32] danecreekphotography opened #536 "node:alpine containers fail to start up due to bash dependency"
I have a project based on node:alpine that works great using Dev Containers. Unfortunately it doesn't seem to start up in Codespaces due to a script getting run with bash (which isn't available on Alpine).

It looks like the offending command is:

Here's the full output:

[code]

[2020-05-24 22:03] danecreekphotography commented on #458
I hit this today when I was pushing myself past #536. Added bash to my container's Dockerfile (ick) and got past the bash problem then encountered this one.

[2020-05-25 02:16] KennyChen0909 commented on #511
@jkeech @edgonmsft can we have an update? If I create it from browser, it is working fine. Not sure why it happens on the VS code destop

[2020-05-25 03:38] marlonfan commented on #444
I had the same problem.

[2020-05-25 17:51] GabbySF opened #537 "Self Hosted: vso start as temporary process"
Hi,
I am trying to run a self hosted vso in wsl 2. It works fine by running it as temp process.
My question is how do I start the process again after I reboot my system?
What parameter I need to pass to vsls-agent on the following start up?

Thanks

[2020-05-26 03:12] jkeech commented on #535
We need to improve the error message, but this usually means that you've exceeded the [plan quota](https://docs.microsoft.com/en-us/visualstudio/online/resources/faq#what-are-visual-studio-codespacess-quotas). Deleting other existing plans in the subscription would allow you to create a new one.

The Codespaces portal only shows your plans, whereas the Azure portal shows all plans. Today, plans ar

[2020-05-26 03:13] jkeech commented on #534
Closing as a duplicate of #518

[2020-05-26 03:13] #534 closed

[2020-05-26 03:29] jkeech commented on #533
This looks similar to the error in #335, although based on the paths in the logs, it looks like this is happening on Windows. @legomushroom, @cmbrose can you help take a look at this?

@rroman81, can you try this potential workaround of removing the cached credentials? https://github.com/MicrosoftDocs/vsonline/issues/335#issuecomment-614949525. In Windows, the credentials are stored in the Credent

[2020-05-26 03:39] jkeech commented on #455
Hey @simkimsia, this is the right place for support for Codespaces, which includes both the desktop extension and the web-based editor. Glad to hear that it's working in the web. We'll work with you to figure out what's going on on the desktop.

We will likely need to look at the logs on the client side to see what it going on with it not connecting. Can you provide the following information to he

[2020-05-26 03:46] jkeech commented on #521
@gro1m, Thanks for the details. It sounds like you might be describing a scenario where the compute target is inside of a VNET and isolated at the network level from the public internet. If so, upcoming VNET support over the next couple months could help. The VNET support will allow you to attach a Codespace to a private VNET in your subscription, which could be the same VNET where the compute tar

[2020-05-26 04:24] jkeech commented on #293
@dmgardiner25 merged a fix that allows the `enableSuspendOnIdleConnection` setting changes to be picked up while VS Code is running. Previously, it only picked up the changes on reload, so if you changed the setting value while VS Code was running, it wouldn't apply until the next restart/reload. That fix should be deployed this week.

[2020-05-26 06:08] simkimsia commented on #455
![image](https://user-images.githubusercontent.com/245021/82865758-1bc52780-9f5a-11ea-804f-07c20f09b23e.png)
![image](https://user-images.githubusercontent.com/245021/82865776-2384cc00-9f5a-11ea-9692-29ad9ab70dd9.png)

Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:33:47.663Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: D

[2020-05-26 08:30] gro1m commented on #521
@jkeech Yes, that is it: If the Codespace and the compute target is in the same VNET that would be perfect:)

[2020-05-26 08:34] gro1m commented on #522
It is a colleague of mine that had the issue (therefore I can unfortunately not give you full details), but the hardware is 7 years old and he can apparently also not access the Microsoft Learning Websites. But he can still use the Azure Portal. As the problems are not VSO-only, I think we could close this issue.

[2020-05-26 10:42] danysdragons commented on #535
Good morning @jkeech

I hadn’t realized I had created all those plans until I looked in the Azure portal - I had thought the process was just failing completely, so had come back to try again a few different times. I wasn’t using shared plans, and I have _never successfully created a Codepace up to this point_.

Before creating my issue I had removed the extra (Resource group, plan) pairs, and tri

[2020-05-26 12:50] Khumbu30 opened #538 "VScode"
I am running the code cell and it is giving Compute Target : NameError

[2020-05-26 15:12] danysdragons commented on #535
In issue https://github.com/MicrosoftDocs/vsonline/issues/452 @cmbrose mentioned a bug in the user lookup, and did an ad hoc update to unblock the user. Could something similar be done in my case?

[2020-05-26 15:43] jkeech commented on #535
@cmbrose is going to look at the backend today and see if it's the same issue. If so, then yes we can fix it up for you. We're still working on the longer term fix that will fix up the small set of accounts that are in this state.

[2020-05-26 16:09] cmbrose commented on #535
Yeah, it does look like the same error as before.

I've just don't the adhoc fix - @danysdragons can you check the Codespaces portal again now and check if you can now see your plan in the dropdown?  It should just appear, you shouldn't need to create a new one.

[2020-05-26 16:20] dmgardiner25 commented on #491
@lostintangent I'm going to go ahead and close this as it seems to be an issue on VS Code's side. Check out https://github.com/microsoft/vscode-remote-release/issues/1688.

[2020-05-26 16:20] #491 closed

[2020-05-26 16:22] lostintangent commented on #491
Sounds good. Thanks!

[2020-05-26 16:49] danysdragons commented on #535
I do see the plans showing up in the dropdown now, and I was able to create a Codespace successfully just now. Thanks guys for taking care of this so quickly!

[2020-05-26 16:50] cmbrose commented on #535
Excellent!  I'll go ahead and close this one up then

[2020-05-26 16:50] #535 closed

[2020-05-26 19:22] jasongin commented on #519
Sorry I don't know anything about that `NameRenewalFailed` error. Maybe the relay team will have more insight.

[2020-05-26 19:40] ryuuji3 opened #539 "VSCode git controls not compatible with installed git"
When trying to use "Stash" command in VSCode UI, git fails to stash because the git doesn't have support for `git stash push`

Git logs:
[code]

Installed git version is 2.11.0.

I've considered installing from source, as there are no packages available for the installed linux distro.

[code]

Is there a good way to update git on the codespace?
I'm using a desktop VSCode client if that makes a dif

[2020-05-26 20:28] cilerler opened #540 "Can not change subscription"
I have several subscriptions, and It shows a non-default subscription and does not allow one to pick another.

@lostintangent said on **Nov 5, 2019**, waiting since then.

![image](https://user-images.githubusercontent.com/385958/82935563-3e0b7500-9f5b-11ea-9192-66bd18a61afa.png)

![image](https://user-images.githubusercontent.com/385958/82935751-8fb3ff80-9f5b-11ea-98dc-bd1cc8fe1174.png)

[2020-05-26 22:37] jkeech commented on #539
@dmgardiner25, we should update the version of `git` that ships with the base image.

@ryuuji3, you could always install from source or use a custom image that has a newer version of git, but the right fix is for us to just update to the latest version of git in the base image so you don't have to make any other changes. When we make updates to the base image, you will have to recreate the Codespa

[2020-05-26 22:50] jkeech commented on #455
@simkimsia, There is some UI in VS Code to manage the Codespaces as well as the command palette commands. I expect that the Codespaces also show up in this UI, but just want to double check. See this screenshot for more details:

![image](https://user-images.githubusercontent.com/746020/82957517-ff2fec00-9f67-11ea-86b4-f98726651091.png)

You can turn on the Output view and then switch to the "VS C

[2020-05-27 00:20] ryuuji3 commented on #539
Thank you! For now to avoid having to rebuild since I have some secrets I had to import, I will opt to build from source.

[2020-05-27 05:48] jkeech commented on #538
@Khumbu30, sorry you are hitting this issue. Can you provide some more details or steps for us to reproduce this problem?

This sounds like a configuration issue with setting up your compute targets. Are you trying to use Azure Machine Learning? Where is the machine that you are trying to target hosted? Is it visible on the internet for connectivity from the Codespace?

[2020-05-27 08:10] accessTechnology commented on #444
Same.... will never start

Also, "Running 'loginctl enable-linger'... failure"

[2020-05-27 08:20] accessTechnology opened #541 "VSO only starts if persistent service/daemon is set to no"
If persistent service/daemon is set to yes, device always hangs on "Waiting for environment to become available."

[2020-05-27 11:30] NCC1701M commented on #498
What is the state of this issue?

[2020-05-27 12:13] subhankars opened #542 "Connect to Visual Studio Codespaces(private preview only) option is missing in Visual Studio 2019 Community Preview"
I have signed up for Codespaces private preview and received a confirmation mail as below -

![image](https://user-images.githubusercontent.com/17920161/83016551-c4998280-a03f-11ea-8ad2-5b21a96f77af.png)

I followed the instruction as written in https://docs.microsoft.com/en-us/visualstudio/online/quickstarts/vs

When I try to enable Connect to Visual Studio Codespaces(private preview only) option

[2020-05-27 15:51] mjozan opened #543 "Unable to make a port forward with Codespace and docker-compose"
- Local Vscode version : 1.45.1
- MacOS 10.15.1
- Repository used : https://github.com/mjozan/docker-compose-django-react

Hello,

I am trying to setup a codespace enviroment with docker-compose launching three containers : django, react and a database using this repository : https://github.com/mjozan/docker-compose-django-react.

The containers are building well and are running but I am unable to

[2020-05-27 16:19] ljtill commented on #541
Also experiencing this behaviour (Ubuntu 20.04).

[2020-05-27 16:24] edgonmsft commented on #511
Hi @KennyChen0909!

Sorry for the delay. To give you more context on the desktop side what we do is call your local git installation directly.

Can you give me more information about your setup?
I noticed that the output you gave us shows MINGW. Are you using it in windows? Does git work on a regular command prompt?

Thanks!

[2020-05-27 16:26] jkeech commented on #543
@mjozan, can you confirm your app is running on port 3000/8000 on the remote side? Which containers are exposing those ports?

[2020-05-27 16:31] profexorgeek opened #544 "Doc Improvements Suggestions"
As I have been helping out with content over the past few months I have found a variety of things that could be improved over time. I'm posting my notes here as a checklist here for discussion and collaboration. Many of these are non-critical but will improve the overall docs experience and help maintain consistency with other doc sets.

The official MS Style guide is here for reference: https://d

[2020-05-27 16:47] mjozan commented on #543
Hello,

The `docker ps` command on the remote side says that the containers are running but I get `connection refused` when I try to connect to them with `curl` . Does it mean that the problem is not on the port-forward but in the containers?

![image](https://user-images.githubusercontent.com/17133333/83048678-44c4e580-a04a-11ea-9e9a-f4011ad267bd.png)

[2020-05-27 17:21] jkeech opened #545 "Add CODESPACES environment variable to all containers to detect when running in a Codespace"
Sometimes tools need to have special behavior when running in a Codespace vs running locally, so we should provide an easy way for any tool or VS Code extension to determine when it is running in a Codespace.

To do this, we should add an environment variable `CODESPACES=true` to the main container that is spun up, both for the default container and for custom containers.

[2020-05-27 17:50] jkeech commented on #543
I'm curious about the `django` container. In the `devcontainer.json`, you've specified that as the main container. Is the Codespace currently connected to the `django` container? If so, does `curl localhost:8000` work from the terminal? I would expect that to work since it's inside the same container.

The `frontend` container is running on port 3000 both in the container and in the host VM, but t

[2020-05-27 20:17] mjozan commented on #543
Thank you for your answer.

By putting `network_mode: host` on the `django` service in `docker-compose.yml`, `curl localhost:3000` now works on the remote server and the port forward to port 3000 works on my local machine. Howver, `curl localhost:8000` still doesn't work and the `django` service does not have a port anymore :
![image](https://user-images.githubusercontent.com/17133333/83067764-861

[2020-05-27 20:21] DanTup opened #546 ""UNRESPONSIVE extension host, 'ms-vsonline.vsonline' took 100% of 1190.855ms""
Not sure if this is the correct repo, but I had this when loading a project today. It's stable VS Code on Windows (in a standard local session).

![Untitled](https://user-images.githubusercontent.com/1078012/83068065-97f56300-a05f-11ea-86ab-41c3006160c8.png)

- [exthost-aea0b4.cpuprofile.txt](https://github.com/MicrosoftDocs/vsonline/files/4691566/exthost-aea0b4.cpuprofile.txt)
- [exthost-c503da.c

[2020-05-27 21:43] jkeech commented on #543
Is django actually running in the container? Can you confirm the process is running on the requested port inside the container? It sounds like it isn't running based on your description.

Since the Codespace is running inside the django container, there should be no issues related to docker networking or port forwarding involved in you accessing the django app from the terminal. Once that is worki

[2020-05-27 22:59] jkeech commented on #543
I created a Codespace from your repo, and it looks like django is not responding to the HTTP requests correctly. Something is running on port 8000, but it's returning empty responses sometimes and other times resetting the connection. There are no logs printed that I could find, so hard to troubleshoot without more knowledge of the project.

...

If you get django running in the container though,

[2020-05-27 23:53] mjozan commented on #543
It is actually not working (even by launching `docker-compose` locally) because of the `network_mode: host` I put on the db service. I switched from django to db just to see if it would change something. I try to understand how docker manages networks to make it work with the `service` property in `.devcontainer.json`

[2020-05-28 00:57] rroman81 commented on #533
i think that's the issue here with cached credentials.  When I re-login to Azure, i was able to see the codespace. So it's fixed.

[2020-05-28 01:26] #533 closed

[2020-05-28 03:12] chkn commented on #498
@NCC1701M We are investigating and will post any updates here. Thanks for reporting this!

[2020-05-28 06:38] simkimsia commented on #455
Hi there, I have a 5 min video that explains what I did, but how do I send you securely?

[2020-05-28 09:32] KennyChen0909 commented on #511
@edgonmsft Thanks. It's been busy for me recently. I will try it out and give you feedback soon

[2020-05-28 11:15] NCC1701M commented on #196
@fara-nak Whats the state of this issue?

In combination with #498 VS Codespaces is totally unusable. You can't run the app within the browser and you can't open the codespace in a local VSCode.

@chkn @fara-nak There has to be a solution as soon as possible!

The whole situation is pretty annoying

[2020-05-28 12:58] srivatsn commented on #487
Fixed.

[2020-05-28 12:58] #487 closed

[2020-05-28 14:06] vennim commented on #542
I have the same issue. Any update on this?

[2020-05-28 16:15] jkeech commented on #455
@simkimsia, feel free to email it to me: john.keech (at) microsoft (dot) com. You can attach the video directly or upload to a private youtube video and share the link. Also, if you could attach the log file contents directly would be helpful. Thanks!

[2020-05-28 16:39] mdireskeneli commented on #493
I am having the same problem. It is impossible to work with spring-boot & java applications in code spaces and use this port-forwarding. It works fine with node-js servers.

[2020-05-28 16:42] waltercoan commented on #493
@mdireskeneli if you install Visual Studio Code desktop and install the Codespaces extension, you can use Spring-boot and Java. You will code into your Visual Studio Desktop but the workload will be do into the codespace in Azure.

[2020-05-28 16:52] snickler commented on #542
Same on both Community and Enterprise.

[2020-05-28 17:02] acangialosi commented on #542
There are a couple bugs we need to wrap before we could publish the preview feature for Codespaces. The option to enable connecting to a Codespace in Visual Studio 2019 will be in 16.7 preview 2 that will release in a few days.
You also need access to create Windows Codespaces to create and work with Codespaces in Visual Studio 2019. We're slowly starting to add users to private preview of Windows

[2020-05-28 17:08] #542 closed

[2020-05-28 17:18] sumitsumit opened #548 "Critical: codespaces can no longer talk to our Azure DevOps git repo"
As of sometime yesterday, my existing instance could no longer push changes (it asked for a "Username" and "Password", which doesn't make sense for ADO), and when I tried to make a new workspace it fails with the below. As such I'm unable to use codespaces at all at the moment.

Cloning into '/var/lib/docker/vsonlinemount/workspace/XXXXXXX'...
fatal: could not read Username for 'https://YYYYYY.vis

[2020-05-28 17:20] edgonmsft commented on #548
Hi @sumitsumit!

A couple of quick questions, is this from the portal or from VS Code desktop?

In the case of desktop can you validate if you can still do this operations locally?

In the case of our web portal can you sign-out and sign-in again?

[2020-05-28 17:36] sumitsumit commented on #548
Hi @edgonmsft , thanks for the quick response! This is from the portal, https://online.visualstudio.com. I've tried signing out and in last night, and then tried from an InPrivate window. This time, it didn't show the username/password prompt, and hung the first time, but after a refresh and repush, it worked! Thanks!

The odd thing is that I had a session that was working fine and I was using all

[2020-05-28 17:40] edgonmsft commented on #548
Hi @sumitsumit!

Good to know it is working now. There are a couple of things that we plan to improve soon.

If you connect from multiple windows at the same time from different browsers or InPrivate connections the request for credentials might go to the wrong one and not succeed, giving you the error you saw. It could also be that the token had expired and needed to be renewed.

Sign-out and sig

[2020-05-28 17:47] sumitsumit commented on #548
Ah that would explain the periodic requests to sign out, which I ignore (because it wreaks havoc with my browser state, as I'm using a work and home domain simultaneously). I do this by just renavigating to online.visualstudio.com, which I can see interferes with the strategy above.

The best workaround for me might be to just always use an InPrivate window. It's a bit incovenient, but should avoi

[2020-05-28 22:51] luabud opened #549 "Make the Python Microsoft Language Server the default experience in VS Codespaces"
Hey there! I'm a PM working on the Python extension for VS Code, and the extension supports two IntelliSense engines: jedi (which is a 3rd party one and the current default experience for our users) and the Microsoft Python Language Server (MPLS). IntelliCode for Python depends on MPLS, so every time a user installs the Python extension, they'll see a notification prompt from IntelliCode asking to

[2020-05-28 23:23] nikmd23 commented on #545
Let me yes-and this. 😊

A `CODESPACES_INSTANCE_TYPE=[Basic|Standard|Premium|GPU|SelfHost]` (or some better name) would be useful as well. Users have indicated a desire to alter their dev environment in various ways (use emulated hardware, change out an underlying library, etc) depending on the place the Codespace is running.

[2020-05-28 23:30] jkeech commented on #545
If we were to do this, it would have to be done slightly differently, since it can change over the lifetime of the Codespace. For the main `CODESPACES=true` variable, I was planning on having `CODESPACES` be at the container level, but you can't change that after the container is created. The benefit is that it's visible to all processes in the container, even those not tied to the VS Code Server

[2020-05-28 23:46] jkeech commented on #549
Hey @luabud, the best way to enable this is actually to have the Python extension change the behavior of which LS is selected by default. I could imagine two potential ways this is implemented:

1) Check specifically if you are running in a Codespace. #545 will make this really easy by providing an environment variable to check. If you are in a Codespace, default to MPLS instead of jedi.
[code]
2)

[2020-05-28 23:50] lostintangent commented on #545
In order to alter their behavior based on SKU, I'd imagine that it would be more reliable for tools to feature-detect hardware directly, as opposed to relying on our SKU definitions to do it (e.g. you can call Linux commands to detect a CPU, core count, RAM). So it feels like it might actually be better if we have recommendation on how to do that (e.g. a doc that shows the shell commands), but not

[2020-05-29 00:24] BrunoGuardia commented on #482
This is now fixed and released. Should be closed

[2020-05-29 01:14] #482 closed

[2020-05-29 04:55] snickler opened #550 "General inability to create a codespace on an account with multiple tenants."
I've been trying to create a CodeSpace for quite some time now and haven't been able to. My Azure account has multiple tenants and had two subscriptions assigned (each to different directory tenants) at one point. Here's what I'm encountering:

1. I can only see one subscription in the drop down of list on the web interface. This would normally be fine, but it's not the one I want to use - and als

[2020-05-29 06:41] simkimsia commented on #455
@jkeech done

and i included the log from the output

Thank you.

The next time i will reply will be in 5 days time on 2020-06-03 Wednesday Thank you

[2020-05-29 10:03] Bjego commented on #529
@darktears you can run a ntlm proxy fowarder like px. https://github.com/genotrance/px and set it as your proxy in VS Code

[2020-05-29 15:01] gro1m commented on #541
#https://github.com/MicrosoftDocs/vsonline/issues/453

[2020-05-29 15:59] edgonmsft opened #552 "Issue creating environments with spaces in the repository name."

[2020-05-29 17:08] gro1m commented on #522
It is a colleague of mine that had the issue (therefore I can unfortunately not give you full details), but the hardware is 7 years old and he can apparently also not access the Microsoft Learning Websites. But he can still use the Azure Portal. As the problems are not VSO-only, I close the issue.

[2020-05-29 17:08] #522 closed

[2020-05-29 18:18] darktears opened #553 "Opening self hosted codespace in Visual Studio code (native app) doesn't work behind corporate proxy."
Hi,

I have a self hosted codespace that is setup to be persistent. I can access it through the browser (https://online.visualstudio.com/) and it loads just fine (the self hosted codespace is not behind the proxy).

However when I try to access my codespace on my native application (Windows or macOS) it doesn't work. I can sign in to Azure, I can select my plan, I can see the Visual Studio Online

[2020-05-29 19:37] jasongin commented on #550
Hi @snickler,

Thanks for reaching out. Some more information will help us troubleshoot these issues. (I don't need to know any actual identities.)
 - Is your account a personal Microsoft account (@hotmail.com, @outlook.com, etc.) or is it an organization (work or school) account?
 - Are either of those two subscriptions associated with the default directory for that account?
 - It sounds like you

[2020-05-29 19:48] snickler commented on #550
Hi @jasongin !

- My account is a personal Microsoft account.
- I moved one of the subscriptions at one point and landed on the default directory (that didn't have a subscription to it btw) to see if that helped. I moved that subscription then to another directory hoping it would go away from the drop down (it didn't), then ultimately deleted the subscription hoping it would stop appearing (it did

[2020-05-29 20:41] jkeech commented on #550
@snickler, I think you might be running into the same problem as https://github.com/MicrosoftDocs/vsonline/issues/452#issuecomment-623156433. If that's the case, we should be able to fix it up on our backend if you can provide your email.

[2020-05-29 20:56] snickler commented on #550
@jkeech  - Sure. Let me know how I can shoot it over and I'll provide it.

[2020-05-29 21:27] 35359595 opened #554 "Self-hosted Azure hosted VM Start/Deallocate"
Include functionality for Azure hosted under same subscription but "self-hosted" Codespace to be:
- Started on connect if shutdown/deallocated;
- Deallocate on Suspend of current Codespace;

PS: Sorry if doubled of planned feature - didn't found anything relevant.

[2020-05-29 21:30] Chuxel commented on #459
@edgonmsft FYI - @orph pointed out that always mounting the docker socket also breaks full docker in docker.

[2020-05-29 21:31] jkeech commented on #554
Hi @35359595, we do not have any plans to manage the lifecycle of self-hosted Codespaces. If you do not want to worry about the lifecycle management yourself, our recommendation is to use the Cloud-hosted Codespaces where we manage the VM for you.

Self-hosted gives you full control of the underlying VM/hardware, and the Codespaces agent merely provides connectivity from the machine you manage to

[2020-05-29 21:42] 35359595 commented on #554
I don't have option to create codespace based on Windows machine...
And that's what I need for 'native' apps for Windows. Is this limitation of my subscription or Win machines are not [yet] available?

[2020-05-29 21:45] jkeech commented on #554
Cloud-hosted Windows Codespaces are not broadly available yet, but it is in private preview. You can sign up here: https://visualstudio.microsoft.com/vs/private-preview/

For now you can use self-hosted on Windows, but the service will not manage the lifecycle of the VM. Hope that helps!

[2020-05-29 21:59] 35359595 commented on #554
I still think that this feature will be useful for self-hosted VMs, which requires some specific setup. For example AD domain/forest presence in mixed cloud enterprice.

[2020-05-29 22:04] jkeech commented on #554
We will have support for custom configurations of the Windows VM for the cloud-hosted Codespaces. I'd love to see what we can do there to support whatever requirements your organization has, although that would probably be best in a separate issue.

I'm going to go ahead and close out this issue since lifecycle management of self-hosted Codespaces is not on our roadmap.

[2020-05-29 22:04] #554 closed

[2020-05-29 22:36] edgonmsft commented on #459
Thanks! That change is in progress already.

[2020-05-29 22:43] GraemeMalcolm opened #555 "Visual theme not activated until page refresh, and not persisted"
Configuring a visual theme in devcontainer.json has no affect on the new environment until the user refreshes the browser. Then, if the session is ended on reconnection the theme is reset to the default dark theme (again until the browser is refreshed).

Config settings:
    "window.autoDetectColorScheme": true, # (also tried with false - same result)
    "workbench.colorTheme": "Default Light+"

[2020-05-29 22:57] orph commented on #459
The other side of dropping the docker socket mount is running the devcontainer docker itself with `—privileged` (or supporting that option passed in `runArgs`). Is this planned as well?

[2020-05-30 12:03] amdav opened #556 "This needs to work for Blazor apps"
I was disappointed after spending 90 minutes tonight not to get the basic example blazor template running on codespaces.  I tried 4-5 months ago, and it came up in the browser, but clearly the signalr cconnection was not working.  So after reading Tim's blog "You can do everything from Blazor development to ...", I spent 90 minutes tonight trying again with my scenario: a) Create new blazor server

[2020-06-01 15:29] jkeech commented on #293
The fix for this has been uploaded to the marketplace. 🚀

[2020-06-01 15:29] #293 closed

[2020-06-01 15:32] jkeech commented on #503
The fix for this has been merged and will be deploying this week

[2020-06-01 16:46] edgonmsft commented on #459
Yep, with this change I'm also adding the option to add `--privileged` on the run arguments.

[2020-06-01 17:55] andysterland commented on #447
Sounds good to me! @nikmd23 any thoughts when this could be worked on?

[2020-06-01 19:23] abuchholtzau opened #557 "ReadMe for an Empty Codespace has VSOnline"
Need to update the readme file in empty environments to match the new name (Visual Studio Codespaces)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/3174849/83445832-91217400-a402-11ea-9c25-28e5862ecd08.png)

[2020-06-01 22:56] chkn commented on #196
I totally appreciate your frustration. The new port forwarding service is still under active development, and we're investigating #498 as well. We'll update you as soon as we have more info to share.

[2020-06-02 00:01] luabud commented on #549
This is great info, thank you! 😊

[2020-06-02 00:01] #549 closed

[2020-06-02 00:48] plisy commented on #196
@NCC1701M In the meantime you might be able to get around issue #498 by installing [Visual Studio Codespaces extension](https://marketplace.visualstudio.com/items?itemName=ms-vsonline.vsonline), signing in, and connecting to the codespace directly instead from the web to unblock yourself.

On desktop you'll be able to make websocket connections as well, https won't work there either.

[2020-06-02 02:40] plisy opened #559 "Local forwarded port number is off by one (even when not in use) and tooltip is incorrect"
1. Connect to a codespace.
1. Use the Codespace Details viewlet or the Codespaces: Forward Port command to forward a port. (Pick any port, it doesn't matter if there's actually a server running.)
1. Use the viewlet or the Codespaces: Copy Port URL command to copy the port URL. Paste somewhere else.
RESULT: The local port number is 1 greater than the remote port.
EXPECTED: Local and remote ports sh

[2020-06-02 14:34] Collaryton opened #560 "Existing plans are not displayed in the Web browser drop-down menu"
Hi,
I have been working with codespaces exclusively via the web browser for the last week, but sometimes my created plans for multiple projects and codespaces are not displayed in the drop-down menu in the browser and only the option to create a new plan is shown.

However, when I try to re-create the plan in the same RG and with the same name, the plan eventually appears in the drop-down menu and

[2020-06-02 14:38] Collaryton commented on #560
![dropdown](https://user-images.githubusercontent.com/66318165/83533061-619c6580-a4ef-11ea-8fcc-73c46e7e5be4.PNG)

[2020-06-02 17:13] fara-nak commented on #559
@plisy  for your first issue, i just tried in dev and prod and I can't repro, can we talk offline?
for the second issue yes you are right the toolpit is not showing right local port. it should be fixed in the new PF UI. I will check and update here.

[2020-06-02 17:57] plisy commented on #559
Did you test on desktop?

[2020-06-02 21:06] taiyosogawa commented on #560
@Collaryton, thanks for reaching out. Could you check to see anything printed in the console?

@smvanderweide, would you be able to look into this issue?

[2020-06-02 21:24] taiyosogawa commented on #546
@DanTup, good to hear from you and thanks for reporting this. Could you verify the version of the Visual Studio Codespaces extension installed on VS Code stable?

[2020-06-02 21:27] taiyosogawa commented on #540
@cilerler, sorry about that!

@lostintangent, do you know who was working on that PR?

[2020-06-02 21:54] taiyosogawa commented on #556
@amdav, I'm sorry for the disappointing experience. I, too, would be frustrated after an hour and a half going at the basic scenario, thwarted by a bad signlr connection.

To make sure I'm understanding your experience, did the timeout only occur when you tried to open the served HTML page or were there connection issues while connected to the codespace? Did you see anything that could be helpful

[2020-06-02 22:39] jcansdale commented on #545
It would be great if there was a way to detect the WebUI as well. This is the hack I'm currently using. I'm not sure how relyable it is. 🤔

https://github.com/jcansdale/ghvs/pull/39/files#diff-c8371ce388541ae49aa0fc39c61178a6R67

[2020-06-02 23:50] jkeech commented on #545
That's out of scope for this issue, because it's dependent on the client, not the Codespace. The Codespace exists independent of the connected client, and in fact two different clients can be connected simultaneously. So from your tool's perspective, if the tool is run outside of the context of VS Code editor, it doesn't know anything about which type of client invoked it.

[2020-06-03 00:18] jkeech commented on #455
@simkimsia, thanks! I filed the VS Code issue referenced above to get some help investigating the VS Code behavior where the remote resolver is not fully kicking in.

Is there any public repo that this also reproduces on for you? It would be helpful to have some repro steps we that we can use to replicate the problem. This isn't an issue that I've ever seen before or been able to reproduce so far.

[2020-06-03 02:45] amdav commented on #556
Hi Taiyo, thanks for your response.  I am happy investigating further, I just wasn’t sure if server side Blazor was a supported scenario yet.  When I read you support Blazor I thought maybe you only support client side Blazor.  I will have another look, but understand that I didn’t even get the first page displaying.

Note that in Blazor, the default template does server pre-rendering of the first

[2020-06-03 03:24] simkimsia commented on #455
It’s a private repo

I will try on public repo but it will take at least 10 days from now

If u don’t mind waiting

[2020-06-03 03:30] jkeech commented on #455
@simkimsia, there’s no problem waiting. Please let us know whenever you have an update. In the meantime we will continue to try to figure out what is going on with the information we already have. Thanks!

[2020-06-03 04:12] jlynch630 opened #561 "Connecting to Codespace fails with authentication issue"
After having issues with an existing codespace, I deleted it and created a new one. However, when opening the new one, I was presented with an error that says I don't own the codespace. Trying with a new codespace, I get the same result.

In Visual Studio 2019 it looks like this:
![image](https://user-images.githubusercontent.com/1965320/83594601-7e975f80-a514-11ea-8a4f-06abbcda2ffb.png)
Clicking

[2020-06-03 04:39] amdav commented on #556
Hi Taiyo,

I can provide some additional information about my experience.  I have still not got it working, but have got closer.  I don’t really think your team is close to this being something that can be used in production for Blazor development, unless you at least write up a “HOW TO” document (if it is even possible), or fix some defaults so it works.

I guessed the resolution to the first iss

[2020-06-03 08:52] simondmorias commented on #530
@jkeech we too are seeing this error. Our subscription has 4 code spaces created - I assume all were created before the quota was applied. We reached out to support to raise the quota (ticket 120060224004452) - but they said they could not help because Codespaces is still in preview and suggested we raise an issue here.
How can quotas be raised?
Thanks

[2020-06-03 17:49] jkeech commented on #530
@simondmorias, I'm following up via your support ticket. We should be able to resolve it there. Thanks!

[2020-06-03 19:44] mbigelowrexall opened #562 "cant create Codespace environment or share it to other users"
Hi,

Our company is having issues starting to use Visual Studio Codespaces.

If I login and try to create the environment, I cannot because the Subscription dropdown is greyed out – it fetches nothing.
And when I get our Microsoft Azure admin to create the environment he is unable to share that to my login for me to use.

Thanks

[2020-06-03 19:46] jcansdale commented on #545
@jkeech ,

Isn't a terminal in a VS Code tool window, someone associated with that instance?

I'm interested to know what the `CLOUDENV_SERVICE_ENDPOINT` envvar is used for? Isn't this different between webui and extension instances? It appears to be `https://online.visualstudio.com/api/v1/environments` when using the extension and `https://online.visualstudio.com/api/v1` when using the webui.

[2020-06-03 20:58] taiyosogawa commented on #519
We have seen the same error message in some of our recent testing and have an update in our next extension release that might resolve this issue. I'll post when it is published.

[2020-06-03 21:38] jkeech commented on #562
Hi @mbigelowrexall! Are your accounts registered in multiple AAD tenants? Today we have a limitation where only the default tenant works (#39). It sounds like you might have a subscription created in a non-default tenant and no subscriptions in the default tenant for your account.

[2020-06-03 22:41] DanielRosenwasser commented on #251
I think that even if you have #43, this is a pretty consistent papercut I've encountered for casual/lightweight usage where I end up having to reopen the tab and wait 10 seconds for everything to reload.

[2020-06-03 22:45] DanielRosenwasser commented on #251
I literally did it again 2 minutes after leaving my comment. 😅

[2020-06-04 01:22] amdav commented on #556
Thank you Peter, that is all I wanted to know.  It is such a shame Tim didn't include such a simple statement in his blog post before I spent a few hours trying to get it working, so please do make this clear in the teams communications.

I have now successfully connected in VS Code.   Some engineering resources should be placed on getting Signalr working for this codespaces Blazor server side sce

[2020-06-04 04:09] plisy commented on #556
I'm sorry you've lost time trying to get it to work.

That work is already under way and it looks promising. We don't have an ETA on when it may get to production.

[2020-06-04 08:51] DanTup commented on #546
It's currently 1.0.2268, but I think that's auto-updated from your release the day after I posted this. I do have auto-updates enabled so I would expect it was the latest version at the time I posted.

(Actually, looks like that happening on my windows machine which I'm not on now - however the same applies, I have it auto-update the extensions and restart VS Code frequently so it wouldn't been th

[2020-06-04 11:27] Collaryton commented on #560
@taiyosogawa how can I access the console via the web browser?
I'm not using codespace in a local vs code insatllation.

[2020-06-04 14:15] profexorgeek opened #563 "Add note that ADO can be used as connected repository"
@abuchholtzau and @gregvanl  - Oliver Doerr recommended that we add a note to this page:

...indicating that it is possible to use Azure DevOps as a connected Repository.

[2020-06-04 14:20] abuchholtzau commented on #563
Yup we've been meaning to add that! I believe Nik created an issue for it a couple of weeks ago as well.

[2020-06-04 14:27] gregvanl commented on #563
Looks like duplicate of https://github.com/MicrosoftDocs/vsonline/issues/494

[2020-06-04 14:28] OliCSADoerr commented on #563
Great to see the light speed response! Looking forward to the updated documentation.

[2020-06-04 18:29] mbigelowrexall commented on #562
All of our accounts are in the same AAD tenant

[2020-06-05 14:42] elonmallin opened #564 "Question: setup private npm and nuget feeds"
Hi,

Is there some neat way to setup and authenticate private npm, nuget and other common feeds from Azure or elsewhere (but mainly npm and nuget in Azure ;))?

Really psyched about the impact on contributions to open source however would like to see some docs and how-tos on setting up common scenarios like mentioned above.

For example in a company settings where every user generates a private to

[2020-06-05 15:35] jkeech commented on #564
We are working on #50, which will allow you to setup some secrets (PATs, connection strings, etc) that can be injected into Codespaces at creation/resume time. At first it will only support environment variables, and files (.npmrc, etc) will be added later. Once the environment variable support is in place though, you could have a `postCreateCommand` that reads the variable and modifies whatever f

[2020-06-05 20:00] qgerome opened #565 "Default Image fails to execute with a volume"
Hello,

I don't know if it's PEBCAK or a real bug (or even a limitation) but I encounter a problem when I try to launch a docker image using docker-compose.

I created a test codespace env (default image, small vm).
I installed docker-compose using `pip install docker-compose`
Then I created 2 files :

*docker-compose.yml*
[code]
*index.js*
[code]

If I run the command `docker-compose -f docker-co

[2020-06-05 22:33] skleanthous opened #566 "I cannot paste text in VS Codespaces running in browser"
Initially I couldn't copy text from VS Codespaces running in browser, but I added the keybinding and now I can copy text from VS Codespaces running in a browser, However, I cannot paste _into_ a file (any file), and I get the error `command 'editor.action.clipboardPasteAction' not found`. (see picture below):

![image](https://user-images.githubusercontent.com/8543464/83927260-4c8c3480-a784-11ea-9

[2020-06-05 22:36] jkeech commented on #565
Our documentation is a bit lacking here, but let me try to explain what is going on. When you create a Codespace, a docker container is spun up on a host VM. Your app's source code is inside your main Codespace container at some path, but it's not in the host VM at that same path (even though it is on the host VM and bind mounted into the main container). The default image in Codespaces follows th

[2020-06-05 22:41] jkeech commented on #566
What browser and OS are you using?

[2020-06-06 08:01] qgerome commented on #565
Thank you @jkeech for your answer ! I'll try with the `devcontainer.json` file 😊

[2020-06-06 08:01] #565 closed

[2020-06-06 16:52] connor4312 opened #567 "Codespaces extension adds global "fetch" to extension host"
It seems that recently the Codespaces extension started to import [isomorphic-fetch](https://www.npmjs.com/package/isomorphic-fetch) which adds a global in node.

I found this because @eamodio reported that breakpoints stopped working in our new JavaScript debugger. It turns out that the [source-map](https://www.npmjs.com/package/source-map) library uses the presence of global "fetch" as an indica

[2020-06-06 21:38] skleanthous commented on #566
I am using Chrome latest, on Windows 10. After posting I thought I'd reset the configuration, and so I removed the binding that I added about copying. This time I didn't get the error (which was that editor.action.clipboardCopyAction was not found) that I got when I first tried it, and now it seems to somehow be fixed. Not only I can copy (which I wasn't able to do before I set this keybinding), b

[2020-06-07 03:15] mikemol opened #568 ""(refusing to allow an OAuth App to create or update workflow `.github/workflows/rc-docker-web.yaml` without `workflow` scope)""
Originally filed over at https://github.com/microsoft/vscode/issues/99546 ... here's the filled out template for there.

- VSCode Version: 1.45.1 (Commit ID 5763d909d5f12fe19f215cbfdd29a91c0fa9208a )
- OS Version: Visual Studio Codespaces. `/etc/os-release` reads: Debian GNU/Linux 9 (stretch)

Steps to Reproduce:

1. Open Visual Studio Codespaces workspace tied to Github repository
2. Create a Git

[2020-06-07 03:19] mikemol opened #569 ""Help: Report Issue" points user to the wrong issue tracker"
Inside of Visual Studio Codespaces, if you bring up the command palette and hit `Help: Report Issue`, it takes you to https://github.com/microsoft/vscode/issues instead of https://github.com/MicrosoftDocs/vsonline/issues . This led me to filing #568 in the wrong place, initially.

[2020-06-08 09:18] halfnibble opened #570 "Something is intercepting the request body."
I have a simple webpack dev server setup, and an express api endpoint.

When I run my server from vs code online in the browser, and navigate to the custom domain provided by vs code online (for port 8080), something appears to intercept the xhr request body. it always gives me an empty body. `{ }`.

However, if I LiveShare the code without modification to vs code desktop, and run the server from

[2020-06-08 15:31] jkeech commented on #561
@jlynch630, are you using the Windows Codespaces private preview and connecting from Visual Studio? It looks like the sign-in credentials might be stale on the client side. Can you try two things?

1) Click on your profile in the top right corner and open Account Settings. Then make sure none of the accounts listed say they need to refresh credentials. If any of them say they need to refresh crede

[2020-06-08 15:38] jkeech commented on #566
@skleanthous, thanks for the details. I agree that something weird is going wrong there. I'm glad it's working for you now, but let's keep this issue open for a bit and see if the problem reoccurs or if we can reproduce in another way. If it doesn't happen again, we will close the issue.

[2020-06-08 15:50] jkeech commented on #568
Hi @mikemol, it looks like we just need to update the OAuth app to increase the requested scopes to include the `workflow` scope. This is not a scenario we have considered/tried before, but I don't see why we couldn't add it. cc @legomushroom

[2020-06-08 16:11] jcansdale commented on #568
We needed to quickly fix this in GitHub for VS, see https://github.com/github/VisualStudio/pull/2462.

Not having the `workflow` scope can cause a world of pain. As well as not being able to touch workflow files, you can't push workflow changes that have been merged from master. Users can easily end up with branches that they can't push. 😨

I just wanted to flag the severity of this problem.

[2020-06-08 16:39] chkn commented on #570
Thanks for reporting this! Sending a request body currently doesn't work in port forwarding on web. We are tracking the issue already at #213.

We're in the process of developing a more complete port forwarding solution for web. In the meantime, you can use desktop VS Code, as you mentioned. Note that you can also connect desktop VS Code directly to a Codespace without having to LiveShare the code

[2020-06-08 16:39] #570 closed

[2020-06-08 16:45] jlynch630 commented on #561
Yep, I'm on the private preview. I thought it might be a server-side issue but VS Code is working more reliably now. I've tried signing in and out and refreshing my credentials to no avail, and the same issue happens on a fresh install on a different machine.

Live share was set to personalization account, but, oddly enough, setting it to external account allowed me to connect to the codespace jus

[2020-06-08 16:54] jkeech commented on #569
I think this is currently By Design, although we are considering changing the behavior. It works this way because you are running VS Code in the browser, and those are all of the built-in hooks to send feedback for VS Code (same as in the desktop VS Code). It's not clear yet whether the majority of issues that users will file will be related to Codespaces specifically or if they will be VS Code is

[2020-06-08 19:45] halfnibble commented on #213
@nikmd23  From my experience, you can make the request, and it will appear to succeed. But if you try to parse the body on the server api (assuming your server is running from VS Code Online/Codespaces via port forwarding), then the body will be empty.

I used VS Code Online/Codespaces to teach an online evening class, and this was a major problem for us when we got to the "setup a simple Express

[2020-06-08 19:51] halfnibble commented on #213
Also, I think there should be a big warning under "Remote Explorer" > "Forwarded Ports" to warn developers that their forwarded API's may not work as expected. I spent several hours this past weekend trying to chase down where my request body was disappearing to.

And if I can help with this issue in any way, feel free to message me on Teams. (jowedeki)

[2020-06-08 20:48] nandiniYeltiwar commented on #561
@jlynch630 Can you try suspending and connecting to the environment? You can do it from https://online.visualstudio.com/environments or from VS Code

[2020-06-08 21:21] vennim opened #571 "visual studio 2019 16.7 preview 2 codespace"
When I try to connect to a static codespace i get the error:
The 'VCManagePackage' package did not load correctly.
I tried repairing visual studio and reinstalling it.
My codespace works perfectly from visual studio code.

[2020-06-08 21:23] jkeech commented on #571
When you say static Codespace, do you mean a self-hosted Codespace? If so, the Visual Studio client (currently in private preview) does not fully support self-hosted Codespaces today. Self-hosted Codespaces are usable from Visual Studio Code and from the web client (VS Code in the web).

[2020-06-08 21:49] nemosupremo commented on #499
Reopening as the issue never really went away. Same setup as above. The default codespace workspace (that maps to `/home/vsonline/workspace`) always works. I've created new workspaces, and I frequently have multiple work spaces open.

Occasionally some workspaces will crap out and get stuck in "opening remote...", and I will have top open/close or quit vscode several times before it works again. W

[2020-06-08 21:56] jkeech commented on #455
It looks like this is the same issue as #499. Let's track over on that issue. Closing this one.

[2020-06-08 21:56] #455 closed

[2020-06-08 22:05] skleanthous commented on #566
Just to be clear, I can easily reproduce the paste issue (I can't seem to reproduce the copy issue I initially had now). Once I set the binding for copy to `Ctrl+C`, paste stops working, and I get the error in the picture in my initial message. Also, it seems that the `editor.action.clipboardPasteAction` keybinding it entirely absent (not just clearled) from Code.

[2020-06-08 23:16] jlynch630 commented on #561
Unfortunately the issue persists across all codespaces, even after suspending them (resuming the codespace actually totally works fine in VS itself). Even in a new plan I made in west us, the issue still occurs

[2020-06-09 00:52] legomushroom commented on #568
PR is on auto-complete, should be deployed with the next portal release. cc @jkeech

[2020-06-09 01:00] mikemol commented on #568
What are the timings of portal releases?

[2020-06-09 01:05] nandiniYeltiwar commented on #561
@jlynch630 We are investigating the issue which currently does impact all codespaces. Just to confirm, did resuming the workspace from VS worked and were you unblocked from using that codespace?

[2020-06-09 01:12] jkeech commented on #568
@mikemol, we deploy weekly, with staged rollouts for different regions, so by the end of the week this fix should be deployed globally since it will be included in this week's deployment.

[2020-06-09 02:37] jlynch630 commented on #561
Sorry that last comment of mine was poorly worded @nandiniYeltiwar :). Even after resuming the workspace I still get the same sign-in error.

[2020-06-09 08:41] sebastianrogers commented on #449
This is a real issue when combined with the limit of three instances per plan and two plans per subscription as it results in being only able to work on a very few projects at any one time.

[2020-06-09 08:51] bpasero commented on #449
From my testing I think this fix is in, @legomushroom can you confirm?

[2020-06-09 10:28] PNicolle opened #573 "Cannot create a codespace in Visual Studio 2019 proeview"
I would like to experiment codespace in Visual Studio Private Preview 2019, but I’m not able to create a codespace:
-	The Instance Type combo is empty
-	The Create and Connect buttons are disabled

![codespace](https://user-images.githubusercontent.com/66674499/84137260-bb9bae80-aa4c-11ea-87e8-5300cd7bee40.jpg)

[2020-06-09 16:33] wpbrown opened #574 "GitHub package registries don't work as docker image source"
The docs state that GitHub package-registry is a valid source for the docker `image` property:

However even public registries fail due to auth:
[code]

[2020-06-09 17:01] jkeech commented on #574
We do not currently support any form of auth for the docker image pull. GitHub Packages currently [requires auth, even for public image repositories](https://github.community/t/docker-pull-from-public-github-package-registry-fail-with-no-basic-auth-credentials-error/16358), so it is not expected to work right now.

@nikmd23, can we get the docs updated to remove GitHub Packages until we support au

[2020-06-09 17:21] jkeech commented on #573
Hi @PNicolle! Windows Codespaces are in private preview right now, so you'll need to sign up and be accepted into the preview first. Once you are in the preview, you should see the option to create Windows Codespaces from that UI.

Here's where you can sign up: https://visualstudio.microsoft.com/vs/private-preview/

[2020-06-09 20:43] SylChamber commented on #39
I don't know if it is related, but I had a similar problem. I have a personal account with a VS subscription and a work account with another one. They are in different directories.

Because my organization blocks using AAD accounts for authenticating to other sites with OpenID Connect, I cannot authenticate to Codespaces using my work account. So I assigned the owner role for my work VS subscripti

[2020-06-09 21:03] nandiniYeltiwar commented on #561
Thanks for confirming @jlynch630. I will follow up once we have fixed the issue.

[2020-06-09 22:15] legomushroom commented on #39
This is currently under development and we hope to unblock you soon.

cc @klvnraju

[2020-06-10 04:45] Helianthella opened #575 "unable to log in with AAD"
I am suddenly unable to log in to my self-hosted Codespace [in the browser](https://online.visualstudio.com/login) that is registered with my Azure Active Directory account (@...onmicrosoft.com)

1. Navigate to https://online.visualstudio.com/environments
    - Get redirected to https://online.visualstudio.com/login
2. Click _Sign In_
    - Get redirected to login.microsoft.com
3. Sign in with the

[2020-06-10 06:25] PNicolle commented on #573
Hi, jkeech. I already signed up for the private preview and received the mail: "Welcome to the Visual Studio Codespaces Private Preview". So I believe this part is ok...

[2020-06-10 06:34] sebastianrogers commented on #449
Retested and I can make it work but its not intuitive:

- Create a VS Codespace
- Clone a first repository
- **Ctrl-Shft-P** *Workspaces: Save Workspace as...*
  - Save to *~/workspaces/[workspace name]*
- Clone a second repository
- Edit the *~/workspaces/[workspace name].code-workspace* file
- Add the path to the cloned second repository
- **Ctrl-Shft-P** *Workspaces: Open Workspace as...*
  - O

[2020-06-10 23:25] Helianthella commented on #575
Using Chrome v85.0.4163.0 (dev channel)

Here is the network trace, encrypted for PGP key 0xcac9dcec039783bb (@klvnraju):
[online.visualstudio.com.har.asc](https://github.com/MicrosoftDocs/vsonline/files/4761707/online.visualstudio.com.har.asc.txt)

[2020-06-11 03:48] jkeech commented on #573
The email subject has been updated to clarify that you have signed up for the preview rather than making it sound like you are in the preview, so hopefully this doesn't cause the same confusion for other users in the future.

I'm going to go ahead and close this issue since it's expected that you won't be able to create Windows Codespaces until you are in the private preview. Do let us know how it

[2020-06-11 03:48] #573 closed

[2020-06-11 08:55] dmitryyankowski opened #579 "Support for HMR/Fast Refresh w/ Next.js"
Has anyone gotten HMR/Fast Refresh working on Codespaces w/ Next.js? The commands `yarn dev` and `yarn build && yarn start` work just fine (forwards port 3000).. however HMR/Fast Refresh doesn't seem to work. The page tries to go to `https://<workspace_url>-3000.app.online.visualstudio.com/_next/webpack-hmr?page=/` but it can't load it for some reason (it just eventually times out). This URL seem'

[2020-06-11 10:41] paolosalvatori commented on #568
I'm having this issue in Visual Studio Code and it's a huge problem. Are you planning to fix this problem soon?

[2020-06-11 18:13] jcansdale commented on #568
@paolosalvatori,

Make sure you're using the the latest version of GitHub for VS. We've had a problem with the auto-update recently. You might need to trigger it using the Extension Manager. You'll then need to re-login. Sorry about the inconvenience!

[2020-06-11 19:09] jkeech commented on #568
@paolosalvatori, this issue is specifically about the web client. Desktop clients use different auth flows. Please file a new issue for the desktop VS Code issue you are seeing. One question I have for the new issue: are you only seeing this when using Codespaces or directly in VS Code outside of Codespaces as well? If you are seeing it outside of Codespaces, it is likely something related to VS C

[2020-06-11 23:22] plisy commented on #579
Hello, right now, we don't support websockets in port forwarding in browser. We are working on adding the support.

I'm going to close this issue as a duplicate of #196.

Thank you for taking the time to report the issue.

[2020-06-11 23:22] #579 closed

[2020-06-11 23:44] bratsche commented on #518
This is fixed now.

[2020-06-11 23:44] #518 closed

[2020-06-12 05:32] dmitryyankowski commented on #196
Would love to get Next.js development mode `next dev` working on Workspaces! My original issue thread https://github.com/MicrosoftDocs/vsonline/issues/579 is here :) I'm not too familiar with what Next.js uses under the hood for HMR and newly introduced fast refresh (i'm guessing websockets), so it would be awesome to have that support!

[2020-06-12 17:58] edgonmsft commented on #557
Released! 🚀

[2020-06-12 17:59] edgonmsft commented on #477
Released! 🚀

[2020-06-12 17:59] #477 closed

[2020-06-12 18:01] #557 closed

[2020-06-12 18:04] edgonmsft commented on #474
Released! 🚀

[2020-06-12 18:04] #474 closed

[2020-06-12 18:04] edgonmsft commented on #459
Released! 🚀

[2020-06-12 18:04] #459 closed

[2020-06-12 18:04] edgonmsft commented on #457
Released! 🚀

[2020-06-12 18:04] #457 closed

[2020-06-12 18:09] edgonmsft commented on #433
Closing. If you have any more issues feel free to reopen or open a new issue.

Thanks!

[2020-06-12 18:09] #433 closed

[2020-06-12 19:47] jkeech commented on #568
The fix for this issue has been deployed to all regions 🚀

[2020-06-12 19:47] #568 closed

[2020-06-12 20:58] orph commented on #433
@edgonmsft I'm having the following error running docker-in-docker, any ideas?

[code]

[2020-06-12 21:02] edgonmsft commented on #433
Hi Alex!

Can you give me more information on how you created the environment you are trying it from? `devcontainer.json` and the image you are using?

[2020-06-12 21:08] klvnraju commented on #575
Thanks for the reply. I was not able to see the exact reason for failure in the network logs. (as the call most probably because the call happens in an iframe)
Can you please provide the console log as well? (We might have to add logging if the console log does not have the error logged)

[2020-06-12 21:11] orph commented on #433
Pretty much just a vanilla Debian stretch with docker-ce installed. dockerd
is run without options in the background by supervisord.

On Fri, Jun 12, 2020 at 4:02 PM Edmundo Gonzalez <notifications@github.com>
wrote:

[2020-06-12 21:11] orph commented on #433
@edgonmsft Pretty much just a vanilla Debian stretch with docker-ce installed. dockerd is run without options in the background by supervisord.

[2020-06-12 22:18] orph commented on #433
@edgonmsft for more context, the devcontainer.json uses
[code]

And the dockerfile installs docker this way:
[code]

[2020-06-12 22:42] edgonmsft commented on #479
🚀 Deployed!

[2020-06-12 22:42] #479 closed

[2020-06-13 00:12] Helianthella commented on #575
@klvnraju

![image](https://user-images.githubusercontent.com/3507758/84554855-eead9e80-ace7-11ea-9228-5515fd5f7dd6.png)

<details><summary>log (encrypted)</summary>
-----BEGIN PGP MESSAGE-----

hQIMA7EXBbPWZ7ZKARAAhX7VSqy1T52TQ/WtkUxTniXH/uz0dnAtufH821uta2Ak
sHs45nW82n8RYV153wZb2CSSeRhzMrnVt6wn6y/nZQZ/c3UKRPgozATl2wNabRY1
WrvN7btMBhIQMfCHkVI8gu+cr8lGY6JkKGmBDKUlTEvmjpktlUNFuXLdCOUm60wf
9F2q/P/0DT

[2020-06-13 00:36] halfnibble opened #581 "Unable to start and connect to existing environment."
I have a group of students using VS Code Online (aka codespaces) for the quarter.

We have one environment for one student that will not start and therefore cannot be connected to. Everything looks fine in Azure, and the resourceGroup is correct. The account can create, start, and connect to new environments, but she cannot connect to her existing one (that has all her code).

Since this is likely

[2020-06-13 06:42] szlend opened #582 "Self-hosted codespaces latency"
I was trying out self-hosted codespaces and I noticed that there is quite a lot of lag when typing in the VS Code terminal compared to the Remote-SSH extension.

I couldn't find any documentation on how this actually works, but am I correct in assuming that all traffic is being routed through Azure? Is there any way of establishing a direct connection to the server?

[2020-06-13 12:33] sebastianrogers commented on #449
- Create a new Codespace
  - No git repository
- Clone a Visual Studio DEVOPs repository - with a space in the title
- Open cloned repository
- Save Workspace As

- Clone a Visual Studio DEVOPs repository - with a space in the title
- Open cloned repository

- Open original workspace
- Add newly cloned repository

And it all works perfectly!

Things I have notoced.

- This was a brand new Codespac

[2020-06-13 14:28] wazybr commented on #395
Any updates on this? At least the install script should check the platform and cancel installation if it's not supported.

[2020-06-13 18:05] orph commented on #433
Fixed my issue by adding `VOLUME /var/lib/docker` to my Dockerfile. Nested dockers with volume mounts in the parent docker working as expected now!

[2020-06-14 00:13] bartr opened #583 "git credential manager failing"
/.vsonline/bin/vso gitCredential  is throwing an exception (see below) and I can't push to a repo that I have permission to.

- If I remove the credential manager from .gitconfig, I am able to push
- If I override the remote name with my userId:PAT, I am able to push

## Error

vsonline@codespaces ~/workspace/foo/ $ /.vsonline/bin/vso gitCredential
[CLI E] Exception: System.AggregateException: One

[2020-06-14 06:27] legomushroom commented on #449
@sebastianrogers great to hear it works, please let us know if you hit it again 😊

[2020-06-14 06:27] #449 closed

[2020-06-14 21:23] fabiom-zz commented on #559
I've always experienced the port forward to be off by 1 for months. For example, if I request forward 8080, my computer would have its local 8081 forward to 8080 in Codespaces. This is happening using VS Code v1.46 with Codespaces extension version v1.0.2349. I tested web too but it is different for me since I'm not getting a true port forward, but instead a funky url.

[2020-06-15 01:33] tonyeung commented on #57
Usecase: trying to create a webjob for a discord bot, easiest way (and only documented way) to get it done with a VS Code project is by zipping the entire thing and uploading it via azure portal.

Well, with VSO, while individual file copies to my host can be done for source code files, there's no way I can do this for each file the node_modules folder. The only option i can see is to clone my git

[2020-06-15 02:02] fabiom-zz commented on #559
I think now I understand what @plisy is saying, I'm seeing the same thing. I port forward on 8080 and indeed it is forwarded as expected. There is *one* Code.exe process listening to 8080 as indicated by `netstat -ano`:

`  TCP    127.0.0.1:8080         0.0.0.0:0              LISTENING       244`

Once I click on the port forward, the *second* forward on 8081 appears on a separate Code.exe process

[2020-06-15 03:39] wbsmolen commented on #415
I think I'm hitting the same issue on Win10 when configuring codespaces to run as a service (persist reboots).

This is where the extension hangs.

I registered the node from an admin session of VS code. My windows user has rights to logon as a service. VSCode provides an immutable username when setting up the service (in my case, MicrosoftAccount\xyz) and accepts my password, but seems to hang on

[2020-06-15 15:41] edgonmsft commented on #433
Sorry for the delay Alex!

That's good to know!

[2020-06-15 15:56] orph commented on #433
I wonder if this volume mount should be added by default? I haven’t seen it
documented anywhere, and it’s not obvious. I just happened to see it being
used In our CI dockers.

On Mon, Jun 15, 2020 at 10:42 AM Edmundo Gonzalez <notifications@github.com>
wrote:

[2020-06-15 15:59] edgonmsft commented on #433
Good question. @Chuxel any thoughts?

[2020-06-15 17:09] edgonmsft commented on #583
Hi Bart!

This is a strange issue, can you give me more context?

- Did it start failing at some point and used to work before?
- Can you send me how the git credential is configured? `git config --list`
- Is the repository public?
- Are you using web or desktop?

Thanks!

[2020-06-15 17:58] Chuxel commented on #433
@edgonmsft @orph Sorry which volume mount?  The docker executable one?  That's actually not recommended in the same article that describes general problems with docker-in-docker.   I do not think we should be doing it but rather recommending the installing the CLI in the image which is easy enough to do.

[2020-06-15 18:03] orph commented on #433
@Chuxel huh! This is a parent docker with docker-ce installed and dockerd running. You still can’t run docker-in-docker with volume mounts without adding `VOLUME /bar/lib/docker` in the parent’s Dockerfile - I assume because aufs doesn’t support layering.

[2020-06-15 18:16] Chuxel commented on #433
@orph Yeah, the specific problem is bind mounting the local VM's `/var/lib/docker` - it can cause data corruption. Creating a named volume largely un-does that... which is why I was asking @edgonmsft if we bind mount it by default.

True docker-in-docker is really problematic given the number of pitfalls. I think the thing we're primarily missing to get the outer docker working with bind mounts is

[2020-06-15 18:20] edgonmsft commented on #433
@Chuxel We are not bind mounting /var/lib/docker to the container or anything. Only the socket and executable by default and only in default image environments. In other cases we take the socket mount if its included and the user would have to install the cli in their container/image.

Can you give me more details on how we would like to make `${localWorkspaceFolder}` work? The idea would be that

[2020-06-15 18:23] Chuxel commented on #433
@edgonmsft Yep! We doc this for Remote - Containers. https://code.visualstudio.com/docs/remote/containers-advanced#_mounting-host-volumes-with-docker-from-inside-a-container

[2020-06-16 00:51] bartr commented on #583
The repo in question is on a GitHub Teams site and I'm using my GitHub ID which is an admin on the repo. Note that my GH ID is enrolled in Microsoft Open Source which requires 2FA (not sure if that has any impact)

I just checked and I only see the problem when I try to push to that repo. I can push to my repos or our GH Enterprise repos without issues.

If I mark the repo private, VSO fails to cr

[2020-06-16 01:11] xinyu91xyz opened #584 "Azure subscription not detected and cannot be associated when trying to use 'Visual Studio Codespaces'"
Hello,

I was trying to follow experiment instructions (https://docs.microsoft.com/en-us/learn/modules/detect-objects-images-custom-vision/3-create-object-detection-solution)
to experiment Azure AI computer vision services.

I signed up a free Azure subscription and was trying to use 'Visual Studio Codespaces' (https://online.visualstudio.com/environments/plan?showCreateEnvironmentPanel=true&redir

[2020-06-16 02:40] gregvanl opened #585 "Default plan name and resource group still have "vso-" prefix"
Should auto-generated names be changed to use a prefix like "vsc-" to reflect the VS Online -> VS Codespaces rebranding?

![image](https://user-images.githubusercontent.com/12818376/84725740-2ca4ff80-af40-11ea-8bc0-62d2c56527a2.png)

[2020-06-16 02:59] gregvanl opened #586 "Quickstart sample called vsonline-quickstart"
The browser and VS Code quickstarts use the https://github.com/microsoft/vsonline-quickstart sample which still references VS Online.

Updating the sample itself doesn't look too bad:
"Visual Studio Online" - 2 instances
"VS Online" - 7 instances, mostly README but also .devcontainers.json and server.js response
"vsonline" - none

Remote Explorer section in README might need to be updated (is view

[2020-06-16 03:53] sharif1093 commented on #287
Do self-hosted environments also support `devcontainer.json`'s Dockerfile? I tried it on a self-hosted environment but seemingly it had no effects on it.
Particularly I wonder about setting my environment using Docker when using self-hosted ...

[2020-06-16 08:08] kovla opened #587 "Running self-hosted environment within a Docker: possible at all?"
Hi,

I am trying to set up a self-hosted environment, where `vso start` is run within a Docker container. Two problems occur:

### Problem 1:
One issue that emerges is that vso agent freezes during the following step:

[code]
Nothing further happens, status at `https://online.visualstudio.com/environments` for this environment is stuck on "Creating...".

### Problem 2:
Aside from this, it seems th

[2020-06-16 08:28] rrelyea commented on #545
Nuget team was looking for something similar.
Some discussion here:

https://teams.microsoft.com/l/message/19:ed8d3a2848564585a6c133347df93a49@thread.skype/1592254953790?groupId=b9ce1a3e-cc2e-4374-890b-653118638c01

Debate about env bar name: codespaces vs nuget_do_not_show_ui, or the like

[2020-06-16 14:28] etuboko commented on #548
Hi! I'm having the same issues behind a corporate firewall. If i create the codespace directly connected to the internet it works without any problems. I've tried both the portal and from VS Code desktop with the same results.

[2020-06-16 15:28] edgonmsft commented on #583
2FA shouldn't have an impact.

I assume you are using the web, can you try doing it from the desktop or another browser? Its possible that the token we have from when you authorized GitHub is not the correct one for that repo.

[2020-06-16 15:33] edgonmsft commented on #548
@etuboko What is the error you get when you try to create the environment?

Can you connect to a previously created environment?

[2020-06-16 15:46] abuchholtzau commented on #586
@nikmd23 you seem to be the owner on this repo. Do you want to add me/Greg as contributors so we can edit it?
Also we should probably rename this the vsonline-quickstart repo?

[2020-06-16 15:56] gregvanl commented on #586
@abuchholtzau You mean rename the repo to vscodespace-quickstart?
I'm happy to update the sample since it is tightly couple to the doc quickstarts.

[2020-06-16 16:01] waywardm opened #588 "Gatsby JS Development - Blank Screen on forwarding port"
Regarding use of Gatsbyjs in VS Codespaces

I cannot seem to develop using the Gatsby Development command when it goes  to the forwarding port it is a blank screen. When you check the source it is loading the initial page but not injecting the code into the browser, as gatsbyjs is becoming ever more popular I would have thought this would need looking at, I have successfully managed using gitpod i

[2020-06-16 18:01] sharif1093 opened #590 "Self hosted + containerized development environments"
Probably related to #287.
I wonder how I can use self-hosted environments with containers. VSO does not let us install "Remote - Containers" extension. Also, running VSO from inside a container seems not working; it complains about not being able to connect to the client (#587).
I know that `devcontainer.json` addresses this issue for cloud-hosted vso instances. But not sure if the same solution s

[2020-06-16 19:33] etuboko commented on #548
@edgonmsft I was getting a 403 - The repository could not be cloned..

I only succeeded while directly on the internet (not behind the corprate firewall), signing out of DevOps and CodeSpace by visiting https://login.microsoftonline.com/logout.srf, and then sign out (if you aren't already signed out), clearing cookies while on the page and signing back in to codepsace making sure the authorization

[2020-06-16 21:43] edgonmsft commented on #548
@etuboko Good to know!

I'll be looking to check whats the step that gets blocked on your firewall. Its likely that its related to calls we do directly to either GitHub or Azure.

[2020-06-17 01:10] dclayto1 commented on #575
If it helps to know more people are experiencing this, I am as well. I was on the same Chrome version as @Helianthella and experiencing this, as well as still experiencing after updating to "Version 85.0.4170.0 (Official Build) dev (64-bit)"

[2020-06-17 01:32] klvnraju commented on #575
Thanks for reporting this.
Are you also seeing the same console errors @Helianthella is seeing? (especially the cookies being blocked in future versions of chrome)

Please note that those are warnings, and do not conclusively say that is the reason for the failure.
We are adding additional logging which should say the reason for failure.

If you can close all browser instances of chrome and try lo

[2020-06-17 01:36] klvnraju commented on #575
Can you please check if `Block third-party cookies` setting is on?
![image](https://user-images.githubusercontent.com/25800054/84844852-2d9d6600-b000-11ea-9b77-1b31196f1cbb.png)

[2020-06-17 03:54] Helianthella commented on #575
In my case it isn't set to block third-party cookies (only does in Incognito)

![image](https://user-images.githubusercontent.com/3507758/84853163-91d61f00-b02c-11ea-8e89-7bc3c0f99eb7.png)

[2020-06-17 04:13] nikmd23 commented on #586
I've made you both admins of that quickstart repo. 😏

[2020-06-17 04:19] bartr commented on #583
I tried from another browser and got prompted to login and authorize. It still didn't work.

It's not working on our github enterprise repos either and I know that was working last week. Not sure what's going on.

I can add you as a contributor to a test project in our GH Enterprise and you can try to duplicate if that helps.

[2020-06-17 04:24] bartr commented on #583
https://github.com/retaildevcrews/vsotest

You should have an email invite for the repo. There's nothing there except a readme and an MIT license file.

I get the error on git push from the terminal

[2020-06-17 04:31] edgonmsft commented on #583
Thanks!

I just tried it and managed to push from vscode desktop, but it failed from the web.

Let me take a closer look and get back to you.

[2020-06-17 05:11] vennim commented on #571
thank you. Do you know when would self hosted codespaces will be supported in visual studio 2019?

[2020-06-17 05:33] ethankhall opened #592 "Unable to start VSO on Debian"
Hi!

I just did a fresh install of Debian onto a VM. I installed the `vso` tool following your guide and after getting an install to give me a link it never becomes live.

I get the following error when I search the logs.

[code]

[2020-06-17 16:26] gregvanl commented on #586
@nikmd23 Thanks. I've updated the README and other files to use "Codespaces".

[2020-06-17 18:35] chkn commented on #498
This should be fixed now. Thanks for your patience!

[2020-06-17 18:35] #498 closed

[2020-06-17 18:46] chkn commented on #588
Does Gatsbyjs use websockets? Our current port forwarding solution in the browser has a lot of limitations. For instance, websocket connections don't work (see #196). You can get around that by installing the Codespaces extension in VS Code on the desktop and connecting from there.

[2020-06-17 18:57] chkn opened #593 "No user feedback when opening codespace in VS Code and not signed into extension"
From the portal, if you select Open in VS Code (or Open in VS Code Insiders) on a codespace, VS Code will open and display a message asking if you want to allow the extension to open the URI. If you click Open and the extension is not signed in, nothing happens, and it's not clear that you need to sign in there.

This message is logged to the JS console:

[code]

[2020-06-17 22:52] david-driscoll opened #594 "APPDATA environment variables are not set on self-hosted windows."
I ran into a strange issue where my some commands would not work properly from a terminal window against a self-hosted code space.  Some npm commands would fail with an error around `APPDATA` resolution.  If I set $ENV:APPDATA manually using `$ENV:APPDATA = [Environment]::GetFolderPath('ApplicationData');` everything works as expected.

The code space is a windows machine, my laptop is a windows m

[2020-06-18 06:11] NCC1701M commented on #498
I can confirm the fix. Thanks

[2020-06-18 15:37] gregvanl commented on #586
@nikmd23 @abuchholtzau Any reservations with me renaming the vsoneline-quickstart repo to 'vscodespaces-quickstart' today and updating the Codespaces quickstart docs to match the new repo name?
I believe GitHub handles redirects in case anyone has a bookmark to the repo.

[2020-06-18 15:58] abuchholtzau commented on #586
None from me! I say go for it! :D GH handles the redirects really well for a renaming so no concerns there.

[2020-06-18 16:15] nikmd23 opened #596 "Security Documentation"
Let's write up a document about the security of Codespaces.

A few thoughts:

- The [Live Share security document](https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/security) is a good example of the type of document I'm thinking of.
- [This deck](https://aka.ms/vscs-exec-overview) is a great starting point for the doc
    - The doc can be more detailed than then deck

[2020-06-18 17:34] gregvanl commented on #586
Renamed repo https://github.com/microsoft/vscodespaces-quickstart

[2020-06-18 18:44] gregvanl commented on #586
Update README (Codespace Details panel, add macOS keybinding) with https://github.com/microsoft/vscodespaces-quickstart/commit/dce1ce83471822fcf0c06292497845847965aaec

[2020-06-18 18:44] #586 closed

[2020-06-18 21:43] gregvanl opened #597 "VS Code extension repository quick pick example is vsonline-quickstart"
The quickstart repository has been renamed to vscodespaces-quickstart to align with the rebranding.

https://github.com/microsoft/vscodespaces-quickstart

The quickstart docs have been updated but the VS Code extension example should also be updated to vscodespaces-quickstart.

See "e.g. microsoft/vsonline-quickstart" text below:

![image](https://user-images.githubusercontent.com/12818376/8507487

[2020-06-19 02:04] rlj1202 commented on #492
Yes! This is exactly what I wanted for long time!

[2020-06-19 02:19] tyamamushi opened #598 "Unable to start/create the environment on vso-plan-southeastasia, again"
Hello, my environment on vso-plan-southeastasia have come to unable to start as same as issues#343

[2020-06-19 06:01] mrozekma opened #599 "EnvironmentProvider found no cached tokens"
I'm able to connect to my self-hosted codespaces through a browser, but any attempt to connect from vscode pops up an error tooltip: "EnvironmentProvider found no cached tokens".

I exported the Codespaces logs and found this:

[code]

[2020-06-19 13:05] xatier opened #600 "vso script not able to start as service on RHEL7/CentOS7"
Hi,

I have the vso script installed with the following curl command on a RH7 box (ref: [1]).

[code]

When registering the host as self-hosted codespace environment (ref: [2]),

Running the `vso` script with the following would fail to create the codespace properly.

[code]

It seems like the `vso` script is attempting to invoke `systemd --user daemon-reload`

[code]

Sadly, `systemd --user` is n

[2020-06-19 13:06] xatier commented on #600
@nikmd23 :smile:

[2020-06-20 07:32] SferaDev opened #601 "Unable to register a new self-hosted environment"
Today I couldn't log to my self-hosted environment remotely (that happens once in a while, specially after updating vscode). So I connected through SSH to the machine, unregistered and re-registered as a new environment. For the last hour or so I keep getting the same response while registering the environment.

[code]

I also tried opening vscode itself through VPN+RDP to try registering the envi

[2020-06-20 09:38] lucusapp opened #602 "Disappearance of projects."
Hi. I had five projects hosted in visual studio code to do programming tests. Yesterday I have been working on them. However, when accessing my account today I have seen that none of the projects appear, which generates anguish since I had not supported them on github. Could you please help me? Thank you. My developer account is gavialus@hotmail.com

[2020-06-20 21:53] morgzz opened #603 "Codespaces hate the name, Visual Studio Online sounds so much better"
Please change the product name back to Visual Studio Online.

[2020-06-20 22:29] paulgmiller opened #604 "Reload Environment when devcontainer.json changes."
Seems like I always get the settigns from the .devcontainer* in my repo's master branch and I can't reload it after entering the code space.
This makes it hard to test on the web ui (I think I could

Having a way to reload the environment after .devcontainer* changes would be good both for trying to set up existing repositories to work (where often it's hard to iterate in master) or going back to

[2020-06-21 03:18] sandervalstar opened #605 "The VSOnline Agent failed to start in the custom container"
Hi,

I have a custom docker image that I would like to use on Visual Studio Codespaces. It already works without problems as a local devcontainer, but on Visual Studio Codespaces I get the following output:

[code]

The errors above the `(!) VSOnline dependency install failed!` log seem to imply that VSCode online tries to install git which was already installed in the container (with `yum -y inst

[2020-06-22 01:39] maswitzer commented on #88
I'm getting this same error when trying to run a self-hosted environment as a service with vso start --service. Everything seems like it's working fine during the setup processes, but once I try to connect to the environment I'm receiving the same "Failed to connect to relay" error in the browser (if I'm even able to get to it) and my VS Codespaces environments page shows it as Unavailable.

This

[2020-06-22 15:19] litan1106 opened #606 "apache2 redirected to wrong url in codespaces"
I am running apache2 with docker-compose.yml, it works fine on local. However, it redirected to localhost when I browsed in codespaces.

[2020-06-22 16:15] osortega commented on #597
Thanks for reporting this.
I'll be making the change shortly.

[2020-06-22 16:22] osortega commented on #598
Hello @tyamamushi , I'm sorry this happened again.
Do you see any logs under the developer tools?

cc/ @edgonmsft

[2020-06-22 16:32] osortega commented on #599
Hello, thanks for reporting this.
Are you seeing this particular issue when clicking Open in VS Code button in the browser?

If so, this is a known issue that we are currently working on. For now, a workaround is signing out and sign back in to Codespaces extension on VS Code.

[2020-06-22 16:34] osortega commented on #601
@taiyosogawa any thoughts?

[2020-06-22 16:42] taiyosogawa commented on #601
@SferaDev, thanks for reporting this - could you include the version of the CLI that produced this error? It should be printed as one of the first output lines (or by invoking `vso --version`).

[2020-06-22 16:44] SferaDev commented on #601
Sure thing: vso v1.0.1998.63218

[2020-06-22 17:07] abuchholtzau commented on #603
Hi there! Thanks for the feedback.

Naming always seems to be one of the hardest parts of a product. While we appreciate your preference for the old name, our research indicated that it was confusing for many other users while Codespaces worked well in terms of clarifying the value of the service. You can learn more in our [blog](https://devblogs.microsoft.com/visualstudio/introducing-visual-studi

[2020-06-22 17:07] #603 closed

[2020-06-22 17:15] abuchholtzau commented on #602
Hi there.
A couple clarification questions:
Where are you trying to access these projects, is this through the online.visualstudio.com portal or from the Codespaces extentsion in VS Code?
Were they in a single Codespace or one project per Codespace?

[2020-06-22 17:17] edgonmsft commented on #598
Hi!

@tyamamushi could you also provide us with your environment id?

[2020-06-22 17:23] abuchholtzau commented on #604
Hey @paulgmiller, I think #51 is pretty similar to what you're asking here?
Let me know if you disagree, otherwise I'll close this one as a duplicate of that item :)

[2020-06-22 17:33] paulgmiller commented on #604
That's it. Thanks!

[2020-06-22 17:34] taiyosogawa commented on #601
Thanks for the quick reply! There was just an outage causing the `Name or service not known` error, but that has now been resolved.

I tried repro-ing, but didn't get the same error. It also looks like something might be off with the version number because the messaging I'm seeing is slightly different from yours (note the version number and use of 'environment' vs. 'codespace'):

[code]
I wonder

[2020-06-22 18:00] abuchholtzau commented on #604
Closing in favor of #51 😄

[2020-06-22 18:00] #604 closed

[2020-06-22 18:02] SferaDev commented on #601
Actually you're right there're two versions on the machine (the one I use from the CLI and the one that VSCode UI uses)

Here are the outputs from both of them:

[code]

[2020-06-22 18:55] taiyosogawa commented on #601
Thanks for checking - it still didn't repro for me with 1.0.2355.53835

I checked our service logs within the last hour and see some POST requests failing due to an invalid subscription. I can't be entirely sure that these are from your requests, but I'm wondering if your subscription has reached a spending limit or might have additional restrictions? Self-hosted codespaces are free, but it looks

[2020-06-22 20:32] sandervalstar commented on #605
For now my workaround is to not install git v2 in the docker container, but to use the devcontainer's "postCreateCommand" option to run a script that installs docker v2 after the container has been created. This prevents the issue from occurring in VSCode Online.

[2020-06-22 20:50] lucusapp commented on #602
Thanks for the reply. The projects were available by accessing the
visual studio online platform. Now it indicates to me that there is no
project available. Yes. However I have not removed any project.

El lun., 22 jun. 2020 19:15, Allison Buchholtz-Au <notifications@github.com>
escribió:

[2020-06-22 21:55] abuchholtzau commented on #602
So when you login to online.visualstudio.com, you don't see any Codespaces to connect to?
Are they possibly in a different plan?

[2020-06-22 22:05] edgonmsft commented on #605
Thanks @sandervalstar !
I'll be taking a look at this.

[2020-06-22 22:10] #179 closed

[2020-06-22 23:33] archite commented on #601
I'm seeing the same as well still:

[code]

[2020-06-22 23:42] archite commented on #601
Latest version didn't product any better results:

[code]

[2020-06-23 00:33] taiyosogawa commented on #601
@archite, thanks for reporting. Do you know if your Azure subscription has reached a spending limit or  has additional restrictions (for example, having student or promotional credits)?

[2020-06-23 01:12] mrozekma commented on #599
No, this is starting from within VS Code; I sign in and see the list of available spaces in the Codespaces remote connections panel, and when I double-click one it opens a new window and I get that error in a tooltip. So far I've been unable to connect to a Codespace from within a desktop VS Code session, I've been using the web-based version instead.

[2020-06-23 01:47] archite commented on #601
I don't use azure beyond codespaces. Logging into the azure portal shows a random set of items which I don't use and I don't see the subscription group from codespaces. It looks to be a different account altogether as I once had office365 and many of the Microsoft services do not do well with that or the fact that I have a a work account with a different domain.

[2020-06-23 01:52] archite commented on #601
Playing around with it, it's asking me to create a free azure account. Could this be because my old plan was from 6 months ago and something changed on the backend?

[2020-06-23 01:54] archite commented on #601
Looking at this, I don't think I can create another account as it goes back to the office365 account instead of my personal account.

The Remote SSH is at least working so I'm not 100% stuck

[2020-06-23 03:49] lucusapp commented on #602
I connect regularly, however my projects have disappeared. In the plan
of Europe there were 5 projects, but you indicated that there is none.
This should have happened the morning of Friday to Saturday as I was
working on Friday afternoon, however they were no longer on Saturday
morning.

El lun., 22 jun. 2020 23:55, Allison Buchholtz-Au <notifications@github.com>
escribió:

[2020-06-23 05:04] SferaDev commented on #601
@taiyosogawa You're right, my subscription was an student one and seems to have just expired. I have a second one but right now there appears to be another outage since both the web and cli provide errors: "[!ERROR] Service is unavailable to process the request".

I will try with a different subscription and report back, although the InternalServerError should be a little more descriptive if that'

[2020-06-23 05:39] YoungElPaso commented on #51
Because I had to pull from a private registry, which I could do from the 'kitchen sink' container, I could get the containers I need and add them to docker-compose but then I realized that I can't rebuild/reload the codespace to use that file and those services.

Bummer, cause now I have a chicken-egg scenario: need to start from 'scratch' to login to registry to fetch containers...but can't then

[2020-06-23 18:50] cmbrose commented on #599
@mrozekma I'm taking a look at this, but having trouble reproing.  Can you provide some more details:

- What OS are you on?
- What vscode version?
- What Codespaces extension version?
- Does this also repro for you when trying to connect to a non-self-hosted codespace?

[2020-06-23 22:27] mrozekma commented on #599
VSCode: 1.45.1 (5763d909)
Codespaces: 1.0.2390
OS: Linux x64 4.19.113-08528-g5803a1c7e9f9

Normally I'm on a Pixelbook running ChromeOS, with VSCode running in a Debian 9 container, which I realize is an uncommon configuration. I just tried on a Windows PC and everything is fine. Now that I'm comparing with Windows I realize that Codespaces remembers my session once I login once. On the Pixelbook

[2020-06-23 23:49] kylewill opened #607 "Can’t sign in on iPad in Safari"
Whenever I login I am taking to the live.com login flow. “Signing in” spinner loads, then see this error:

“Login failed due to unexpected error. Please log out and try again.”

No issues on Pop_OS / Chrome with this account. I’ve tried incognito, cellular, ads disabled, and erasing all web history / cache.

![IMG_0091](https://user-images.githubusercontent.com/3108182/85478572-8170f780-b58a-11ea-

[2020-06-24 00:05] cmbrose commented on #599
Thanks @mrozekma!  Since it's working on Windows, it sounds like there's something wrong with how we cache credentials on Linux.  I'll get a Linux environment set up and try a repro there.

[2020-06-24 00:58] sandervalstar commented on #605
@edgonmsft I found another solution. Instead of installing git v2 using the `git2u-all` package, if I installed it using this:

[code]

Then it the problem is resolved as well.
I presume because `yum -y install git` will now point to git v2 whereas when installing v2 using the `git2u-all` package `yum -y install git` would still point to git v1 which will cause that conflict.

[2020-06-24 01:18] maswitzer commented on #607
Disabling Prevent Cross-Site Tracking in Safari settings will allow you to log in. This is a work around though, not an official solution.

[2020-06-24 01:25] kylewill commented on #607
Ah, confirmed this works as a workaround.

[2020-06-24 03:41] nsanka opened #608 "Display PyQt application in Codespaces"
How to display a simple PyQt application in codespace using visual studio code on Windows? It gives error "Error: Can't open display:". I already have Xming X server running and tested opening the same application by connecting to another Linux machine using X11 Forwarding. How to do that in codespace environment?

[2020-06-24 04:45] archite commented on #601
That work, @SferaDev ? I'll have to figure out how to delete my old office365 domain or something since I can't create a new plan with it there nor can I delete my current. And I almost went back to 365…

[2020-06-24 05:27] SferaDev commented on #601
I'm in a similar position, I had two subscriptions. One of the expired and the other one gives an error while creating a new plan. I will try to create a new subscription and start over...

[2020-06-24 09:20] AlseinX opened #609 "Self hosted codespace not available once created"
+ OS: CentOS 8
+ Registered by vso cli with no error output and everything seems to be good
+ `https://online.visualstudio.com/environments` says my codespace is unavailable.
+ Openning the link given by the vso cli is infinitely initializing.
+ Tried unregistering and re-register but still unavailable.
+ `systemctl status --user vso` outputs:
[code]

[2020-06-24 09:30] AlseinX commented on #609
After `systemctl restart --user vso`
It says
[code]

[2020-06-24 09:34] OneCyrus commented on #609
i have the exact same issue since a couple of days here. also the same error after a restart.

[2020-06-24 14:10] dclayto1 commented on #575
Sorry, forgot to respond. I was not seeing the warnings that @Helianthella was seeing, but I did have the 401 error log for that GET request to the "keychain-keys" endpoint.

However, this is how I do my primary development, so I needed a working environment and rolled-back to Chrome stable and everything is working again

[2020-06-24 14:14] Helianthella commented on #575
I can confirm that downgrading (to chrome v84 in my case) fixes the issue for me too so this appears to be v85+ specific

[2020-06-24 17:27] inkerinmaa commented on #184
![image](https://user-images.githubusercontent.com/5521235/85603449-0de9eb80-b659-11ea-8f05-0ffa5e7e1efa.png)
Same issue. Cannot login - when I enter my email and push "Next" page is just reloading and everything repeats

[2020-06-24 17:34] joewood opened #610 "Some clarity on the network model for self-hosting?"
I couldn't find this information in the documentation, I was wondering what the network model is for self-hosting.

Is the relay server an active proxy, routing all traffic between VS Online and the server? Or is the relay just a directory service for authentication, so traffic is routed directly to the server within the corporate network?

I suspect the model is for the former. Is there a documen

[2020-06-24 18:36] Rathna-K commented on #395
@Davsterl will this be compiled for rmhf / raspbian? is there a roadmap or timeline for this feature? thank you

[2020-06-24 19:28] definitelycarter opened #611 "self-hosted agent unable to validate token and instance is not flipping to 'available'."
I set up a linux machine around a month ago using the self-hosted cli option.  I noticed today that the agent is no longer connecting and becoming available in the Visual Studio Codespaces environment listing.  Poking around the logs and I see the token is failing validation.  Below is what I believe is the relevant section of the agent logs.

[code]

[2020-06-24 20:19] definitelycarter commented on #611
I am trying to re-register my instance with the latest version of `vso` (appears to be 1.0.2368) and I am seeing logs stating my token has expired with a 401.

[code]

[2020-06-24 21:06] taiyosogawa commented on #611
Hi @definitelycarter, thanks for reporting this and finding the relevant information in your logs. Could you try deleting your `~/.vs-liveshare-keychain` file and registering again?

[2020-06-24 21:11] definitelycarter commented on #611
Hi @taiyosogawa - I deleted the following files and I am getting the same response:

- ~/.vsonline/selfHosted.json
- ~/.vs-liveshare-keychain
- ~/.vs-liveshare-settings.json

[2020-06-24 21:19] osortega commented on #602
Hello @lucusapp
Unfortunately looks like the plans you used to create those Codespaces were under a Free Trial subscription that expired or got deleted. What happened was that the Codespaces associated and billed against that subscription got deleted with it as well.

I'm really sorry that this happened.

[2020-06-24 22:15] cmbrose commented on #599
@mrozekma I was able to repro this in a Debian VM and it looks like it's fixed by setting up a keyring:

- `sudo apt install gnome-keyring`
- You should be prompted to set up a password for a new keyring
- Reboot (maybe not needed, but for good measure :))
- Open vscode, sign back into Codespaces
- Connect to a Codespace

FWIW these steps worked for me for a brand new VM - I'm not sure what will h

[2020-06-24 22:32] taiyosogawa commented on #611
Thanks! Love the callouts in the screenshot. We're taking a look into it.

[2020-06-24 23:37] edgonmsft commented on #605
@sandervalstar Yeah that's the other solution.

I'll keep this issue open to track making improvements to detect if git is already installed anyway.

Thanks!

[2020-06-25 02:04] mrozekma commented on #599
@cmbrose Yep, that fixed it. No need to reboot, and I didn't get prompted to make a keyring password until first use (when I logged into Codespaces and VSCode tried to save my credentials). Possibly VSCode should popup a warning about the failure to save credentials if no keyring is available, but that's up to you all. Thanks very much for the help

[2020-06-25 02:04] #599 closed

[2020-06-25 03:40] Skmt3P commented on #601
I had a similar issue. it stopped working around June 22.
For the following situations 1-3, I responded to the situation in method 4 with a provisional response to Self-hosted Codespaces that are now available. However, I would like to see Microsoft take action on 5. in the future.

-----
1. Environment
Hosted: Ubuntu18.04
Client: macOS Catalina 1.15.5
-----
2. Error
[code]
-----
3. Subscription
*

[2020-06-25 06:36] lucusapp commented on #602
Hi. I am quite disgusted with what happened. There should be a notice
that the repositories are under a trial license and that they will be
removed in order to save the work being done or subscribe to a plan.
In this sense, the platform is disappointing.

El mié., 24 jun. 2020 23:19, Osvaldo Ortega <notifications@github.com>
escribió:

[2020-06-25 12:19] benc-uk commented on #196
Having this problem too, calling a simple REST API running in a Functions host.
Calling directly in browser works fine, but a fetch request from JS in a React app, results in 411 errors

[2020-06-25 16:21] dmgardiner25 commented on #503
The changes were deployed and can be seen from codespaces run on desktop but we've run into an issue that is preventing the changes from being seen on the web. Since that's a separate issue, I'm going to go ahead and close this issue.

[2020-06-25 16:21] #503 closed

[2020-06-25 17:03] ztolley opened #614 "Cannot login from Safari"
I am unable to use visual studio online via Safari on iPad and Desktop Safari.

To reproduce:
1. Visit online.visualstudio.com
2. Select Get Started
3. Select Sign In
4. Sign in with account

The app then returns to visual studio codespaces and says
`Login failed due to an unexpected error. Please log out and try again`

If I connect desktop Safari dev tools I can see I get a 404 for workbench.web

[2020-06-25 18:07] taiyosogawa commented on #609
This could be the same as #611 - we are looking into some issues following a cert rotation.

[2020-06-25 18:14] taiyosogawa commented on #611
Still working on this - will post when some updates have been released.

[2020-06-25 19:02] wazybr commented on #88
I was still having the issue. Opening VSCode as administrator and running the self-hosted env as a service worked for me (didn't have time to check which one of those steps made it work).

[2020-06-25 21:13] DAddYE commented on #614
Same, I can login from ipad Safari but not macos safari.

[2020-06-25 21:22] DAddYE opened #615 "Full Screen support on iOS"
Hi,

would be awesome, if you could add the tag:

[code]

This should allow ios/ipados users, to add http://online.visualstudio.com to the home screen, after which, you'll be able to open in safari without the clutter of address bar and tabs.

[2020-06-25 21:25] DAddYE opened #616 "Copy/Cut support for iOS/iPadOS"
Hi all,

both on iOS and iPadOs 13, I'm unable to use copy/cut feature using Safari when using vso. My vscode configuration is available [here](https://gist.github.com/DAddYE/8d568f756f5a16587e8e835c130b2912).

[2020-06-25 21:59] YoungElPaso commented on #312
Exactly the same situation -  can't complete process in ChromeOS.  Azure accounts extension device code sign on *does* work though. Not sure why those credentials don't then apply to the codespace extension.

[2020-06-26 05:36] dmitryyankowski commented on #616
Same here :/

[2020-06-26 06:49] ztolley commented on #614
Duplicate of #607

[2020-06-26 09:33] #614 closed

[2020-06-26 15:59] dehru opened #617 "global npm module requiring node-gyp rebuild ( jq ) fails - EACCES ERROR"
Version: 1.47.0-insider
Commit: b9d7ec9ff367a8e59fe4cc2abee605a55be180e8
Date: 2020-06-19T22:25:04.581Z (6 days ago)
Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36

Steps to Reproduce:

1.  Create a new environment
2.  Try to globally install an npm module that requires an OS specific rebuild ( node-gyp )
```npm i -

[2020-06-26 16:43] abuchholtzau commented on #602
We're really sorry this happened. We're working on improvements to the platform that should help alleviate this problem in the future.

However, the auto-deletion of resources after a Free Trial expires is due to the way Azure handles the Free Trial. I encourage you submit feedback directly to the Azure team on their [feedback site](https://feedback.azure.com/forums/34192--general-feedback).
This

[2020-06-27 00:36] luabud commented on #505
hey folks! any updates on this by any chance? 😊

[2020-06-27 13:08] zmetcalf commented on #407
@taiyosogawa is there a way to bump the linux (debian 10) repository so we can have access to this fix. My version is still matching the problem one.

[2020-06-27 14:44] dcstuff commented on #504
Seconded. I was going to ask for Fira Code Medium, but Cascadia will do just fine.

[2020-06-27 19:29] damianmr commented on #609
I have the same error as the guys above, this was working fine a few days ago. Now, my codespace is always listed as "Unavailable" except for a few seconds immediately after I run `vso start`.

[2020-06-27 20:08] gregvanl opened #619 "Codespaces extension license still says "Visual Studio Online""
Text below from LICENSE.md in the installed location .vscode\extensions\ms-vsonline.vsonline-1.0.2390\

Also available at https://github.com/MicrosoftDocs/vsonline/blob/master/EXTENSION%20LICENSE.md

[code]

[2020-06-28 04:22] mnixry opened #620 "Feature Request: Specify a browser to open the OAuth URL"
For some reason, I cannot set the default browser configuration correctly, so vscode cannot handle the opened website by calling the default browser, therefore this prevents me from logging into the Visual Studio Codespace.
I hope this plugin can add an option to specify a browser to open the OAuth authentication URL.

[2020-06-28 08:01] davide-rota commented on #607
+1, probably you already know this but you may need to implement the authorization code grant with PKCE -> https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas

[2020-06-28 14:11] smallhaes opened #621 "Can I update codespace after updating base image in .devcontainer.json?"
I could create the customized codespace quickly with .devcontainer.json. It's exciting.
However, can I update my codespace after updateing the base image used in .devcontainer.json ? I don't want to create a new codespace again

[2020-06-28 23:24] matt-bornstein commented on #213
+1, looking forward to a solution.  And agree that a warning should be added to the port forwarding dialog - or at least a link somewhere to this issue tracker.

[2020-06-29 16:08] jkeech commented on #545
Deployed :rocket:

[2020-06-29 16:08] #545 closed

[2020-06-29 17:23] antronic opened #623 "Stuck on "Waiting for environment to become available.." when using persistent service/daemon"
My self-hosted stuck on "Waiting for environment to become available.." when using persistent service/daemon.

It got the same issue when I tried
[code]
and
[code]

For the other options
Would you like to run as a persistent service/daemon? [Y/n]: Y
Would you like us to run 'loginctl enable-linger' to enable services to run even when you're not logged on? [Y/n]: Y

Self-hosted OS: Ubuntu 18.04 on

[2020-06-29 18:23] abuchholtzau commented on #621
Hi there!

Closing this as its a duplicate of Issue #51, which covers refreshing a Codespace when the .devcontainer changes.

Thanks for your feedback!

[2020-06-29 18:23] #621 closed

[2020-06-29 21:28] srividyasurampudi opened #627 "The resource validation failed"
![image](https://user-images.githubusercontent.com/66497437/86057606-79eb9b80-ba2d-11ea-81b4-7aef7b68cc87.png)
I am getting "the resource validation failed" while creating a codespace.
I have tried a different Plan Name and Resource group but to no avail.

Please fix this issue

Thanks

[2020-06-29 21:40] cmbrose commented on #627
Hi @srividyasurampudi!  Usually this means that you are at the plan quota for you subscription (which is 3).  Can you check if that is the case?

Also if you can provide the plan name and resource group which you tried to create with (under the "Advanced Options" section) that would help a lot for debugging.  Thanks!

[2020-06-29 21:49] srividyasurampudi commented on #627
Hi

I would like to ask regarding the plan quota for the subscription , I shall help out with further details if this isn’t sufficient.[cid:image001.png@01D64E3D.950FCAA0]

Regarding the details I used to create
Plan Name- vso-plan-eastus
Resource group - vso-rg-34cd892

Thanks and Regards
Srividya

From: Caleb Brose <notifications@github.com>
Reply-To: MicrosoftDocs/vsonline <reply@reply.github.c

[2020-06-29 21:58] srividyasurampudi opened #628 "Visual Studio online Code space environment taking too much time to access"
![image](https://user-images.githubusercontent.com/66497437/86060000-dfda2200-ba31-11ea-8def-2681b7e3e305.png)
I am unable to access visual studio code online for a few hours.
Please help me fix this issue

Thanks

[2020-06-29 23:03] cmbrose commented on #627
Hi @srividyasurampudi - I was able to find several creation requests for plans named `'vso-plan-eastus'`, but none had the resource group `'vso-rg-34cd892'`.  That said, all the failed requests that I did see for this plan name had in fact failed due to quota limits.

Can you confirm that you tried creating the plan under this resource group?  Each time you load the plan creation pane it randomize

[2020-06-29 23:06] cmbrose commented on #628
Hi @srividyasurampudi - sorry you're seeing this.  Can you provide some more details about this codespace?  For example:
- what is it's `id` (the guid at the end of the Url)
- have you tried a force shutdown and resume?  (You can do a force shutdown from card on the homepage)
- does this behavior also happen for any other codespaces you have?

[2020-06-29 23:13] srividyasurampudi commented on #628
Hi Caleb
Please find the following details below

Thanks and Regards
From: Caleb Brose <notifications@github.com>
Reply-To: MicrosoftDocs/vsonline <reply@reply.github.com>
Date: Monday, June 29, 2020 at 7:06 PM
To: MicrosoftDocs/vsonline <vsonline@noreply.github.com>
Cc: Srividya Surampudi <srividya.surampudi@flapmax.com>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/vsonline]

[2020-06-29 23:14] srividyasurampudi commented on #627
Hi Caleb

I am creating a plan under this plan name but the resource group is dynamically selected each time
[cid:image001.png@01D64E49.7E101290]
Thanks and Regards
Srividya
From: Caleb Brose <notifications@github.com>
Reply-To: MicrosoftDocs/vsonline <reply@reply.github.com>
Date: Monday, June 29, 2020 at 7:03 PM
To: MicrosoftDocs/vsonline <vsonline@noreply.github.com>
Cc: Srividya Surampudi <sri

[2020-06-29 23:20] cmbrose commented on #627
Hi @srividyasurampudi - if you can let me know what the dynamically generated resource group name is, then I can confirm the issue.  For example you can open the plan creation pane, copy the resource group name to notepad, attempt to create the plan (assuming it will continue to fail), and then send me that resource group name.  Alternatively, you can manually enter a different resource group name

[2020-06-29 23:20] PProvost opened #629 "Setting PATH in devcontainer doesn't work"
I'm currently using a line like this in my Dockerfile to add a few folders to the system path:

`ENV PATH "/work/bin:/work/gcc-arm-none-eabi-9-2019-q4-major/bin:${PATH}"`

However it doesn't appear to take anymore (I'm using Codespaces from Github directly).

If it helps, the repo I'm using is here: https://github.com/PProvost/getting-started

Thanks!

[2020-06-29 23:21] edgonmsft commented on #629
Thanks for reporting this one!

I'll be taking a look and will let you know what I find.

[2020-06-29 23:22] jkeech commented on #628
@srividyasurampudi, how many running Codespaces do you have? We now match the VM core limits of your subscription, which changes based on the offer type of the subscription. If you have too many Codespaces that are running, you might not be able to resume another one until you suspend one of the running ones. This keeps the overall core consumption within the subscription limits: https://docs.micr

[2020-06-29 23:43] srividyasurampudi commented on #628
Hi John
I m running only 1 codespace in Plan 1 . It was working fine till morning 9 am EST today but has stopped working since then.
ID- 9c722664-bc17-402e-801f-2a7ef1213c5c

[cid:image001.png@01D64E4D.8D3BC080]
I had created another plan but there is no codespace created in it
[cid:image002.png@01D64E4D.8D3BC080]
From: John Keech <notifications@github.com>
Reply-To: MicrosoftDocs/vsonline <reply@

[2020-06-30 03:29] lucduong opened #630 "I couldn't connect to my codespaces"
I have some code that is not committed yet, Please support me to access it again.
![image](https://user-images.githubusercontent.com/2667418/86080208-8d921300-babc-11ea-8e4c-bba0aa9c5ac2.png)

[2020-06-30 17:13] jkeech commented on #630
@lucduong, can you provide the codespace Id (or the full browser url when you see that page)? Just for our knowledge, did you do any particular action that might have caused it to get into that state?

/cc @legomushroom

[2020-06-30 23:26] cmbrose commented on #628
@srividyasurampudi - it looks like for some reason there were two nearly simultaneous requests to start the codespace which triggered a race condition in the startup.  Could you please try connecting again to see if it works this time?

@jkeech - the race condition caused a precondition failed error in the slightly later request.  This triggered the fallback behavior of the resume endpoint which i

[2020-06-30 23:58] srividyasurampudi commented on #628
Hi
I tried re connecting again but I am still facing the same issue, would really appreciate if this is fixed soon
[cid:image001.png@01D64F18.DF1A9900]

From: Caleb Brose <notifications@github.com>
Reply-To: MicrosoftDocs/vsonline <reply@reply.github.com>
Date: Tuesday, June 30, 2020 at 7:27 PM
To: MicrosoftDocs/vsonline <vsonline@noreply.github.com>
Cc: Srividya Surampudi <srividya.surampudi@flap

[2020-07-01 03:44] LaurentLesle commented on #584
I have the same issue and I think it is related to my account being connected to multiple Azure AD tenants. There is no options to select the Directory tenant to target.

[2020-07-01 04:20] xinyu91xyz commented on #584
Agreed with your thinking. I have 2 directory under my account, and the trial subscription was under the default directory, but it always selects the other directory by default and not allowing me to select the default directory.

[2020-07-01 05:17] jkeech commented on #50
Secrets support is now available in Codespaces! 🚀 🎉  You can configure secrets from the web portal in https://online.visualstudio.com/settings. These will be surfaced as environment variables inside the Codespace. Other secrets types such as files will be coming in the future.

Secrets have a concept of a filter that can be applied which can scope the secrets to apply to all Codespaces in your pla

[2020-07-01 05:17] #50 closed

[2020-07-01 05:24] jkeech commented on #564
Secrets support is now available via #50. We'd love for you to give it a shot and see if it solves your need for setting up nuget/npm credentials. You should be able to set a PAT as an env variable in the secrets settings, and then you can have a `postCreateCommand` in devcontainer.json transform your nuget config or npmrc using the PAT.

[2020-07-01 05:56] jkeech opened #632 "Add the GitHub CLI to the base image"
Update the base image to include the `gh` CLI from https://github.com/cli/cli. This makes it easy to manage PRs, repos, issues, etc within GitHub.

[2020-07-01 06:40] elonmallin commented on #564
Nice, that should work. I've already switched from having a `%usrprofile%/.npmrc` with the credentials to having only the projects `.npmrc` with `$NPM_TOKEN` that is replaced by an env var by npm automatically.

Maybe it would be nice with some docs on this because even though it's possible you still have to figure quite some stuff out. Would probably be helpful to have a `.npmrc` file in the samp

[2020-07-01 06:40] #564 closed

[2020-07-01 13:11] david50407 opened #633 "Cannot register self-hosted codespace"
As title, while adding new self-hosted codespace, the error occurs from API:

[code]

[2020-07-01 15:47] cmbrose commented on #628
Hi @srividyasurampudi - this time it looks like you did in fact hit the quota limits that @jkeech mentioned earlier.  It looks like you are using a trial Azure subscription and in that case you are only allowed 1 running codespace at a time.  At the time that you tried to start this codespace did you have any others running?

[2020-07-01 15:59] cmbrose commented on #628
I also just noticed in the logs that this particular codespace is using a Premium Linux SKU which is actually no longer supported for trial subscriptions.  Could you also please try changing that setting to Standard or Basic Linux?  Those SKUs will be allowed for a trial subscription (provided there are no other codespaces running of course).

You can change the SKU type for the codespace card on

[2020-07-01 16:21] taiyosogawa commented on #623
@antronic, apologies for the poor experience. Would you be able to check your logs located under `/tmp/VSFeedbackVSRTCLogs` to see if you see any errors?

[2020-07-01 16:32] taiyosogawa commented on #633
Hi @david50407, sorry for the poor experience there with the unclear messaging. This looks like it is a duplicate of #601. We are working on deploying a fix to the error messaging.

Do you know if the subscription you are using has reached its spending limit or has special restrictions (like a student subscription?) If so, that is likely the cause.

[2020-07-01 17:42] connor4312 opened #634 "Codespaces extension tries (and fails) to log in on every window"
A few minutes ago it seems like Codespaces wants to sign in again. (also noticed that @eamodio's machine started the same thing on a screenshare at the same time)

![](https://memes.peet.io/img/20-07-ea1f4d88-ec1b-4922-acdb-32178d012e7f.png)

I tried to do so, and ended up on an auth screen that never let me continue:

https://memes.peet.io/img/20-07-3fffb92b-d3b1-43d3-95dd-f5fc1d9cf70b.webm

It s

[2020-07-01 18:29] david50407 commented on #633
I'm using free subscription Azure account.
So you means the free subscription account  cannot use self-hosted VSO?

[2020-07-01 20:36] jkeech commented on #633
@david50407, free trials can use Codespaces as long as the free trial is active. You might want to check in the Azure portal to see if the free trial has expired.

[2020-07-01 22:00] rickardp opened #636 "Codespaces fails with private ACR image"
There is no obvious way to provide ACR credentials to be able to base the devcontainer image off a private image stored in an Azure Container Registry.

The container creation fails with:
Could not pull the image referenced in the Dockerfile

What is intended behavior here. I do not plan on putting my internal build system on a public container registry, how can I provide the credentials to the AC

[2020-07-01 22:17] jkeech commented on #636
Private registries are not supported yet, but it's something we plan to start working on soon. I'm going to close this as a duplicate of #360 so we can track there. Thanks!

[2020-07-01 22:17] #636 closed

[2020-07-02 00:40] tyamamushi opened #637 "Cannot create a new billing plan"
I got a following message, when I try to create a new billing plan.
![image](https://user-images.githubusercontent.com/12667162/86303768-cad6dc00-bc47-11ea-93bb-383c73e8fb1e.png)

Any solution?

[2020-07-02 01:27] cmbrose commented on #637
Hi @tyamamushi - usually this means that you've reach the plan limit for your subscription which is 3.  Can you check if that is the case here?  If you also provide the details of the plan you tried to create (name, resource group, and subscription id) then I can check the logs and verify that this is the issue.

[2020-07-02 01:31] cmbrose commented on #634
Hi @connor4312!  I can't quite tell from the image - are you seeing this in desktop or in browser vs code?  Could you also share your extension and vs code version info?  Thanks!

[2020-07-02 02:58] lucduong commented on #630
Hi @jkeech I can get it to work now. Cos that It has a problem when the free subscription expired but not apply pay as you go subscription immediately. I have to switch and activate it manually.
Thanks for your support.

[2020-07-02 03:49] jkeech commented on #630
@lucduong thanks for confirming! We can try to make the error message a lot clearer here. cc @Davsterl

[2020-07-02 04:43] david50407 commented on #633
Thanks. I'm going to change my plan to Pay-As-You-Go.
Is VSO included in the free tier or I have to pay for only self-host usage?

[2020-07-02 04:46] jkeech commented on #633
@david50407, self-hosted is completely free (but does require an active Azure account). Cloud-hosted Codespaces do incur a charge though based on usage.

[2020-07-02 05:04] david50407 commented on #633
@jkeech I just changed my subscription plan to pay-as-you-go and it seems actived, but I still cannot regist my self-hosted vso and get the same output:

[code]

If you need it, this is my subscription account ID: `715353f7-5cc1-44ee-a6cd-6020aec8e60e`.

[2020-07-02 05:20] jkeech commented on #633
Thanks, we will take a look. I think the subscription state is cached for a bit, so it might take a few hours to fully reflect the change.

[2020-07-02 08:25] josundt commented on #575
I am also experiencing the same loop behavior. For me it also started around the time when this issue was created. I am using a AAD guest account which has the appropriate privileges in the Azure Subscription where the code space is hosted.

Logging in with this user used to work fine, but suddenly stopped working.

I have tested logging in with the latest versions of Chrome, Edge (chromium) and F

[2020-07-02 14:01] asthomasdk commented on #609
I just set up a new Ubuntu 18.04 server running as the root user - and have the same problem.

Initially I was able to get it to be available, then tried to connect, which failed - and now it is unavailable - even after reboots.

[2020-07-02 14:09] damianmr commented on #609
Hi guys, does anyone know if this problem also happens when using an Azure hosted instance? Is this something that is affecting self-hosted spaces only?

[2020-07-02 14:25] Blickensdoerfer-J opened #638 "Exceeding Codespace quota"
In my visual studio codespaces i have two plans. One with two Codespaces and one with zero. If i try to create a new Codespace i get a out of quota error. This happens in both plans.
![outOfquota](https://user-images.githubusercontent.com/67747781/86370613-45235280-bc80-11ea-9d67-fd87e7a2e540.png)

Furthermore i can only open one codespace at a time. If i try to open my second codespace i get an e

[2020-07-02 16:12] asthomasdk commented on #609
I have tried unregistering and registering again - making sure I had a non-root directory selected (`/opt/development`), cleaning up `/tmp` and rebooting in between.

As soon as I try and connect to the codespace, it hangs on initializing and I can see the following messages repeated in logs (e.g. `20200702_160540_VSServerHost.log`) :

[code]

No idea if this is good or bad ;-)

[2020-07-02 16:39] cmbrose commented on #638
Hi @Blickensdoerfer-J - are you using a trial Azure subscription?  Trial subscriptions are only allowed to have one active codespace at a time across all plans.  Additionally, they aren't allowed to create Premium Linux SKU codespaces.

[2020-07-02 17:25] connor4312 commented on #634
Desktop VS Code with codespaces 1.0.2427.

[code]

I'm still able to reproduce this this morning.

[2020-07-02 17:29] gregvanl commented on #634
Seeing this as well whenever I restart VS Code Insiders. I don't see this on VS Code Stable 1.46.1.

[2020-07-02 17:56] sheldonhull commented on #634
Added my vote, but additionally wanted to add that if I have vscode set to open all prior folders, that it results in opening this [login page](https://login.microsoftonline.com/common "login page for vsonline") multiple times. My system was not happy 😁

[2020-07-02 18:36] Davsterl commented on #633
Hi David,
Your subscription should be good to go now. It looks like that subscription is registered and marked as pay as you go now.
Please let me know if you're still seeing issues.

[2020-07-02 20:13] DAddYE commented on #409
I confirm that after:

1. Deregistering from vscode all the codespaces
2. `kill -9` all the pids in`ps aux | grep vso`

I was able to register a new codespace without problems, while before I was getting as well Unauthorized.

[2020-07-02 21:00] DAddYE commented on #409
Hi, seems that even if now I'm able to register the codespace, I'm unable to bootstrap it, and the issue seems related to auth.

[code]

Thank you!

[2020-07-03 01:00] guenp commented on #637
@cmbrose I am experiencing the same issue on via https://online.visualstudio.com/environments/plan ("The resource validation failed" after trying to create a billing plan). I am on an internal Microsoft account & subscription. I checked in the Azure portal and the resource group is created, but the Visual Studio Online Plan is not created. When I try to run "Create" again, I get a different error

[2020-07-03 08:00] rickardp commented on #636
Good to hear it's coming. May I also suggest this is clearly documented? Because it was at least not clear to me that this was not expected to work.

[2020-07-03 11:44] Blickensdoerfer-J commented on #638
Okay thanks. I did not know that. Then the behavior is to be expected. I think in the beginning i could have more active at the same time.

[2020-07-03 18:42] ljtill opened #639 "Unable to register self-hosted machine"
**Unable to register new self hosted machine**

Downloaded and executed the PowerShell install script per guide.
https://docs.microsoft.com/en-us/visualstudio/online/reference/vsonline-cli

OS: Microsoft Windows 10 Enterprise Insider Preview
Version: 10.0.20161 Build 20161

`.\vso.exe start --service`

`[2020-07-03 18:29:28.637 CLI I] vso v1.0.2380.36818 (pid: 4872)
[2020-07-03 18:29:29.179 CLI I]

[2020-07-04 02:07] archite commented on #633
I’ve tried everything to get this working myself but there is some weirdness with Microsoft services sending me to a different account altogether.

[2020-07-04 03:13] PhilRussellCodespaces opened #640 "How to test web application?"
I've been searching the docs for this but can't find anything.  I created a Visual Studio Codespace and built a little web application there, that serves on port 8080.  Now I want to access this web application through my web browser.  How can I do that?  I can't find anything that tells me what the public IP or URL is, or whether I need to create a public IP.  Can anyone tell me how to do this?