[2020-03-09 21:09] kieferrm opened #338 "Renderer Process consuming high percentage of CPU"
Chrome Version 80.0.3987.132 (Official Build) (64-bit) on macOS

1) create a new environment on `online.visualstudio.com/environments` using `https://github.com/joshaber/simple-server`
2) create standard environment
3) open environment  in the web UI
=> within a few seconds Chrome runs on 170% CPU

This does not happen when running from source or using the prebuilt web UI in other remote contexts.

[2020-03-09 21:47] praksb commented on #338
I am running into the same issue as well.

[2020-03-09 22:41] kieferrm commented on #338
I realize that this only happens when the environment is `available` and not when it is `suspended`.

Here is what I see in newly resumed environment:
[code]

If I then go back to the dashboard to back into the already running environment:
[code]

What is suspicious here is that two extension host process are being  launched.

[2020-03-09 22:44] kieferrm commented on #338
@jkeech has also observed that there are many instances of
[code]

[2020-03-09 23:19] bnb opened #339 "When suspending from command prompt and "Reload Window" is selected, environment reboots itself."
Currently there's a relatively confusing piece of UX that could end up costing customers more money on a VM than they intended to spend.

When following these steps:
1. Start an environment
2. Use the command prompt to suspend the environment
3. Click "Reload Window"

The following will happen:
1. VSO will perceive reloading as a request to restart the environment.
2. The environment will restart

[2020-03-09 23:26] bnb opened #340 "When creating from container succeeds, connect automatically after short delay"
Currently, when creating from a Dockerfile, you have to manually click "Connect" once the environment has completed building.

It would be a nice UX enhancement if in this case the environment would automatically connect after a certain amount of time - say, 3 or 5 seconds.

[2020-03-10 01:42] abuchholtzau commented on #334
@bradygaster I think this is the issue you hit as well?

[2020-03-10 04:52] eparizzi commented on #39
Any updates on this? We can't try the service because it defaults to our default directory which is not where our subscription is under and there's no way to switch.

[2020-03-10 06:41] bpasero commented on #338
It looks like the workbench is being created twice which is **NOT** supported right now. I will push a change on our end to throw an error if you try to instantiate the workbench twice to prevent this from happening in the future and we can have a separate discussion why this is needed and see if we have to support it this way or another way. The workbench is NOT ready to be disposed and recreated

[2020-03-10 06:44] legomushroom commented on #338
cc @plisy @osortega

[2020-03-10 19:43] leestott opened #342 "Issues with VS Online and Python Kernel version due to MS Python extension"
Hi I have come across some issues with the running VS Online and Jupyter Python

I have a custom docker image which gets deployed as VS Online or can be used within VS Code if you installed the associated libraries. see https://github.com/leestott/MSLearn-DataScience you can use this for repo if required

The specific Library I have noticed a issue with is the datascience Library from UC erkeley h

[2020-03-10 19:49] leestott commented on #211
@GraemeMalcolm  you can use custom docker images so this should resolve the issue :-) here are some templates
https://github.com/microsoft/vscode-dev-containers/tree/master/containers/

[2020-03-11 00:51] rold2007 commented on #297
I tried again yesterday just in case, and this time it worked !

I had this in my log file:
Command [Register Self-hosted Environment]: Register Self-hosted Environment Success (32123ms)

So I guess that the solution is to try many times until it takes less than 30s...

[2020-03-11 00:51] #297 closed

[2020-03-11 12:27] tyamamushi opened #343 "Unable to start/create the environment on vso-plan-southeastasia"
Hello, my environment on vso-plan-southeastasia are unable to start.
My browser is Google Chrome 81.0.4044.43(Official Build)(64 bit).
One of env is https://online.visualstudio.com/environment/14cb5021-8380-4dcd-98a5-eadc2609bed3
![image](https://user-images.githubusercontent.com/12667162/76416555-a88e2980-63de-11ea-8560-477a2f129668.png)
![image](https://user-images.githubusercontent.com/12667162

[2020-03-11 15:52] cmbrose commented on #343
Hi @tyamamushi - sorry you're having issues and thanks for reporting!

@edgonmsft - from the logs for the environment, it looks like an issue running the custom container, can you help here?

[2020-03-11 17:05] edgonmsft commented on #343
HI @tyamamushi!

We had a transient issue in South East Asia that should be resolved by now. Can you confirm if it works by now?

Also the environments were created with no repository, right?

Thanks!

[2020-03-11 17:23] jonnyhork commented on #15
Never mind ☝️
I was directed to this issue #334

[2020-03-11 17:27] jonnyhork commented on #334
I noticed this issue at well, though I didn't wait long enough or reboot my environment to see that they were actually installed just not visible.

[2020-03-11 17:29] nikmd23 commented on #334
I'm seeing reports of this issue on Twitter too. I'd like to prioritize getting this fixed ASAP.

In the meantime, @jkeech's [comment has the work around](https://github.com/MicrosoftDocs/vsonline/issues/334#issuecomment-595507805):

[2020-03-11 17:44] taiyosogawa commented on #297
Sorry I didn't reply to your previous message and so glad it worked in the end! We're working to make self-hosted environments more stable, so we really appreciate that you reached out and worked with us.

[2020-03-11 18:52] nikmd23 commented on #340
Great idea @bnb. This is something that we've already got in development! Look for an update to come soon.

[2020-03-11 18:54] nikmd23 commented on #339
Thanks for the feedback! I'll look into this ASAP.

[2020-03-11 20:12] leestott commented on #342
Issue identified caused see https://github.com/microsoft/vscode/issues/92511 the VSCode team have a fix due a conflict of library names. This is being resolved.

[2020-03-11 21:46] bnb opened #344 "Allow specifying a repo URL without the protocol"
Currently, when cloning an environment from a repo, you need to include a full HTTP/S URL to a git repo.

Ideally, I should be able to copy/paste several variants:
- Clone with SSH, a-la GitHub SSH Clone dropdown or `git remote get-url origin`: `git@github.com:MicrosoftDocs/vsonline.git`
- Clone with SSH, without protocol: `github.com:MicrosoftDocs/vsonline.git`
- Clone with HTTP/S, without protoc

[2020-03-11 22:48] nikmd23 commented on #342
Thanks for following back up on this @leestott.

For anyone else running into this issue, please follow along at microsoft/vscode#92511. I'll close this issue in favor of that one.

[2020-03-11 22:48] #342 closed

[2020-03-11 23:10] bradygaster commented on #334
@abuchholtzau yes, same issue. that said, the issue I ran into was **specific to extensions I expected to be there not being there until I performed a hard-refresh**, not as much about the Docker container components, which I think was the OG purpose for this thread.

FWIW, **now** when I hard-refresh the environments page when my extensions aren't "just there," they're there. If you want sample r

[2020-03-11 23:16] bradygaster commented on #334
I couldn't agree more with @nikmd23 on his comment above. This experience is so, so close to doggone perfect for this style of development. To me, re-starting the environment twice is a paper cut. To new users, it's a laceration around which they cannot work because they don't have the teams on speed-dial the way we all do. FWIW I've worked with @squillace and @itowlson on some workarounds to miti

[2020-03-11 23:47] tyamamushi commented on #343
I try to create new one(https://online.visualstudio.com/environment/dab9d2f5-725c-4981-bb9e-97555e87add5).
Still not woking...
![image](https://user-images.githubusercontent.com/12667162/76474080-d35b9a80-643d-11ea-9586-68b36822c6f2.png)
![image](https://user-images.githubusercontent.com/12667162/76474145-10279180-643e-11ea-9256-ed9a2a20aff6.png)

[2020-03-12 07:29] tyamamushi commented on #343
And I created the environment with no repository.

[2020-03-12 07:36] discovrbookings commented on #10
I found that GitPod fixes this issue.

[2020-03-13 00:15] ThatOneGamer999 opened #345 "Unable to sign in to VSO"
I am using Chrome 80.0.3987.132 Stable and when I press sign in on http://online.visualstudio.com it opens a window to enter my email and password. After completing that the window that was just opened redirects to the landing page. Both parent and child window have the same error in console:

[code]

[2020-03-13 05:01] ibidani opened #346 "Create New Environment requires Git client"
When trying to create new environment on host without Git client installed the following error occurs

Dev tools throws the following exception

If Git client required ask the user to install or at least display proper error message

[2020-03-13 06:42] praksb commented on #345
I am running into the same issue and unable to access my environment.

[2020-03-13 06:59] praksb commented on #345
@ThatOneGamer999 Looks like a bug. I was able to signin after clearing my browser cookies.

[2020-03-15 03:40] crazy4pi314 opened #347 "Port forwarding for Jupyter Notebooks failing token authentication"
I have been trying to use VSO to host a Jupyter notebook server and then connect to it. I can get to the server page where it asks for the token, but when I provide it, the page gives me the following message:

This may be related to #213 and/or #210 but I am not sure.

Steps to reproduce:
1. Create a new environment from this repo: https://github.com/crazy4pi314/learn-qc-with-python-and-qsharp
2.

[2020-03-16 11:57] davide-rota opened #348 "Web Sign-in (with Azure AD) is broken on multiple platforms"
Hello, it seems that trying to sign-in to aka.ms/vso-login or https://online.visualstudio.com/login results in a login request loop. **This happens when I'm already signed in to Azure AD in the browser session.**

- Edge(dev) on Win10 gives me an authentication loop
![image](https://user-images.githubusercontent.com/11763/76755698-97e60680-6784-11ea-9c8f-5a465e2d8ae1.png)
- Edge(dev) on MacOS does

[2020-03-16 13:13] davide-rota commented on #348
As an update it seems that disabling the browser cache (edge developer tools -> disable cache) solves the issue.
It might be a call to https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration that is serviced by the cache that somehow stops the logon process.

[2020-03-16 14:28] jkeech commented on #346
@ibidani, can you clarify if you were using VS Code desktop to create the environment, or were you using the browser?

The top error you reported looks like an ARM API error when creating or querying plan resources in Azure, which would be unrelated to any Git commands.

[2020-03-17 13:08] ItsWendell commented on #40
I'm having issues using docker-compose / docker within Visual Studio Code Online. I'm using a default medium environment with 8GB of memory. Docker and docker-compose both work with when I run them as 'sudo', the problem is that I can't forward ports in Visual Studio Code Online that are created using docker-compose. Any idea how to solve this?

[2020-03-17 16:25] mikeclymer commented on #345
I am having the same issue with MS Edge Version 80.0.361.66 (Official build) (64-bit). As @praksb said, I can only sign in after clearing my cache and cookies.

[2020-03-17 16:27] mikeclymer commented on #348
@davide-rota It looks like your issue may be related to #345 .

[2020-03-17 16:46] davide-rota commented on #345
As mentioned in the other issue I can confirm that just disabling cache solves the issue -> something in cache gets corrupted.
![image](https://user-images.githubusercontent.com/11763/76879860-23d85b00-6877-11ea-987d-c6b21489fa53.png)

[2020-03-17 19:26] Naninani opened #349 "Ensure the environment is fully prepared before allowing users to connect to it"
When creating a new workspace with a large rpo (ours is over 7GB), almost all files are marked as deleted.
It takes couple of min and a refresh of the workspace to fix that.
This could be confusing at 1st for new users.

[2020-03-17 19:48] jkeech commented on #349
I agree this is confusing. We currently allow connecting to the environment before it is fully setup. Clone and restore happens async. So you can connect before the clone finishes.

In this case, it sounds like the Git extension in VS Code ran a `git status` while the clone/checkout was happening in the background, which made it look like the files were deleted, because they hadn't been checked ou

[2020-03-17 20:00] jordanbean1 opened #350 "Unable to connect to existing VSO plan: There are no environments available."
I am unable to connect to an existing VS Online plan & environment in VS Code using the Visual Studio Online extension.

I have an existing VS Online plan & environment I created in the Azure portal.

After installing & configuring the Visual Studio Online extension for VS Code, when I run "VS Online: Connect To Environment", I get a popup saying "There are no environments available. Would you lik

[2020-03-17 23:23] jkeech commented on #350
@jordanbean1, sorry you are having issues. To help troubleshoot, can you try connecting from the browser? When you log in to online.visualstudio.com, do you see your plan(s)/environment(s)?

[2020-03-17 23:27] jkeech commented on #344
SSH is covered by #311.

For "clone without protocol", we already support the shorter form `{org}/{repo}`, such as `microsoft/vscode` without the `github.com` prefix. We are not currently planning to support more formats for http(s) clones besides the full url and the shorthand form for GitHub repos, but based on user feedback could consider adding others. I think keeping the number of support for

[2020-03-17 23:32] jkeech commented on #337
With VSO (and I believe VS Code remote as well), settings are actually stored on the client side, not the remote side. In the browser in VSO, this translates to browser local storage. If the settings sync extension is writing a file on disk on the remote side, then it wouldn't work. But if it goes through VS Code's file system provider APIs to read/write settings, then it should work correctly.

V

[2020-03-18 00:31] edgonmsft commented on #343
Hi @tyamamushi we have published some updates recently. Can you confirm if the issue is resolved or if you still encounter it?

[2020-03-18 02:50] brunoborges opened #351 "Update Java Version on Default Container"
Currently, Java 1.8 is installed on the default container. This version is outdated, slow, and insecure.

[code]

Please update to Java 11 (LTS) or Java 14 (GA).

[2020-03-18 02:50] brunoborges commented on #351
Relates to #111

[2020-03-18 05:33] tyamamushi commented on #343
Hi @edgonmsft Unfortunatley your updates dose not resolved my issue.

I create the following new env, but get error code 1003.
https://online.visualstudio.com/environment/f4d9edf7-ba15-49d9-82bf-a55bb8205849

![image](https://user-images.githubusercontent.com/12667162/76928513-0e216f00-6925-11ea-91cb-c60377791f97.png)

![image](https://user-images.githubusercontent.com/12667162/76928524-15e11380-6

[2020-03-18 07:37] haodeon opened #352 "Cannot clone Azure repo in new environment"
I am unable to create any new environments and my existing environments (which I have deleted) are unable to push to my repos.

I am using Azure Repos, creating the environment using the vs code extension.

This issue only just started happening for me in the last 12 hours, last night I was able to push fine.

The error I am getting is my sign in token has expired. I have tried to delete from my c

[2020-03-18 08:26] haodeon commented on #352
I created a new plan in westus2 and I managed to create a new environment and clone my repo.

My other plan is SE Asia.

[2020-03-18 15:10] duydle499 opened #353 "Unable to clone git repo when creating environment"
I have a DevOps repo but I get an error when creating an environment:

"We are unable to clone this repository automatically"

[2020-03-18 15:12] jordanbean1 commented on #350
If I can get logged into online.visualstudio.com, yes. I am often getting the "infinite login loop" issue as well (click the Sign In button, a new window pops up asking what ID I want to use, I select an ID, a new window pops up with the same Sign In button). If I try to create an environment with the same name in VS Code after creating a new one, I get an error saying it already exists.

[2020-03-18 15:13] jkeech commented on #353
Closing as a duplicate of #48. Creation of environments from Azure DevOps repos from the portal should be supported soon. It should also work today if you create from the VS Code extension.

[2020-03-18 15:13] #353 closed

[2020-03-18 15:19] jkeech commented on #351
Java is not a scenario that we have spent much time trying to cover with the base image to date. We can look at improving support there, but now that custom containers are available, that should be another viable solution if the base image with Java 8 doesn't work well for you: https://docs.microsoft.com/en-us/visualstudio/online/reference/configuring.

[2020-03-18 15:21] jkeech commented on #350
@jordanbean1 what happens if you run the "VS Online: Select Plan" command? Does it list your plans? And if you select the one with your environment, does it then show up in the list on the side?

[2020-03-18 15:34] jordanbean1 commented on #350
Yesterday, it said I had no plans, but today it is allowing me to select the plans and they show up in the "Remote Explorer". I cleared my cookies this morning to try to get around the "infinite login loop" issue. Is there a way to better debug when this happens (extra logging, etc)?

[2020-03-18 15:44] jkeech commented on #350
Good to hear that the plans and environments are showing up. @cmbrose is looking into why the plan selection is not happening by default. The current behavior is definitely confusing.

The login issue in the portal is being tracked in #348. Lots of people are hitting it, and @legomushroom is working on a fix.

[2020-03-18 15:48] jordanbean1 commented on #350
I'm sure part of the issue is the ID I normally use is B2B shared into another tenant. Therefore, there are 2 possible subscriptions for a VSO plan to live under. However, I have tried specifying the "vsonline.planFilter" setting to ensure I select the right one. In addition, I have signed out and signed back in with an ID that only exists in the tenant I want to use, but the VS Code extension see

[2020-03-18 15:54] jordanbean1 commented on #350
If I click on my signed in ID in the status bar that comes from the Azure Account extension, the Command Palette that shows up shows the correct subscription I want to use. However, when I then run "VS Online Select Environment" the list of environments is for the other tenant & subscription that ID is B2B'd with. I feel like something is cached in the background of the VS Online extension because

[2020-03-18 16:01] jkeech commented on #350
@jordanbean1, it's not single sign on today, so you do need to sign in to the VSO extension with the same credentials. Unfortunately, our support for non-default tenants doesn't really exist yet. We do have some commands "VS Online: Sign out" and "VS Online: Sign in", but they will take you through the sign in flow in your default tenant without a tenant switcher. #39 is tracking the work to enabl

[2020-03-18 17:46] brunoborges commented on #351
I assume most users that experiment VS Online for the first time, use the base image. If we can avoid frustration for those Java developers who decide to experiment it, to get the latest LTS release out of the box, I believe to be a good measure.

Should be easily doable and we from the Java team at Microsoft would be happy to help if you provide the pointers so we can submit a PR.

[2020-03-18 18:07] jkeech commented on #351
The VSO base image builds on top of the [Oryx](https://github.com/Microsoft/Oryx) base image, so the preference would be to work with Oryx to get better Java support built in.

[2020-03-18 21:22] jordanbean1 commented on #350
Using "vsonline.signout" & "vsonline.signin" seems to resolve most of my issues around which ID is currently in use & which plan/environment will be selected. Are there plans to integrate with the Azure Account extension or to display which ID is signed in in the VS Online extension?

[2020-03-18 21:27] jkeech commented on #350
@jordanbean1, yes for both. We are working on better single sign on support, but it's likely still a couple months away due to some complexities with a bunch of different scenarios. For printing the current account, we are going to be starting to print a bunch of logs to the output window. We can include the identity/email that is currently signed in in those logs.

[2020-03-18 21:47] bnb commented on #344
As a user, for me it introduces an unnecessary barrier that feels useful for implementation but does not necessarily enable me to have the lowest barrier experience possible. I can't really think of a case in which I'd personally be grateful that I didn't have the option include or omit information that could be assumed.

[2020-03-18 22:01] jkeech commented on #344
@bnb having well-known ways to specify inputs either through common convention or through documented examples makes it much clearer around what is expected. Otherwise it's not clear what data omission is allowed vs not allowed. Just because we can be arbitrarily flexible doesn't mean we should be, because it doesn't necessarily make things simpler to understand or provide a consistent experience f

[2020-03-18 23:12] bnb commented on #344
As someone who works in the JavaScript ecosystem at the platform level, I am painfully aware of this ❤️

There's a few points here:

- If common convention is what's intended, it's worth looking at the DX of browsers which do not require user input of protocols. While not `git clone`, it's a relatively reasonable decision: users do not need to care about this since a machine can solve it.
  - Give

[2020-03-19 00:41] jkeech commented on #344
@bnb, thanks, I think I understand where you are coming from.

From what I have observed, most users copy and paste the url to clone from the browser bar or from the "Clone" links in various provider websites, and both of those already have the full protocol specified. Most folks either don't remember the entire url, or don't want to type the whole thing by hand, hence the copy + paste, which work

[2020-03-19 03:42] Joouis opened #354 "No "VS Online: Register Local Environment" command found"
Hi,

I want to try VS Online feature, read the document, installed the plugin, but no "VS Online: Register Local Environment" command found in my VS Code.

VS Code ver: 1.43.1
VS Online ver: 1.0.1801

![image](https://user-images.githubusercontent.com/8896124/77029281-39b06200-69d6-11ea-83d2-c3d5da444e16.png)

[2020-03-19 03:50] jkeech commented on #354
We renamed the command recently. The self-hosted environment is an environment that runs on your own machines (your local machine in this case). Do the docs reference "Register local environment" somewhere? If so, we can fix them. Thanks!

[2020-03-19 03:59] #354 closed

[2020-03-19 14:16] albingroen commented on #184
I am having the same issue here. Although I don't have any Chinese characters in my account name. Any other ideas of what could cause this @legomushroom? It's basically just a loop of sign in windows.

[2020-03-19 14:19] albingroen commented on #184
This seems to work: https://github.com/MicrosoftDocs/vsonline/issues/345#issuecomment-600177981

[2020-03-19 16:25] bharatari commented on #40
Possibly a related issue to @ItsWendell, I use docker-compose to spin up dependencies like Postgres and Redis so they're available on localhost within my dev environment. However, on a cloud-hosted VS Online environment, it looks like docker-compose containers don't expose their ports within the dev container. That is to say, after running `docker-compose up` and even with the following port confi

[2020-03-19 16:58] karolz-ms commented on #40
I have never tried it myself, but how about creating a Docker network, adding your dev environment container to it, then use the same network to launch your services under development?

It is not exactly the same as when your dev machine is not a container and is running Docker engine, but at least your dev container and the service containers should be able to communicate directly

[2020-03-19 17:54] jkeech commented on #40
@bharatari, @ItsWendell The ports should be visible once we implement #314 to run the containers with host networking enabled.

Until host networking is implemented, you have to go over the default docker networking setup, which exposes the sibling containers over a separate private IP address, which you can try from the terminal.

Example starting nginx:
[code]

[2020-03-19 18:34] darthwalsh commented on #337
Aha, thanks for the info. Sounds like it might be a extension bug then.
I'll wait to see if the upcoming built setting sync works for me, or follow
up with the extension.

--
War does not determine who is right.
War only determines who is left.

On Tue, Mar 17, 2020 at 4:32 PM John Keech <notifications@github.com> wrote:

[2020-03-19 19:26] owingruters commented on #174
+1

[2020-03-19 23:48] osortega commented on #340
Hi @bnb !
This experience is now released in VS Online Web, thanks for the feedback!

[2020-03-19 23:48] #340 closed

[2020-03-19 23:52] osortega commented on #338
The fix is done and released already.
Thanks for reporting!

[2020-03-19 23:52] #338 closed

[2020-03-20 01:36] osortega commented on #318
Hi @connor4312 !
Thanks for reporting this, the fix should be already published now. Sorry for the inconvenient

[2020-03-20 01:36] #318 closed

[2020-03-20 15:40] nikmd23 commented on #348
Making @davide-rota's [work around](https://github.com/MicrosoftDocs/vsonline/issues/348#issuecomment-599528484) a bit more visible as many people are running into this issue:

### Issue Workaround!

Open your browser's dev tools and disable the cache on the Network tab.

![image](https://user-images.githubusercontent.com/199026/77179793-f538cb00-6a96-11ea-95f8-f7b561946c81.png)

This will get you

[2020-03-20 19:03] nikmd23 commented on #335
@legomushroom or @jkeech have you seen this issue before?

[2020-03-20 22:42] nathansoz commented on #50
`Should the Key Vault resource be entirely managed by VS Online, or is it a resource in the user subscription? `

Both? Ideally for a user on a given plan there could be one or more vaults. Maybe have a "create keyvault" helper gesture in the UI but also do allow BYO.

[2020-03-21 14:51] lostintangent commented on #178
Hey all! This has now been released 🚀 You can find out details on here to get started here: http://aka.ms/vsls-web. Let us know if you have any feedback!

[2020-03-21 14:51] #178 closed

[2020-03-21 15:03] lostintangent commented on #344
Since SSH is already covered by #311, I’m renaming this issue to be specific to allowing HTTP/S URLs to omit the protocol (at which point, we’d assume HTTPS).

Depending on the browser/OS, I’m pretty sure there are cases where when you copy/paste a URL from the navigation bar, it can actually omit the protocol. I’ve been hit by this as well. Let me try to repro that, since I think we all agree tha

[2020-03-21 15:09] lostintangent commented on #54
FYI, we’re in the process of adding a new “basic” SKU, that includes 2 cores and 4 GB of RAM. After doing a bunch of testing, we believe this will provide a great developer experience, and allow folks to have more smaller environments, as opposed to one large one. Stay tuned for updates here soon!

[2020-03-21 15:12] lostintangent commented on #95
Is there anything we could collaborate on with the VS Code team to improve this experience?

// CC @Chuxel

[2020-03-21 15:15] lostintangent commented on #9
This has been shipped! 👍

[2020-03-21 15:15] #9 closed

[2020-03-21 15:38] lostintangent commented on #153
I’m going to close this since I believe this issue has been resolved, and we haven’t heard other reports of it. However, please re-open this if you’re still encountering the bug. Thanks!

[2020-03-21 15:38] #153 closed

[2020-03-21 15:42] lostintangent commented on #203
Closing this issue due to inactivity. Please re-open it if you’re still seeing strange behavior, and think we should improve the current experience. Thanks!

[2020-03-21 15:42] #203 closed

[2020-03-21 15:44] lostintangent commented on #210
Closing this issue due to inactivity. Please re-open it if you’re still encountering this issue. Thanks!

[2020-03-21 15:44] #210 closed

[2020-03-21 15:46] lostintangent commented on #167
This issue has been fixed! 👍

[2020-03-21 15:46] #167 closed

[2020-03-21 15:50] lostintangent commented on #180
This has been resolved, and you can now set the “containerUser” or “remoteUser” setting in your repo’s devcontainer.json file 👍 You can find more details here: https://code.visualstudio.com/docs/remote/containers#_devcontainerjson-reference.

[2020-03-21 15:50] #180 closed

[2020-03-21 15:52] lostintangent commented on #215
This issue has been resolved 👍

[2020-03-21 15:52] #215 closed

[2020-03-21 15:57] lostintangent commented on #224
You can now set environment variables in your devcontainer.json file, using either the “containerEnv” or “remoteEnv” properties. You can find more info on that here: https://code.visualstudio.com/docs/remote/containers#_devcontainerjson-reference. I’m going to close this as resolved, but please let us know if you run into any issues or feedback 👍

[2020-03-21 15:57] #224 closed

[2020-03-21 16:06] lostintangent commented on #263
@plisy Has this been fixed?

[2020-03-21 16:08] lostintangent commented on #266
@jkeech It seems like the VS Code team closed that bug and think it’s a VSO issue?

[2020-03-21 16:22] lostintangent commented on #332
This is actually a duplicate of #239, so I’m going to close this issue, so we can consolidate the discussion in one place 👍

[2020-03-21 16:22] #332 closed

[2020-03-21 16:24] lostintangent commented on #337
Yeah this is definitely a bug in the Settings Sync extension, so it would be awesome if you could file an issue with them 👍 I’m going to close this issue in the meantime, since we’re planning to add a built-in setting sync experience very soon. Thanks!

[2020-03-21 16:24] #337 closed

[2020-03-21 16:27] lostintangent commented on #313
@legomushroom Any thoughts on this?

[2020-03-21 16:33] lostintangent commented on #314
@chuxel Is this something that devcontainer.json should support “natively”, as opposed to relying on a runArgs setting?

[2020-03-21 16:35] lostintangent commented on #322
This suggestion seems reasonable to me.

@legomushroom Thougts?

[2020-03-21 16:37] lostintangent commented on #328
Thanks for reporting this! This is a duplicate of #123, so I’m going to close this in order to consolidate the conversation. Thanks!

[2020-03-21 16:37] #328 closed

[2020-03-21 16:41] lostintangent commented on #336
Thanks for reporting this! As you found, we’re planning to address this issue via #5, and we’re actually very close to shipping this support. I’m going to close this issue as a duplicate of #5, so stay tuned to that issue for future updates soon 👍

[2020-03-21 16:41] #336 closed

[2020-03-21 16:44] lostintangent commented on #345
@legomushroom Is this a known issue with caching? Any updates on a fix?

[2020-03-21 16:48] lostintangent commented on #339
@bnb By “command prompt”, do you mean the command palette? I just want to make sure I’m following your repro 😁

@abuchholtzau You were looking into UX improvements to the suspension experience, so could you take a look at this?

[2020-03-21 17:40] lostintangent commented on #100
You can now set environment variables in your devcontainer.json file, using either the “containerEnv” or “remoteEnv” properties. You can find more info on that here: https://code.visualstudio.com/docs/remote/containers#_devcontainerjson-reference. I’m going to close this as resolved, but please let us know if you run into any issues or feedback 👍 In addition, we’ll use #50 to track the overall sec

[2020-03-21 17:40] #100 closed

[2020-03-21 17:55] lostintangent commented on #289
Per the discussion, I’m going to close this issue as a duplicate of #169, since that’s going to be our recommendation for syncing user settings 👍

[2020-03-21 17:55] #289 closed

[2020-03-21 17:58] lostintangent commented on #327
@jkeech Did you try to repro this with a VS Code workspace file? I believe we’ve heard similar issues from other users, so I wonder if we have a problem with VS Code workspaces as opposed to just opening directories.

[2020-03-21 19:43] lostintangent commented on #222
This issue has been fixed 👍 Please re-open it if you’re still experiencing issues. Thanks!

[2020-03-21 19:43] #222 closed

[2020-03-21 19:43] stuartleeks commented on #314
I did look to see if it had been added when I was setting up a devcontainer this week 😀

[2020-03-21 19:48] jkeech commented on #314
Support for host networking in `runArgs` was checked in this week and should be rolling out next week. We will also soon be added host networking enabled by default on the default image.

[2020-03-21 19:52] lostintangent commented on #314
@jkeech Awesome! 🙌

[2020-03-22 17:54] plisy commented on #263
Nope, still a problem. I'm working on a larger fix for taking the right version of VSCode this sprint, so I'll take care of this as well.

[2020-03-22 21:02] fabiom-zz opened #357 "Run containers in the host network by default"
I'm having an issue with the networking support for Docker in an VS Online environment. I can create containers, but **Docker** port fowarding is not working. **NOTE:** I'm not talking about VS Online port forwarding, that works great for me.

In other words, once Docker port fowarding works, I assume VS Online port forwarding will be just fine.

Steps to reproduce:

* Create VS Online environment

[2020-03-23 13:08] NCC1701M opened #358 "Dockerfile should be project independent"
To support custom docker files is a step forward but:

The docker file **shouldn't** depend on the project. The dockerfile or even the hole devcontainer folder should be configured seperatly.
1. We're not using GitHub instead we're using Azure DevOps and those repos can't be cloned automatically. So we need to create an environment without a repo so when the environment is created the default Dock

[2020-03-23 14:10] Chuxel commented on #95
@lostintangent What happens for Remote - Containers is that the server is restarted when the container is bounced, so this does not happen.  VS Code Server does not manage these env vars. What might be good to do in these cases is ask if VS Code Server should be restarted so they take effect globally.

[2020-03-23 14:33] jkeech commented on #95
@Chuxel, this same behavior should happen in remote-containers. If you install an extension that ends up running a command that sets an env variable, it’s not going to do anything to restart the container, right? So the user is left with the same experience of things not working until they end up restarting.

[2020-03-23 15:34] Chuxel commented on #95
@jkeech True - interesting that we haven't heard about this there, but it may be because of remoteEnv and the fact that there's a Rust container.  It's possible some things are just not showing up because of the 54+ pre-config'd definitions.

Interestingly, even locally a reload is not enough if you have multiple windows open... you'd need to shut down all of them for a global env var to kick in.

[2020-03-23 18:02] Chuxel commented on #95
/cc: @chrmarti in case he has any ideas

[2020-03-24 03:03] rido-min commented on #184
Same issue here, no extended chars.

[2020-03-24 07:10] alessionossa commented on #69
Is there any update?

[2020-03-24 10:51] tyamamushi commented on #343
Hi @edgonmsft I have been to able to start my environment, right now.
I saw the following screen on chrome browser, before getting the env.
![image](https://user-images.githubusercontent.com/12667162/77417000-13405b80-6e08-11ea-902c-4e42614bd8ae.png)

[2020-03-24 16:01] edgonmsft commented on #343
Hi @tyamamushi!

That screen is a recent improvement where we will be showing the state of environment creation/resume.

After that did your environment(s) work as expected?

[2020-03-24 19:49] chrmarti commented on #95
Is the extension setting the environment variables? Where are they set?

A resolver can add environment variables to the remote extension host with the `extensionHostEnv` property in its result. That also works when the server is already running.

[2020-03-24 19:55] Chuxel commented on #95
@chrmarti That was my initially impression too - in this case, it sounds like rustup modified OS environment variables. So, the VSO extension is not even aware of the change - nor really is the Rust extension.  The parent process wouldn't know about the change which is what VS Code server is running in.  The only way I can think of this working is to create a new process that the server would run

[2020-03-24 20:03] chrmarti commented on #95
Restarting the server might be the best and maybe only option then. Detecting the change to the OS files (profile?) could help in notifying the user that something has changed. Not sure if that would yield too many false positives.

[2020-03-24 21:48] nikmd23 opened #359 "Stale Screenshot in Personalizing Doc"
The screenshot of "Dotfiles install command" at https://docs.microsoft.com/en-us/visualstudio/online/reference/personalizing is stale.

It should show "install.sh" not "~/dotfiles/install.sh" or "~dotfiles/install.sh"

[2020-03-24 22:43] gavi-anchorlabs commented on #313
Alternatively, any advice here for other ways to achieve single sign-on with VSO would be very useful. This is the only thing currently preventing a bulk migration of our developer workstations from our self-managed VMs at our current cloud provider to Azure-managed VMs.

[2020-03-25 11:26] nikmd23 commented on #69
Not yet, but keep your eyes peeled, as well have announcements in the space soon! 👀

cc @taiyosogawa

[2020-03-25 12:08] nikmd23 commented on #358
Thanks for this suggestion @NCC1701M!

This has been something we’ve hypothesized users may run into in the past, so it’s great to have the real world feedback.

FWIW: Your No 1 will be fixed soon. I understand that still doesn’t solve No 2 - which we’ll start thinking about.

Out of curiosity, would all environments in your plan use the same devcontainer/image?

[2020-03-25 12:15] nikmd23 commented on #357
Good question @fabiom-zz! Looping in @jkeech and @edgonmsft

[2020-03-25 12:26] nikmd23 commented on #322
I’d also really love the “Keep me logged in” button. I often do research in other tabs for 30+ mins and want to come right back to the position I was in.

[2020-03-25 15:43] jkeech commented on #357
This is related to #314. The main environment container is not currently run in host networking mode, but it's something we are changing very soon.

[2020-03-25 16:37] NCC1701M commented on #358
Thanks for your answer @nikmd23

To your question:

All environments should use the same Dockerfile. Of course there will be more than one Dockerfile depending on the project but environments created for the same type of project will be using the same devcontainer/image. For example all web applications should use .net core 3.1.100, node.js 12.16.1 , Angular-Cli 9 and so on. So we will create a Do

[2020-03-25 17:01] jkeech commented on #358
@NCC1701M, how would you perform potentially-impactful upgrades (e.g. .NET Core major/minor update) across multiple repos simultaneously? For example, the upgrade from .NET Core 2.x to 3.x involved many breaking changes. Sometimes even small updates can unintentionally impact applications at build or runtime. If someone centrally updated the template Dockerfile and that file was automatically pick

[2020-03-25 17:22] NCC1701M commented on #358
Well it would be great if the developer could not only set up the repository of the "global" devcontainer but also the branch and/or a tag to specify the version.

Maybe I was not detailed enough. Of course we wouldn't simply upgrade Major versions. But when a LTS versions support is near to end an upgrade is - in my opinion - necessary. So before we would release such a major upgrade we would
1.

[2020-03-25 20:40] plisy opened #360 "Allow custom docker image to be based of Azure Container Registry published image."
We should allow using private acr stored images as base images for custom docker images.

This enables scenarios where a team publishes base image with proprietary tooling setup into ACR and then uses it for environments and shares it with deployments outside of VSOnline.

[2020-03-26 00:21] jkeech commented on #266
@lostintangent, no, they didn't investigate after I commented. I don't see how this could be a VSO issue. This is a client-side VS Code issue opening any link from the VS Code install. I think the VS Code issue needs to be reopened.

[2020-03-26 00:22] jkeech commented on #266
I'm going to go ahead and close this issue since it's not a VSO issue.

[2020-03-26 00:22] #266 closed

[2020-03-26 00:37] jkeech commented on #327
@lostintangent, I just tried this from within a multi-folder workspace and `Ctrl+p` to find and jump to files worked correctly. This was in Edge Dev on Windows, but I don't think that would make a difference.

[2020-03-26 01:21] sionicion opened #362 "Sign-in loop on iPadOS"
Although iPadOS isn't supported currently, I used to be able to sign in and get into an environment. Recently I wanted to try it out again but when I sign in, it says to do two-factor auth even though I already did, and it loops. If I try going to the site again in a new tab, it loops on wanting to sign in.

[2020-03-26 05:55] K-Ubu commented on #345
I have the same issue about endless loop of sign-in. In addition, disabled cache does not work for me.
My account belongs two AAD. Are there any relationship between sign-in error and multiple AAD?

[2020-03-26 09:43] GalacticLion7 commented on #33
Safari on iPadOS or macOS?

[2020-03-26 09:48] GalacticLion7 commented on #362
I think they blacklisted iPadOS recently. I used to be able to sign in and get an environment as well, but now it brings you back every time and you get the yellow panel on top that tells you the browser isn't supported.

https://imgur.com/ggxjN9y

[2020-03-26 16:52] Dgatsby opened #363 "After downloading the app... It won't open"
Hey everyone,

I'm very new to coding, and i have downloaded this app "Visual Studio Code" and I've re downloaded it multiple times, and it just doesn't open. Not sure what steps i should take next.

[2020-03-26 16:59] jkeech commented on #363
Hi Dgatsby! Sorry you are having problems getting VS Code to work. Can you file a new issue at https://github.com/microsoft/vscode? That's the repo for VS Code. Thanks!

[2020-03-26 16:59] #363 closed

[2020-03-27 08:28] tyamamushi commented on #343
Hi @edgonmsft, Yes it works as expected.

[2020-03-27 16:53] edgonmsft commented on #343
Thanks! I'm going to close this issue if you need any more help please reach out!

[2020-03-27 16:53] #343 closed

[2020-03-27 19:45] nikmd23 opened #364 "VS Online terminal output in triplicate"
All the commands that run in the VS Online terminal are rendered in triplicate:

![image](https://user-images.githubusercontent.com/199026/77794251-8c72c500-7039-11ea-8c6a-fb9142497e62.png)

[2020-03-27 20:57] manekinekko opened #365 "Version mismatch, client refused"
Hi, I am reporting a recent issue encountered on VSO.

Reproduction steps:
- Go to https://online.visualstudio.com
- Create a new environment
- The error appears during the startup.

Version info:
[code]

Error:
![image](https://user-images.githubusercontent.com/1699357/77799731-b4801980-7075-11ea-922f-f56d4027aa6a.png)

[2020-03-27 21:15] jkeech commented on #365
This is due to the browser caching older VS Code content that doesn't match what it currently deployed on the server side. @plisy is working on some caching changes to fix this, but as a temporary workaround, can you perform a hard refresh (`Ctrl + F5`)?

[2020-03-27 22:43] bradygaster commented on #40
Quick update for folks on the cloud-native side of this. I worked with @squillace and @itowlson on an [opportunity in the Kubernetes extension for VS Code](https://github.com/Azure/vscode-kubernetes-tools/issues/715) that streamlines the ability for a K8S dev to add clusters to their dev environment. Previously, there was a small setup that'd need to take place that I'd automated in a bash script,

[2020-03-27 22:48] nikmd23 opened #366 "Refuse to use dotfiles repo"
A few hours ago I created an environment with my dotfiles repo.

Now, I can't progress forward. I'm still logged into GitHub with my one and only account, and this repo (which is private) still exists.

![image](https://user-images.githubusercontent.com/199026/77806567-0e231c80-7053-11ea-8acc-a9f406795445.png)

[2020-03-27 22:50] jkeech commented on #366
@nikmd23, did you try signing out to clear the cached oauth token and then retry?

[2020-03-28 19:08] anthonychu commented on #335
Still happening after reinstalling the extension and restarting my machine. Some logs:

I had previously signed in. When I reopen VS Code and open Remote Explorer:

[code]

Clicked sign in and authenticated. I can see my cloud hosted environments:

[code]

Now I run Reload Window command in VS Code. No longer signed in:

[code]

[2020-03-28 22:20] jaydeboer opened #367 "Unable to create local environment"
Each time I try to create a local environment if fails with `Register Self-hosted Environment: Sharing environment failed.`  If I then go look at my environments at online.visualstudio.com/environments it shows as 'Creating' and it doesn't ever seem to complete.  I've deleted the /$TMPDIR/vso folder.

**The logs from the extension are:**
[code]

After digging around some more

**VSCode Details:**

[2020-03-29 09:49] davidbarton commented on #33
It would be amazing if you can update the title of the issue to `Add support for Safari desktop and mobile` if this is the case. Or create separate issue to track mobile Safari support.

Also here are the `ios` labeled issues for VSCode https://github.com/microsoft/vscode/labels/ios

And `safari-ios ` labeled issues for Monaco Editor https://github.com/microsoft/monaco-editor/labels/safari-ios

[2020-03-29 10:36] #96 closed

[2020-03-29 10:36] TheodoreKrypton commented on #96
thanks I have solved this problem

[2020-03-29 17:49] fenixsolorzano commented on #40
Is there any example on how to use `docker-compose` to setup the containers of a project inside vsonline? I'm trying to use my dev container just as I do in my local machine (similar to @ItsWendell)

[2020-03-29 20:11] fenixsolorzano opened #368 "Workspace/project sync with local machine"
Related to #242, it's frustrating to have to keep pushing and pulling from local to remote env when one makes a change on either environment, there's a very similar project called [okteto that does file syncronization between their dev environment and local machine](https://okteto.com/docs/reference/file-synchronization/index.html).

[2020-03-29 21:46] fenixsolorzano opened #369 "Confusion about devcontainer"
Before knowing about VS Online I was using devcontainers for setting up my whole project without having to run docker commands repeatedly; I'm not sure if I'm doing it wrong but now I understand that VS Online `devcontainer.json` will setup the development environment, in my case I had my project configured with `docker-compose.yml` files so my current setup with VS Online is:

- Use `devcontainer

[2020-03-29 21:54] fenixsolorzano commented on #40
You should add this to the docs specs, it was crucial to me to understand this in order to mount my dev env

[2020-03-29 23:02] fenixsolorzano commented on #139
I would love this feature, the current state of vs online doesn't support file sync between the remote environment and the local machine, I've found myself having to the following:

1. `git commit > pull > push` from the dev env
2. Close connection
3. Delete current env
4. Pull code from git
5. Possibly doing some changes before creating the dev env again
6. Create dev env again (three steps in th

[2020-03-29 23:19] fenixsolorzano opened #370 "Create vs online environment from config file"
After reading the docs and #62 I still don't find a way to configure the default dev environment I want for the project, for example:

[code]

Is there a way to define those? Or will there be a way to define them?

[2020-03-30 00:32] wbpluto opened #371 "Improve discoverability of common management tasks"
Currently, the VSOnline UI is all bring from VSCode, which makes environment manage features hidden in the Remote Explorer, and the icons are so small, which makes it not easy to find for starters.

I think the UI in VSOnline should be customized and put more VSOnline specified features more easy to find.

[2020-03-30 00:45] wbpluto commented on #362
Waiting for the official support of iOS and Android

[2020-03-30 01:33] fenixsolorzano opened #372 "How to get workspaceFolder at postCreateCommand?"
I want to execute an `.sh` file in `postCreateCommand` at `devcontainer.json`, but I'm unable to use [VS Predefined variables](https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables), what I'm looking to do is something like the following:

[code]

[2020-03-30 15:25] jkeech commented on #372
@fenixsolorzano, `devcontainer.json` does not support VS Code predefined variables, but the working directory of the `postCreateCommand` is set to the workspace root. You should be able to specify `bash .devcontainer/post-create.sh`, which is also what the [docs](https://docs.microsoft.com/en-us/visualstudio/online/reference/configuring#visual-studio-online-configuration-reference) mention.

[2020-03-30 15:46] jkeech commented on #369
@fenixsolorzano, can you share the `devcontainer.json` file that you were using prior to using VS Online? We are working on adding built-in docker compose support for devcontainer.json and changing the user on the default image to be able to run docker commands without `sudo` as part of #40. I'm hoping that your scenario will be covered by those changes, but it would be great to confirm.

[2020-03-30 16:21] taiyosogawa commented on #367
@jaydeboer thank you very much for reporting this - the detailed information is very helpful.

We put in a fix for this and will be rolling it out in our next deployment. I'll update this thread when it becomes available.

[2020-03-30 17:26] ThomasNigro commented on #327
Hello everyone,

Not using a custom `devcontainer.json` file.

However I think I've managed to narrow down the issue.

Let's say I have a VS Code workspace which contains many repo: most of them are .NET projects, and one is a Unity3D project. I use this workspace on three setups:
1. On my office workstation, all the repos are cloned since this workstation has Unity installed on it. It works fine.

[2020-03-30 17:32] jkeech commented on #327
@kieferrm, is this a known issue? It sounds like we might want to open a VS Code issue for this if not.

[2020-03-30 18:28] fenixsolorzano commented on #372
It would be nice to get some env variables for ease of development, and it would be nicer to let them be the same as the [predefined vairables](https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables) and also make them available for [the container](https://code.visualstudio.com/docs/remote/containers-advanced#_adding-environment-variables)

[2020-04-01 15:07] kieferrm commented on #327
Tracked in https://github.com/microsoft/vscode/issues/94170.

[2020-04-01 15:24] jkeech commented on #344
@lostintangent, I agree. If some common browsers do not include the protocol when copying out of the address bar, then we should support that pattern since that's a common use case. What did you find?

[2020-04-01 15:30] jkeech commented on #352
@haodeon, the plan should not affect the git credentials during creation. Since it's working in westus2 for you, can you retry in the other plan from the same machine?

Also, is it possible that you were connected from two different machines simultaneously? If so, there's a bug where the credentials will be queried from the first machine that joined, rather than the one you are actively using.

As

[2020-04-01 15:54] jkeech commented on #327
Closing this issue since it's being tracked in VS Code. VS Online will pick up the VS Code update once it's available.

[2020-04-01 15:54] #327 closed

[2020-04-01 20:16] nikmd23 commented on #366
signing out and back in again fixed the issue. I had to sign out of all of my accounts before it'd let me sign back into my main account which was painful though.

[2020-04-01 20:30] nikmd23 opened #373 "Unclear what's happening on live log screen"
At the end of environment creation, the live log screen appears to "freeze" for ~10 seconds before the workbench loads.

![image](https://user-images.githubusercontent.com/199026/78183459-90358b80-742d-11ea-83af-e1f5e61e7dda.png)

Now that we're auto connecting to the workbench, it'd be helpful to display an additional box on the live log that says "Connecting" (or similar) with a spinner during t

[2020-04-01 20:32] haodeon commented on #352
Hi,

I cannot reproduce the error anymore. After a few days of using westus2 I decided to try SE Asia again and it worked. This was about 2 or 3 days ago.

One thing I noticed before it stopped working for me completely was it kept asking me to login for every single git operation (fetch and push ended up being two logins for instance).

I put up with this for a couple of days and then on the day

[2020-04-01 21:02] jkeech commented on #366
Thanks for confirming. I'll go ahead and close this issue. Feel free to reopen or submit a new issue if it happens again. It would also be helpful if you have consistent repro steps. Thanks!

[2020-04-01 21:02] #366 closed

[2020-04-01 21:09] jkeech commented on #352
@haodeon, interesting. We do not store credentials on our service or in the cluster when the services are running -- git credentials stay on the clients and are queried directly from the remote environment when they are needed (such as running `git pull`). We do roll out new service code to regions at different times though. It's possible we had an inadvertent breaking change in a service rollout

[2020-04-01 21:09] #352 closed

[2020-04-01 21:44] osortega commented on #373
There is a gap between when all the setup processes finished and when the environment actually becomes available (which is the ~10 seconds you see there)
We could either add that new step or mark the last one as succeeded until the environment is truly available.

@nikmd23 what do you think makes more sense?

[2020-04-01 23:08] srivatsn commented on #348
This infinite loop issue has been fixed. There are still some changes that we are working to improve the signin experience but folks should be unblocked now.

[2020-04-01 23:08] #348 closed

[2020-04-02 06:30] prokyon commented on #367
Same problem here (version 1.43.2, OS: Darwin x64 19.3.0) `Register Self-hosted Environment: Sharing environment failed.`. _Creating_ is also displayed at online.visualstudio.com/environments, but there is no further update.

I have also created a new plan (WestEurope) - also without success.

**VSCode:**
Version: 1.43.2
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:34:57.03

[2020-04-02 06:48] taiyosogawa commented on #367
@prokyon, I apologize for the poor experience. This is affecting all OSX self-hosted environments and the update will be available early next week. No extension update will be required.

We understand that we've missed the mark here and as a result, we're dedicating resources to improving QA for self-hosted environments. Thanks for using self-hosted, and I'll update when the fix has been deployed.

[2020-04-02 08:33] amowu opened #374 "How to connect Docker localhost?"
In VS Code Online，I run this command in terminal to start a PostgresSQL server:

[code]

And I have already added PostgresSQL default port to the `forwardPorts`:

[code]

But when I run my Rails application in VS Code Online, it could not connect PostgresSQL by `localhost:5432`.

[2020-04-02 13:00] manekinekko commented on #365
@jkeech so that might explain why I got this error only once. I can't reproduce the issue for now.

[2020-04-02 16:49] edgonmsft commented on #374
Hi!

The issue right now is that the container is not created with host networking by default. This will be fixed soon.

In the meantime one option is for you to create a custom container and add --network host to the run arguments.

I have this example repository:
https://github.com/edgonmsft/host-networking-example.git

After that I just ran docker run this way and I could connect to PostgreSQL:

[2020-04-02 16:53] jkeech commented on #374
Related to #314

[2020-04-02 22:40] nikmd23 opened #375 "Add ability to mount additional storage to an environment"
The title says it all.

It'd be useful to have an easy way to mount a data drive that that allows me to have additional storage if I've got a large dataset or something like that that I need in my environment.

[2020-04-03 00:01] sionicion commented on #362
Yeah but that yellow panel was always there since the beginning.. That's disappointing if they did do that. It wasn't perfect, but it did work..

[2020-04-03 02:10] mistryrn commented on #174
Also running into this issue on Safari on iPadOS. Tried disabling "Prevent Cross-Site Tracking" in the Safari settings like @jmbockhorst suggested and was eventually able to sign in.

[2020-04-03 11:06] unalone opened #376 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vsonline`
- Extension Version: `1.0.1889`
- OS Version: `Darwin x64 19.4.0`
- VSCode version: `1.43.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/unalone/ms-vsonline.vsonline-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-lo

[2020-04-03 16:14] jkeech commented on #376
@unalone, thanks for reporting this. Can you attach the referenced cpu profile trace file? Thanks!

[2020-04-03 17:54] nikmd23 opened #377 "Deep link handler doesn’t retain parameters after creating a billing plan"
As a new user, when I see a deep link (from some arbitrary place), this is my experience:

![Slide2](https://user-images.githubusercontent.com/199026/78390297-f0513c80-75a9-11ea-939d-fbee32eec863.PNG)
![Slide3](https://user-images.githubusercontent.com/199026/78390312-f5ae8700-75a9-11ea-9e88-7297b3aff861.PNG)
![Slide4](https://user-images.githubusercontent.com/199026/78390323-f9420e00-75a9-11ea-95

[2020-04-03 17:59] leestott opened #378 "VS Online Custom Docker Container Deployment Failure when opening environment"
Container deployment for VS Online Deployment

![VSOfailure](https://user-images.githubusercontent.com/2511341/78390775-0c220600-75dd-11ea-8cf4-c97bae0e7cc6.PNG)

Error Message
Unable to open 'Content': Unable to read file 'vscode-remote://vsonline+8ea86813-3a63-4cf3-b8f7-e2707ccefb43/root/workspace/Content' (Error: Connection error: Version mismatch, client refused.).
and
Failed to connect to the

[2020-04-04 16:12] lostintangent commented on #292
@bpasero Is this now resolved via https://github.com/microsoft/vscode/issues/89407?

[2020-04-04 16:33] lostintangent opened #379 "Allow automating fork creation when provisioning a new environment"
Currently, our deep link allows automating the creation of an environment for a specific Git repo. However, there are situations where you might prefer the end-user actually creates a fork from the specified repo, so that they can commit/push changes to their own copy and submit PRs if/as-needed.

In particular, this would be valuable for open source scenarios (where the user wouldn’t likely have

[2020-04-04 17:01] lostintangent opened #380 "Prompt users to re-use an existing environment"
Currently, if a user clicks a deep link URL, we assume they want a new environment, regardless what environments they already have. In order to allow environments to be easily re-entrant from arbitrary sources (e.g. deep links in documentation, online learning courses, etc.), and also reduce costs (by preventing duplicative environments) we should detect whether a user already has an environment f

[2020-04-04 17:23] lostintangent opened #381 "Allow deep linking into a specific file within a repo"
Currently, our deep link support allows specifying a repo/branch/commit/PR that the environment should be seeded with. However, we don’t allow specifying a file within that repo, that should be automatically opened when connecting to the environment.

Since VSO is trying to enable a “one-click” provisioning experience, having file-level deep linking would be extremely helpful. Among other things,

[2020-04-04 17:38] lostintangent opened #382 "Provide a way to navigate back to the origin of a deep link request"
When a user clicks a VSO deep link, an environment is created for the specified repo, and they are automatically navigated to a web editor instance that is connected to that environment. However, if at some later point, the user wants to navigate back to the original page that linked them to the environment, they’d have to rely on the browser’s back button (which doesn’t always feel intuitive, and

[2020-04-04 18:28] lostintangent commented on #372
@Chuxel Thoughts? Have you seen this request with Remote Containers?

[2020-04-04 18:30] srivatsn commented on #292
Yes this is how fixed.

[2020-04-04 18:31] lostintangent commented on #371
@wbpluto Hey! Thanks for this suggestion. I 100% that the remote explorer isn’t the most discoverable UI, and so I’m keen to surface common tasks more prominently.

Out of curiosity: which management tasks were you interested in being able to access more easily? That feedback would help inform any investigations we do here 👍

[2020-04-04 18:40] lostintangent commented on #370
@fenixsolorzano Hey! None of these three properties are currently configurable via devcontainer.json. That said, this is something we’ve discussed adding, and so it would be awesome to hear more about your thoughts here. Are you interested in codifying **defaults** in a repo, or are you looking to **enforce** these values for anyone creating an environment from that repo?

[2020-04-04 18:41] lostintangent commented on #370
@Chuxel CCing you since we’ve talked about this a bunch of times 😁

[2020-04-04 18:48] lostintangent commented on #357
@jkeech @edgonmsft Could this be closed as a duplicate of #314, or is there unique product work we’d need to do to suport this?

[2020-04-04 18:54] lostintangent commented on #368
@fenixsolorzano Could you share a little bit about your dev setup/workflow? (e.g. are you trying to develop against a Kubernetes cluster?) We intend to make it easier to transition local work to the cloud, and cloud work back to your local machine, but we’re not currently planning to do synchronization between the two. That said, it would be awesome to understand your use case, to help inform whet

[2020-04-04 19:04] lostintangent commented on #362
@legomushroom Hey! Is this a known issue?

[2020-04-04 19:05] lostintangent commented on #374
Closing this as a duplicate of #357, which is tracking the work to run containers on the host network by default 👍

[2020-04-04 19:05] #374 closed

[2020-04-04 19:11] lostintangent commented on #346
@edgonmsft Do we still have dependencies on Git in order to create environments from any client? I recall this was an issue a while ago, but I don’t recall if we changed anything.

[2020-04-04 19:14] lostintangent commented on #369
I’m going to close this as a duplicate of #35 and #40, but please re-open it if these issues don’t properly account for your issue/request. Thanks!

[2020-04-04 19:14] #369 closed

[2020-04-04 19:18] lostintangent commented on #314
This support has been shipped! Next week, we’ll address #357, which will run containers in the host network by default 👍 Thanks for all the feedback!

[2020-04-04 19:18] #314 closed

[2020-04-04 19:21] lostintangent commented on #335
@legomushroom This seems like an auth issue?

[2020-04-04 19:24] lostintangent commented on #301
@jkeech The screenshots look like VS Code
Desktop. Do we currently support downloading directories?

[2020-04-04 19:27] lostintangent commented on #302
Closing this due to inactivity, and the fact that we haven’t heard other reports of this issue (so it may have been fixed? 😁). Please re-open it if you’re still running into this problem. Thanks!

[2020-04-04 19:27] #302 closed

[2020-04-04 19:28] lostintangent commented on #306
Closing this as a duplicate of #311, so that we can track progress in a single place 👍

[2020-04-04 19:28] #306 closed

[2020-04-04 19:36] jkeech commented on #357
This change will be deployed next week. It won't change behavior for existing environments, but any newly created environment will have host networking enabled when you use the default image.

[2020-04-04 19:41] jkeech commented on #301
@lostintangent, VS Code does support directory downloads. We don't do anything special for this other than provide the connection to the remote side -- the download logic is all built into VS Code.

I wonder if there is some sort of perf issue with large directories somehow either hogging too much bandwidth or otherwise starving the connection, causing it to drop in the middle of the download. I h

[2020-04-04 20:10] lostintangent commented on #326
@jkeech Is this issue primarily with using Alpine base images? Since that Linux distro doesn’t include all the .NET Core dependencies our of the box? (whereas other distros like Ubuntu, Debian, etc. would)?

[2020-04-04 20:16] jkeech commented on #326
@lostintangent, I don't know exactly which distros work and which ones don't -- we need to do a bunch of testing and document the ones that work (as well as see if there's something we can do to make other distros work that we care about, if any of those fail). I believe @nikmd23 started some of that testing a while back.

Minimalistic images like alpine, busybox, etc are much more likely to not w

[2020-04-04 20:26] fenixsolorzano commented on #370
Hi @lostintangent,

I'm interested in both, but I'm mainly looking to make it simpler for other devs to get the dev environment setup hassle free. I've found myself having to delete and re-create the dev environment over and over again

[2020-04-04 20:37] lostintangent commented on #370
Hassle-free setup is one of the primary goals of VS Online, and so we definitely need to address any friction in achieving that 👍

Out of curiosity: what has led to you needing to delete/recreate environments? Besides allowing hassle-free setup, we also want to enable dynamically modifying existing environments (e.g. you can change the VM size and sleep timeout without needing to recreate an envir

[2020-04-04 20:50] fenixsolorzano commented on #368
Kubernetes is not important in my use case, but the file sync is important, here are my thought's after testing vsonline for over a week:

- I fear from the dev env to crash at some point and loose all the work I've done and I haven't pushed to my repo
- I've experienced some problem when running docker-on-docker and my changes have been lost
- After shutting down the dev env without pushing chang

[2020-04-04 20:52] fenixsolorzano commented on #368
There's a VS Code section that says something about file sync, I believe it would be worth to port some of this functionality from https://code.visualstudio.com/docs/remote/ssh#_working-with-local-tools

[2020-04-04 21:38] jaydeboer commented on #367
@taiyosogawa Thanks so much for the quick response!  As a developer, I certainly understand that bugs can sneak in.  Keep up all the good work you guys are doing!

[2020-04-06 01:11] legomushroom commented on #362
Safari blocks any 3rd party storage attempts and currently, we rely on `microsoftonline.com` cookies for authentication. To unblock yourself, you can enable that in the Safari settings. We are working on an authentication change at the moment that should eliminate the issue completely.

[2020-04-06 15:00] Chuxel commented on #372
Most VS Code variables would not work in the context of `devcontainer.json` since they apply to things that only exist once VS Code is up and running (e.g. file).  In addition, in the Remote - Containers case, many are ambiguous.  For example, `workspaceFolder` applies both locally and in the container.

As a result, we have `localWorkspaceFolder` as a variable instead.  The `${localEnv:VAR}` and

[2020-04-06 17:06] legomushroom commented on #335
Looks like keytar issue to me, we saw cases of this before but weren't able to find a repro.

[2020-04-06 17:55] anthonychu commented on #335
@legomushroom I have a repro if you want to ping me on Teams. :)

[2020-04-06 20:57] stuartleeks opened #383 "Is there any way to get the port forwarding URL?"
When forwarding ports, is there any way to get the `...app.online.visualstudio.com` url that is used to access the forwarded port?

I am trying to get a repo set up for browser access in VSOnline and can override the base url that my web app uses, so it would help to be able to get the URL used for accessing the forwarded port so that I can configure that. Happy to get via env var or read from fil

[2020-04-07 01:51] plisy commented on #383
No, not yet. We are working on a way to make this possible in the future.

Would you mind telling us more about how you imagine this would work?

The domain is different per forwarded port and right now it also changes after the environment is suspended and started again.

[2020-04-07 12:38] LimpingNinja commented on #367
I just came here specifically for @prokyon's error - OSX/Darwin and Path cannot be null. Glad to see it has already been diagnosed and rolling out. Hopefully we see it in West Europe soon!

[2020-04-07 13:35] JAgostoni opened #384 "Register multiple self-hosted environment, same Windows VM"
VS Code extension: 1.0.1889
Windows Server 2019

**Goal:**
We are attempting to share a Windows 10 VM to run multiple self-hosted environments.  Each user is logged into their own user profile and also their own Azure login.

**Issue:**
We can only register and/or launch one self-hosted environment at at time. Otherwise, we get see this (or similar) error in the log files:

```Command [Restore Sel

[2020-04-07 14:42] jkeech commented on #384
@taiyosogawa, it looks like one user’s agent is trying to access the named pipe of the other, which would hit the permissions issue. How do self-hosted agents from multiple user accounts keep each other’s pipes separate?

[2020-04-07 16:05] taiyosogawa commented on #384
@JAgostoni, thanks for reporting this issue with very detailed information. @jkeech, yes, I believe you are right about a conflicting pipe name. We'll have to make some changes to avoid that conflict, which we can track here.

[2020-04-07 19:35] contention commented on #69
Hey! Any news on when we can at least expect an announcement against this ticket? :o)

[2020-04-07 20:29] kumarz commented on #377
I have made a fix for this by carrying out the Deeplink params from the billing plan creation to the environment creation panel. This should be rolled out in the upcoming release.

[2020-04-07 20:29] #377 closed

[2020-04-07 20:50] jkeech commented on #69
@contention later this week 😃

[2020-04-07 20:52] contention commented on #69
@jkeech That could be the best news I’ve heard so far in 2020 (admittedly the bar is set low). 😃

[2020-04-07 21:38] nikmd23 opened #385 "Document deep link capabilities"
VSO supports the ability to craft a deep link at https://online.visualstudio.com/environments/new

Supported URL parameters include:

- `name` for specifying the environment name
- `repo` for specifying the environment's repository URL
- `instanceType` for specifying the environment's instance type (standardLinux | premiumLinux)
- `plan` for specifying the billing plan. (NOTE: The billing plan mus

[2020-04-08 05:55] iuiaoin opened #387 "Register Self-hosted Environment: (Error 1) Unrecognized option '--vso-uri'"
When I type "VS Online: Register Self-hosted Environment" command in the command palette, vsonline reports an error: Register Self-hosted Environment: (Error 1) Unrecognized option '--vso-uri'. And it cannot register environment successfully.

vsonline: 1.0.1968
vscode: 1.43.2
OS: Win10

![image](https://user-images.githubusercontent.com/12285381/78749224-67b70f80-79a0-11ea-887d-388b65f56cb3.png)

[2020-04-08 05:56] kyelewis opened #388 "Self-hosted registration fails with "Unrecognized option '--vso-uri'""
Using Visual Studio Code 1.43.2 and VS Online Extension 1.0.1968

Run "Register self-hosted environment.."
Expected: Registration continues.
Actual: Fails with the error "Register Self-hosted Environment: (Error 1) Unrecognized option '--vso-uri'"

[2020-04-08 05:58] jkeech commented on #388
Thanks for reporting. Closing as a duplicate of #387.

[2020-04-08 05:58] #388 closed

[2020-04-08 06:50] taiyosogawa commented on #387
@iuiaoin, Thank you for reporting this issue and I apologize for disappointing experience. We made an error in our deployment strategy, which is causing this error to occur.

The problem should be resolved within a day or so (no extension update required).

In the meantime, you can get around this error by installing the previous version of the extension: 1.0.1889

[2020-04-08 12:52] danieltharris commented on #387
@taiyosogawa downgrading worked perfectly. Make sure to reload vs code after installing the previous version.

Was able to register my Surface Book 2 as a test, and can initially connect using Safari on an iPad Pro (unsupported right now). I do get a timeout once vscode is showing but that's a separate issue on my end.

Thanks for the quick response with a workaround

[2020-04-08 17:52] taiyosogawa commented on #387
@iuiaoin, @danieltharris, thanks again for reaching out and helping us resolve this issue quickly. The fix has been deployed so feel free to switch back to the latest version of the extension.

@danieltharris, if you keep seeing timeouts when connecting to your surface on a supported browser, let us know.

[2020-04-08 17:52] #387 closed

[2020-04-08 17:55] taiyosogawa commented on #367
Hi all - thanks again for connecting with us. The fix for this issue has deployed worldwide, so please give it another try!

[2020-04-08 17:55] #367 closed

[2020-04-09 02:10] iuiaoin commented on #387
@taiyosogawa, thanks for the quick response, it helps a lot!

[2020-04-09 05:09] bobyvankenobi commented on #362
Even if i do that wont work for me, but looking forward to use it on ipad! A big thank you for your efforts!

[2020-04-09 15:12] ChrisTruncer opened #389 "Unable to register Self-Hosted Environment - Unauthorized"
Hi,

I currently have a windows 10 system that I am trying to register for a self-hosted environment. I am able to install VS Code fine along with the online plugin. I am able to authenticate into Azure where it sees my subscription, etc.

I get to the point where it asks for the folder to use for a workspace, it then asks for the name for the environment, and then how it should install (as a serv

[2020-04-09 15:24] jkeech commented on #389
@ChrisTruncer, can you try running the `VS Online: Sign out` and `VS Online: Sign In` commands to ensure you are signed into VSO correctly? It currently requires a different sign in than the Azure account extension.

[2020-04-09 15:29] ChrisTruncer commented on #389
Thanks for the fast response, I just did a sign out and then signed back in.

<img width="463" alt="signedin" src="https://user-images.githubusercontent.com/1674822/78912201-8b339600-7a44-11ea-9732-f53c13baf436.png">

I created a new resource group and online plan as well (in case somehow something was messed up in that process). But I still get to the part where I select a service or a name and i

[2020-04-09 15:31] ChrisTruncer commented on #389
In case it helps, I am using a work account to set this up which does have multi-factor authentication enabled. I could potentially see that causing some interference, so just want to make sure to provide that info as well in case there is a different way the environment is supposed to be registered.

[2020-04-09 15:36] jkeech commented on #389
Thanks for trying and for the extra info. I wouldn't think this is related to 2FA. @taiyosogawa is going to take a look.

[2020-04-09 17:28] taiyosogawa commented on #389
Hi @ChrisTruncer, we're taking a look into what happened. Thanks for reporting the issue.

[2020-04-09 18:22] taiyosogawa commented on #389
We were able to repro this issue and are working on a fix now.

As a workaround, you can try using a plan that is in the same region as you at the time that you create the environment. For example, if you're working out of the US and the plan you used was in westus2, then use a plan in eastus.

If you don't feel like making extra plans, I completely understand. We'll have a fix out as soon as we c

[2020-04-09 18:26] jkeech commented on #389
@ChrisTruncer, for the workaround, you can detect the current region your are hitting by looking at the `current` property in the response from https://online.visualstudio.com/api/v1/locations. The bug is that for self-hosted registration, this currently needs to match the plan location you are trying to use.

For me the locations endpoint currently shows this, so I would need to use a plan in Wes

[2020-04-09 18:28] ChrisTruncer commented on #389
OK, thank you both for that information, I'll test that workaround out in the meantime.

[2020-04-09 18:52] ChrisTruncer commented on #389
As a heads up, I am unable to get the workaround to work. I did modify the region based on what was being returned as my "current" region. However when I am being prompted to enter my password when installing the service, the install is failing. It is saying I am not providing the correct password, but I know that I am. It's possible I need to make a separate issue for this, so let me know if so,

[2020-04-09 18:53] ChrisTruncer commented on #389
I should be a little more clear, I did not receive the original error message that I posted up top, so that error doesn't seem to be a problem anymore, but I am still encountering an error before I am able to register my environment now with the new message.

[2020-04-09 19:07] jkeech commented on #389
@ChrisTruncer, It sounds like you are getting further and running into a different error ☹️. Can you file a new issue for that so we can keep this one tracking the original issue? Thanks!

[2020-04-09 19:09] ChrisTruncer commented on #389
Certainly, will do now and I'll hold off on closing this until you guys say it's pushed.

[2020-04-09 19:13] ChrisTruncer opened #393 "Service Installation Failure - Incorrect Password"
As a continuation of #389, I am trying to register a self-hosted environment. I am getting to the point where I am installing Visual Studio Code without any issues (including the online plugin). I am now being prompted if I would like to install a service or run a process.

When I select to install a service, it is unable to do so. I am prompted for my password (which it verifies my password, i tr

[2020-04-09 20:27] Davsterl commented on #393
Hi Chris,
Can you give us any details on if you're on a domain joined machine? Is it a local user?
I'm just looking to narrow our repro down so we can figure out what's going on

[2020-04-09 20:34] ChrisTruncer commented on #393
Hi, this is running as a local user (not domain joined)

[2020-04-09 20:43] lucaslie commented on #69
haven't tried it yet but looks great :D

https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-cli#sign-up

[2020-04-09 20:47] jkeech commented on #69
This just launched today 🚀 https://devblogs.microsoft.com/visualstudio/bring-your-own-machine-to-visual-studio-online/

Please give it a shot and let us know what you think! I'm going to go ahead and close this issue. Please file new issues if you encounter any problems. Thanks!

[2020-04-09 20:47] #69 closed

[2020-04-09 20:49] jkeech commented on #14
We just released some improvements that allow you to install the self-hosted agent as a service so that it can survive reboots. You shouldn't have to manually restore anymore. Give it a shot, and feel free to file a new issue if you run into any problems.

[2020-04-09 20:49] #14 closed

[2020-04-09 20:51] jkeech commented on #125
@martemorfosis, @mikeburgh are you still experiencing this problem with the latest version of the extension?

[2020-04-09 20:52] jkeech commented on #5
We just released some improvements that allow you to install the self-hosted agent as a service so that it can survive reboots. You shouldn't have to manually restore anymore. Give it a shot, and feel free to file a new issue if you run into any problems.

[2020-04-09 20:52] #5 closed

[2020-04-09 20:53] jkeech commented on #88
@wazybr, are you still experiencing this issue with the latest version of the extension?

[2020-04-09 20:56] jkeech commented on #159
This issue was fixed a while back 🎉. Closing, but feel free to file a new issue if you see this happen again.

[2020-04-09 20:56] #159 closed

[2020-04-09 21:03] jkeech commented on #245
@smikitky, following up here -- #69 is now implemented.

We don't currently have this one on our roadmap, although we are considering providing an easy way to take existing Remote SSH environments and "upgrading" them to VSO self-hosted environments, which would work similarly. We might also be able to do something like this at the same time, especially if it gets enough up-votes from the communit

[2020-04-09 21:06] taiyosogawa commented on #316
Sorry - I forgot to close this one out, but the fix has been deployed (no extension update required.)

[2020-04-09 21:06] #316 closed

[2020-04-09 21:24] mikeburgh commented on #125
Nope, been very reliable lately!

[2020-04-09 21:27] jkeech commented on #125
@mikeburgh, thanks for confirming! I'm going to go ahead and close this issue. Feel free to open another one if you run into any problems.

[2020-04-09 21:27] #125 closed

[2020-04-09 21:32] JtMotoX opened #394 "vso cli does not allow sign in with personal account"
OS: **macOS 10.15.3**
VSO Cli Version: **1.0.1954**

I am unable to link vso cli to my personal microsoft account.

[code]

I navigate to the URL mentioned above and enter the code.  I then attempt to log in with my personal account and I am stopped with the following error:

[2020-04-09 21:34] mikeburgh commented on #393
I am hitting the same issue... The log if it helps:

[StaticEnvironmentRegistration I] vso: [2020-04-09 21:32:25.295 CLI I] vso v1.0.1954.49374 (pid: 7076)

[StaticEnvironmentRegistration I] vso: [2020-04-09 21:32:25.459 CLI I] Using VSO URI: https://online.visualstudio.com/api/v1/

[StaticEnvironmentRegistration I] vso: [2020-04-09 21:32:26.003 CLI I] Creating your environment...

[StaticEnvironm

[2020-04-09 21:35] jmbockhorst commented on #394
Running into this issue as well on linux and version **1.0.1961**.

[2020-04-09 21:53] definitelycarter commented on #394
I'm hitting this issue as well on linux and **1.0.1961**.

[2020-04-09 22:37] taiyosogawa commented on #394
@JtMotoX, good to hear from you again. Thank you all for reporting this.

We're taking a look into this issue. Could you confirm whether or not you are using an account linked to an Azure account? Even though they aren't billed, self-hosted environments require a [VS Online Plan](https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-cli#register-your-machine), so the account you

[2020-04-09 22:43] JtMotoX commented on #394
@taiyosogawa, Thanks for looking into this.  I wasn't expecting a response this fast.

Not sure how to tell if it's linked to an Azure account.  When I sign into my personal account and navigate to [online.visualstudio.com](https://online.visualstudio.com/) I am able to see my plan (vso-plan-westus2).  This is the same account and plan that I used for linking my local VSCode environment.

[2020-04-09 22:45] wazybr commented on #88
I was trying to check it right now. When downloading dependencies to register the environment, my internet connection got down and then the registration failed. Now, every time I try to register again, it fails with this error:

`Register Self-hosted Environment: (Error 1) 'C:\Users\<Username>\.vsonline\cli\VSOAgent_win_3612700\vso' is not recognized as an internal or external command, operable pr

[2020-04-09 22:54] taiyosogawa commented on #88
@wazybr, sorry about that - we have an open item for repairing failed downloads. In the meantime, try deleting the `C:\Users\<username>\.vsonline` folder and trying again. Restart/extension update won't be required, but good thinking :)

[2020-04-09 23:08] taiyosogawa commented on #394
@JtMotoX, Thanks for confirming. If you're able to see the plans on online.visualstudio.com, it sounds like you're doing everything right. We'll work on resolving the issue.

In the meantime, if you're looking to use the new self-hosted service/daemon feature and have access to VS Code on the host machine, that should work: https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-v

[2020-04-09 23:16] definitelycarter commented on #394
Steps to reproduce:

1. When you run `vso start` it asks you to go to https://microsoft.com/devicelogin

![image](https://user-images.githubusercontent.com/6287039/78948325-e0e45e80-7a95-11ea-9034-e5d10b2139be.png)

2. Enter the code and click next.

3. Enter your email and click next.  If it is a personal account you will receive the error below

![image](https://user-images.githubusercontent.com

[2020-04-09 23:17] wazybr opened #395 "Unable to install VSOnline CLI on Linux ARM platform"
Hi!
I'm unable to install the recently released CLI version of VSO on my Raspberry Pi 3B+ running Raspbian (Debian) 9.4 stretch.
The `vso` package is not available when searching on apt. And using the script located at https://aka.ms/install-vso-linux says that VSO was installed succesfully, but when trying to run I get this error:

[code]

Possibly the script downloaded i386 or amd64 binaries. Is

[2020-04-09 23:23] wazybr commented on #88
Thank you. I thought reinstalling the extension would delete all files related to it (maybe this should be discussed).

Anyway, it's now stuck in "Registering environment: \<environment\>". Here's the log:

[code]

[2020-04-09 23:57] taiyosogawa opened #396 "Self-hosted environment stuck in provisioning due to stale credentials"
Originally reported on #88 seeing this issue:

[code]

[2020-04-10 00:02] taiyosogawa commented on #396
@wazybr, could you check if you see a `vso` process running with these args: `vso vmagent -s -t`?

We'll look into our service failures to flip the status.

[2020-04-10 00:02] taiyosogawa commented on #88
I see it's failing to flip to available. I've created a separate issue #396 to track so that others can find it more easily.

[2020-04-10 00:15] wazybr commented on #396
I checked on Process Explorer, and the only `vso` process running is this one:

[code]

[2020-04-10 00:37] taiyosogawa commented on #394
@definitelycarter, thanks for putting together your repro steps. Screenshots are always super helpful :)

We've determined the problem and are working on the fix. Until it is published, login will fail with a personal account. We'll update as soon as the patched version is available.

[2020-04-10 00:40] Davsterl commented on #393
Hello,

You'll need to grant Log on as a service to your user account.
https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/log-on-as-a-service

We're sorry you ran into the issue!

[2020-04-10 00:53] ChrisTruncer commented on #393
I can confirm that this fixed my issue. Thanks for letting me know the fix!

[2020-04-10 00:53] #393 closed

[2020-04-10 00:58] taiyosogawa commented on #396
@wazybr, thanks - I appreciate your checking. I believe I've been able to repro the issue and I'll work on a fix.

[2020-04-10 01:10] taiyosogawa commented on #393
@ChrisTruncer, thanks for reporting it. We'll work on improving this aspect of the experience.

[2020-04-10 02:00] wazybr commented on #396
I don't know if it helps but, after half an hour, the extension said the registration had succeded. But that was not the case. I don't know why, but the server sent a forbidden to a request. Here's the log:

[code]

The environment shows up in VSO dashboard but, as expected, it has a red "Failed to Create" badge.

[2020-04-10 02:08] taiyosogawa commented on #396
I did a bit more digging, and that does align with what I suspect is happening. Have you used VS Online self-hosted or Liveshare with another account recently, by any chance? If you want to try a possible workaround, you can try clearing out your keychain to see if it works:

Windows:
Go to credential manager > Windows Credentials > delete all cached credentials starting with "Microsoft_VS_LiveSha

[2020-04-10 02:32] wazybr commented on #396
I've never used another account with LiveShare or VSO.
I deleted the credentials, tried to register again, but this happened:

[code]

This last logged item is a translation that I found, because it was displayed in my local language.

[2020-04-10 05:57] erinxocon commented on #389
I was getting the exact issue above and after creating a new plan in the region reported from the above endpoint, everything is working.  I mean to say; the workaround is working for now for me!  I literally tried creating an environment today about 2 hours after this issue was posted.  Will be happy to try out a fix if needed!

[2020-04-10 09:17] leestott opened #397 "Domain based login from Org ID - user prompted for Need Admin Approval by VS Online"
So we seem to have a issue with users who are utilizing their domain based ORG ID utilsing 2MFA

**Scenario**

user is a student with or user within the Org (Org may be a Google Based Org but do have AAD, Org also uses 2 factor auth for authentication and user is typically redirected from the MSA auth to org auth page where they have to 2MFA

**User can successfully create Azure subscription**

Us

[2020-04-10 09:20] OneCyrus opened #398 "Service with Microsoft Account"
it looks like it doesn't work when logging in to Windows with a Microsoft Account.

most likely it tries to use the username MicrosoftAccount\user@outlook.com as the service loginname and fails at that.

![image](https://user-images.githubusercontent.com/7747800/78979927-226c1c80-7b1d-11ea-913b-e5443cd6fb49.png)

[2020-04-10 09:24] OneCyrus opened #399 "vso start --service requires GUI for windows"
running the command over ssh fails at displaying the login window

![image](https://user-images.githubusercontent.com/7747800/78980185-ac1bea00-7b1d-11ea-96d8-20c90c952cd1.png)

[2020-04-10 11:58] davide-rota commented on #69
@jkeech Hi John, tried to login via `vso start` but it seems that that only supports work accounts and not MSA accounts (@live.com, @hotmail.com etc..) Since the rest of VS Online supports MSA accounts this seems a problem. Any idea? Thanks!

![image](https://user-images.githubusercontent.com/11763/78989145-0a9f9300-7b33-11ea-8410-f7c01dc5d913.png)

[2020-04-10 12:17] definitelycarter commented on #69
@jkeech It looks like this issue is being tracked under https://github.com/MicrosoftDocs/vsonline/issues/394.

[2020-04-10 16:44] taiyosogawa commented on #396
Thanks for posting the output - that is very useful.

Based on the sequence of expected statements and the error message, I think that was likely a "one-time" failed network request to fetch your available VS Online Plans. The request is pretty state-less and it looks like you passed that step previously.

In addition to clearing the credentials, there's one more thing you could try: killing any p

[2020-04-10 17:30] taiyosogawa commented on #399
@OneCyrus, thank you for reporting this issue. We should have included this in our docs, but Windows with the service option does currently require a GUI. We'll work on ensuring it is fully functional over SSH and post here when it is available.

[2020-04-10 17:33] taiyosogawa commented on #398
@OneCyrus, could you see if this is the same as #393? You might need to grant your user "log on as a service" privileges: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/log-on-as-a-service

[2020-04-10 17:39] taiyosogawa commented on #89
I'm afraid we are unable to address this issue without more information. I'm closing it out, but if you continue to see it, please don't hesitate to re-open or file a new issue.

[2020-04-10 17:39] #89 closed

[2020-04-10 17:44] OneCyrus commented on #398
great that did the work. i had to add the backing user of the microsoftaccount. (not the one actually displayed at login window)

[2020-04-10 17:46] taiyosogawa commented on #271
@DragonMastery, I'm very sorry for the horrendously overdue reply. Thank you for reporting the credential issue. We are currently working on this issue and plan on releasing the fix within the next two weeks.

[2020-04-10 17:51] taiyosogawa commented on #255
We have made several bug fixes since this particular issue, so I am going to close this out to keep things organized. If you are still experiencing this issue or another one, please don't hesitate to re-open with details or file a new issue.

[2020-04-10 17:51] #255 closed

[2020-04-10 18:03] taiyosogawa commented on #389
@erinxocon, thanks for offering - I hope I read that right and you weren't trying to create an environment for the full two hours!

@ChrisTruncer, @erinxocon, we're planning on releasing the fix in our CLI ([installation instructions](https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-cli#installation))  today. It will be available via VS Code next week (exact day depends on

[2020-04-10 18:17] ChrisTruncer commented on #389
That's great, thanks for all your guys work on this, it's been fun playing with it and now I am working on adding this into my workflow.

[2020-04-10 18:25] OneCyrus opened #400 "vso start on linux fails with permission issues"
when executing `vso start --service` on linux i get the following error. it looks like the service is not running as the actual logged in user?

[code]

and the process is stuck at
`[2020-04-10 18:22:25.230 CLI I] Waiting for environment to become available...`

[2020-04-10 18:46] lucaslie commented on #389
I ran into the same issue today when checking out `vso start` for Ubuntu 18.04.

None of the above steps fixed the problem for me but I found a different work-around:

1. Open up a ssh connection with X11 forwarding (`ssh -X`) and open your (default) browser
2. Run `vso start`
3. When being prompted to open [https://microsoft.com/devicelogin](https://microsoft.com/devicelogin), instead of opening

[2020-04-10 19:04] taiyosogawa commented on #398
Glad to hear that did it, and I see what you mean in terms of the displayed username. We're making some improvements to the error messaging and can track further improvements in #393. I'll close this one out.

[2020-04-10 19:04] #398 closed

[2020-04-10 19:14] taiyosogawa commented on #400
Thanks for trying out on Linux, too. To understand what's going on:
1) Did you run `vso start` as the user `myuser` (or whatever was shown originally if you replaced with `myuser`)?
2) Could you `ls -l /home/myuser/.vs-liveshare-settings.json` to see if it owned by anyone other than `myuser`?
3) Could you `ps aux | grep vsls-agent` and `ps aux | grep vso` to see if any of those processes are runni

[2020-04-10 19:28] OneCyrus commented on #400
ok i see the issue

1. i run with myuser but did a `sudo vso start --service`

2.
[code]

3.
[code]

so it looks l,ike the sudo mixes the accounts up. but when running vso start without sudo i get the following:

[code]

[2020-04-10 20:02] taiyosogawa commented on #400
Ah, I see. Our cleanup logic is unfortunately limited right now, but we'll work on improving that because this will definitely be encountered again.

Try `sudo vso stop`, but if that fails, this should get you in a clean state:

kill all vsls-agent and vso processes
[code]

Our docs have more details why we discourage running as sudo (because the user you run as will determine the user you connect

[2020-04-10 20:04] jkeech commented on #400
@taiyosogawa is the log output path configurable? It sounds like the issue is that a non-root user doesn't always have permissions to write logs to `/tmp`.

[2020-04-10 20:06] taiyosogawa commented on #400
Good question - not that I'm aware of.

@OneCyrus, You may need to `rm -r /tmp/VSFeedbackVSRTCLogs`, too.

[2020-04-10 21:52] erinxocon commented on #389
@taiyosogawa Lol no I was just very lucky in that I tried to create a self hosted environment, couldn't and saw this issue posted about 2 hours before I experienced it.  After the quick workaround fix I was able to create environments again!

Will look out for the fix next week and post the results!

[2020-04-11 02:52] wazybr commented on #396
Sorry for the late answer.
I did try again and the environment was registered successfully. The last error was just because I'm on a very unreliable connection.

Is there any other information I can provide to help with this issue?

[2020-04-11 02:56] taiyosogawa commented on #396
Hey, thank you so much for trying all those things and for engaging with us on this issue (and several others). We really appreciate it.

Given that removing the keychain file worked, I am quite certain we understand the problem. We'll work on resolving it and update when the fix is going out.

[2020-04-11 03:04] wazybr commented on #88
After being able to successfully register my self-hosted environment, I'm still unable to connect to it. It's failing with this error:
![image](https://user-images.githubusercontent.com/49368302/79033737-04d39d00-7b87-11ea-8afb-190521641b15.png)

The clients' log shows this:
[code]
And after that, it keeps getting spammed with:
[code]

Still, the workbench is able to show my workspace's name, but

[2020-04-11 10:13] OneCyrus commented on #400
after cleaning it up it works now. thanks!

a warning about sudo in the actual cli would be nice. also a full cleanup with vso stop would help too.

[2020-04-11 16:15] davide-rota commented on #322
Hello, a couple of considerations:
-VS Online doesn't really log you out, it just brings you to the page where you can choose which account to sign-out. If I don't select anything and just reload the VS Online url I'm back in with SSO.
- Consider that security best practices doesn't normally recommend to log out a user without an explicit request or specific reason (see when Azure AD normally revo

[2020-04-11 16:47] davide-rota opened #401 "code -n aDirectory/ opens a blank page"
**Repro**

- Open VS Online environment in Edge (Version 83.0.474.0 (Official build) dev (64-bit)) on ARM -> `https://online.visualstudio.com/environment/<env-guid>`
- Open terminal and type `code -n aDirectory/ `
- Edge opens a new Tab that remains  blank `https://online.visualstudio.com/environment/<env-guid>?folder=<url_encoded_path>`
- If you copy/paste the url in yet another Tab it works

Tra

[2020-04-13 13:33] bennycornelissen commented on #389
Looking at the workaround option, I noticed that even though my iMac is pretty stationary, and my external IP at home rarely changes, the `current` location as reported by https://online.visualstudio.com/api/v1/locations changes every few minutes. That makes it very hard to reliably use this workaround.

[2020-04-13 16:31] nikmd23 opened #403 "Support onResumeCommand for restarting processes tha"
When my environment spins up for the first time, I'm able to use `postCreateCommand` to run any processes (like starting a DB) that I want. It's a great experience if I do say so myself.

However, if I'm working in an environment over the period of a few days so that the environment becomes suspended (or I self-suspend to switch instanceTypes myself), then the experience isn't as great. 😕

Unfortu

[2020-04-13 16:48] ljtill opened #404 "Unable to install VS Online CLI"
Following the instruction to install VS Online CLI (macOS - Homebrew).

https://docs.microsoft.com/en-us/visualstudio/online/reference/vsonline-cli

[code]

[2020-04-13 16:59] ljtill commented on #404
Cleared the homebrew local cache after the first run failure, install went through successfully.
Going to close this issue for now as this could be a one-off.

[code]

[2020-04-13 16:59] #404 closed

[2020-04-14 08:47] Niek commented on #394
The same happens when it's not a personal account, but an account with a custom email address (domain) it seems. I get this error:

<img width="414" alt="Screen Shot 2020-04-14 at 10 45 46" src="https://user-images.githubusercontent.com/213140/79204667-34abca80-7e3d-11ea-94bd-50c2f5b30469.png">

[2020-04-14 09:54] yume-chan commented on #394
Seemingly the issue has been fixed, but the homebrew formula for macOS has not been updated.

I managed to get it working by

1. Download a newer version from https://vsoagentdownloads.blob.core.windows.net/vsoagent/VSOAgent_osx_3633968.zip (version number got from the official Windows installation script https://aka.ms/install-vso-windows, it will redirect to a url with a version number)
2. In Fi

[2020-04-14 10:16] davide-rota commented on #394
I can confirm that on Ubuntu 18.04 `vso cli` linked successfully the environment with my MSA account (@live.com) 👍

[2020-04-14 10:19] davide-rota commented on #401
Also (probably related) `code -r aDirectory/` reload inside the same window **but** sometimes (often at the first attempt) reload in the same folder previously opened instead of the one specified in the command (`aDirectory/`)

[2020-04-14 11:58] srivatsn commented on #401
@legomushroom @plisy @klvnraju - any idea what's going on here?

[2020-04-14 12:55] gusbicalho commented on #394
I'm trying to set up vso on a remote machine using Ubuntu.

[code]

I have a personal account ending with @outlook.com account, and I'm able to access https://online.visualstudio.com/environments. Up until a couple days ago, I was running into the problem described in this issue. Now I'm able to authorize in the website, but nothing happens in my remote box.

*More details:*

I run `vso start`, an

[2020-04-14 13:05] Niek commented on #394
@gusbicalho same issue here, every 10 secs my syslog is spammed full of messages like this:
[code]

https://online.visualstudio.com/environments shows status "creating". Not sure if it's related in any way to the personal accounts (i.e. what this issue is about).

[2020-04-14 14:43] onionhammer commented on #396
I have this same issue on ubuntu, but deleting the credentials did nothing

[2020-04-14 15:24] davide-rota commented on #394
@Niek
- `vso stop` (complete the process)
- remove all folders and files related to vsonline in your home folder.
- `sudo apt remove vso` -> reboot -> `sudo apt install vso
- `vso start`

Worked for me every time I messed up my installation!

[2020-04-14 15:48] legomushroom commented on #401
I think that is the same prerender issue that @lostintangent recently hit, - if you then open the same URL in another tab, it works just fine.

https://codepen.io/lostintangent/pen/ZEGgrYV

We need to investigate how to prevent the chromium browsers from erroneously prerender our pages without degrading the performance.

[2020-04-14 17:10] DanTup opened #405 ""Failed to start VS Code Remote server" when trying to connect to MacBook from Windows"
I'm trying to connect VS Code on Windows to VS Code on my MacBook. I'm sure this worked in the past, but today (with latest stable versions of everything), I'm hitting this error.

What I did:

- Opened VS Code on MacBook
- Ran "VS Online: Register Self-Host Environment"
- Selected to run as a process
- Gave a name, selected a folder

- Opened VS Code on Windows PC
- Ran "VS Online: Connect to Env

[2020-04-14 21:40] jimbobbennett commented on #395
+1 to this - would love Raspberry Pi support. More and more adults kids are making and learning from home using Pis, so it would be great to support this platform with Code, both as an app and the online experience.

[2020-04-15 12:29] gusbicalho commented on #394
@davide-rota thanks for the suggestion, but I just tried that and it did not work =/

[2020-04-15 15:24] jaredpar opened #406 "Can't restart vso using Bring your Own Machine"
Following the instructions on [this blog post](https://devblogs.microsoft.com/visualstudio/bring-your-own-machine-to-visual-studio-online/) I hooked up one of my headless machines to the VSO service. I then was successfully using VS Code from a different machine to connect to it and do my coding. This worked fantastic.

The headless machine rebooted last night and this night I was unable to connec

[2020-04-15 15:27] jaredpar opened #407 "vso info reads NOTICE.md from wrong directory"
Acquired the vso tools following the instructions on [this blog post](https://devblogs.microsoft.com/visualstudio/bring-your-own-machine-to-visual-studio-online/). After doing so I ran `vso info` to work through a different issue and this caused an unhandled exception to occur.

Based on the exception it appears that the tool is attempting to read `NOTICE.md` from the current working directory whe

[2020-04-15 16:49] taiyosogawa opened #408 "Self-hosted connection failure"
See https://twitter.com/jcouv/status/1249929734865047553?s=09 for context

Julien, I've got a few questions to get us started diagnosing the issue:
1) Could you let us know the OS of the host machine (that you're connecting to)?
2) Did you register as a process or as a service/daemon?
3) Do you see a process with the name 'vso' running on the host machine?

[2020-04-15 17:21] taiyosogawa commented on #405
Hi @DanTup, thanks for trying out self-hosted environments and reporting the detailed issue.

Based on your notes, we can tell a couple things:
1) It looks like the agent on the host MacBook did run successfully for a bit (otherwise the environment would be in a "provisioning" or "failed" state).
2) Since the agent on the host machine was run as a process, it will stop functioning if it dies for a

[2020-04-15 17:37] taiyosogawa opened #409 "Self-hosted environment stuck in provisioning on Ubuntu"
Originally mentioned in #396

@onionhammer, I've got a few questions to help us diagnose the issue:
1) Are you running the self-hosted env as a process or as a service/daemon?
2) When it is trying to provision, do you see a `vso` or `vsls-agent` running?
3) Do you know if systemd is running on your machine? Does just running `systemctl` work? (It should print out a list of units).

[2020-04-15 17:39] taiyosogawa commented on #396
Hi @onionhammer, thanks trying out the workaround posted here. It sounds like the issue you're experiencing is similar but distinct, so I opened up #409 for us to track separately. I posted a few questions over there for you.

[2020-04-15 18:10] taiyosogawa commented on #394
Hi all, quick update here:

The fix for the authentication error has been rolled out to some but all distribution points. Depending on your location and mode of install it may be another day or two until you see it show up.

@gusbicalho, thanks for the detailed info - it looks like you might be seeing #400, could you see if the workaround posted there unblocks you and open a new issue if it does n

[2020-04-15 18:11] taiyosogawa commented on #400
Glad to hear it worked! I'll close this when we roll out the improvements I mentioned.

[2020-04-15 18:37] JtMotoX commented on #400
### macOS 10.15.3

I am also getting permission denied but my output is slightly different than the OP.  I have tried running with and without persistent daemon but getting permission denied.

#### Pre-steps:
[code]

#### Start VSO:
[code]

[2020-04-15 19:25] taiyosogawa opened #410 "vso cli requires sign-in on every command"
We would like to add caching to avoid the lengthy sign-in process on every command.

[2020-04-15 19:32] taiyosogawa commented on #406
@jaredpar, thanks for trying out self-hosted environments and providing this feedback. At the moment, running `vso stop` and `vso start` again is the only option, but we are working on improving that experience in a few ways. We can use this issue to track a `vso restore` option and I just created #410 to remove the need for multiple sign-ins.

In general, we're working on improving our components

[2020-04-15 20:39] jaredpar commented on #406
@taiyosogawa

Thanks for the info. I'll just keep using `stop` and `start` then when needed. That machine doesn't reboot very often so it's not a big issue. Understand this is a new story and will have a few speed bumps to get going.

Really enjoying this feature. It's **much** easier to leverage this machine now that I just have to open VS Code and do my thing vs. having to remote desktop in and

[2020-04-15 21:40] jcouv commented on #408
1. the host for remote is running Win10 10.0.18363 Build 18363
2. I registered as a process
3. no, I don't see any process named `vso`

Shared my zipped log files at `"\\jcouvdev\shared-dumps\VSFeedbackVSRTCLogs.zip"

FWIW, here's the environment I'm trying to use: https://online.visualstudio.com/environment/f5883224-e96c-4fe2-afee-8ab1517dc01b?folder=%2Fd%3A%2Frepos%2Froslyn%2Fsrc

The IDE extens

[2020-04-15 22:15] onionhammer commented on #409
Hi @taiyosogawa

1. As a self-hosted service on Ubuntu (headless)
2. Yes, both vso and vsls-agent are running
3. Yes, systemctl works fine.

I was able to spin up a VM in azure and run vso start and add it without any issues, but on my home server it just sits at

"[2020-04-15 22:13:54.272 CLI I] Waiting for environment to become available..."

[2020-04-16 00:17] anthonychu commented on #335
@legomushroom Is there anything I can do to narrow down or fix this problem?

[2020-04-16 01:02] Chuxel commented on #403
I raised an issue in vscode-remote-release on this since I've hit a few more scenarios where I could use it. We can think through the right name - `postAttachConfig` might be an option.

[2020-04-16 05:37] NCC1701M commented on #358
@nikmd23 What's the state of using Azure DevOps Repos?

[2020-04-16 06:01] jkeech commented on #358
@NCC1701M, Azure DevOps repos are fully supported in the browser now. You'll be prompted to go through an OAuth flow to authorize access the first time you create an environment from an ADO repo url.

[2020-04-16 06:12] lostintangent commented on #358
@jkeech Can we resolve this issue then? https://github.com/MicrosoftDocs/vsonline/issues/65

[2020-04-16 06:16] jkeech commented on #65
Azure DevOps support has been shipped! 🚀 This should work both from the web and VS Code desktop. In the web, you will be prompted through an OAuth flow to authorize access to your DevOps account/org the first time you create an environment from an Azure DevOps repo url.

[2020-04-16 06:16] #65 closed

[2020-04-16 06:16] jkeech commented on #358
@lostintangent done. Must have missed that one earlier.

[2020-04-16 08:04] stuartleeks commented on #407
Same here on Ubuntu (changing to `/opt/vsonline/bin/` succeeds)

[2020-04-16 08:10] stuartleeks opened #411 "vso cli fails to register "ErrorCode: Forbidden""
I get the following `ErrorCode: Forbidden` when attempting to register a new machine (details redacted)

[code]

[2020-04-16 09:03] chrmarti commented on #403
With Remote-Containers there can be multiple windows connected to the same container. `onResumeCommand` might fit better if the command should only be run once for all windows, whereas `postAttachCommand` might work better if the command should run for each connecting window.

[2020-04-16 13:27] Chuxel commented on #403
That's a good point.  "Resume" though is a bit confusing for the first time you start the container.  Perhaps `postStartCommand`?

[2020-04-16 17:22] legomushroom commented on #335
@anthonychu sent a message in teams.

[2020-04-16 17:43] contention opened #414 "VSCode Online in browsers on ARM platforms timing out - is this expected?"
This may be related to #395, and I'm aware that there isn't an official build of VSCode for ARM platforms.

However, I'm trying to connect to a self-hosted headless environment (a DigitalOcean droplet) via VSCode Online in the default Chromium browser on the latest Raspbian... and it times out without connecting.

I can successfully connect to this environment via browsers on other platforms (MacO

[2020-04-16 18:10] taiyosogawa commented on #414
Hi @contention, thanks for reaching out.

When connecting to an environment via the browser, there is a timeout limitation imposed that does not apply when connecting via another instance of VSCode. Based on your description, my guess is that is what is happening.

Does it take a long time to connect via VSCode? Roughly how long is the connection time? Note: the connection time may differ dependin

[2020-04-16 18:15] taiyosogawa commented on #411
Hi @stuartleeks,

Sorry about the poor feedback there. We recently had to decrease the environment-per-plan limit (I believe it is currently 3). Try using a new plan or removing environments from the plan you chose. Let us know whether or not that works.

In them meantime, we'll add better messaging for this scenario.

[2020-04-16 18:43] contention commented on #414
Thanks for the quick response.

So, connecting to this environment via Desktop VSCode on MacOS takes a few seconds. All works great. Similarly, connecting to this environment via browser VSCode in Safari on MacOS is quick too.

The problem is when I try to connect via browser VSCode in Chromium on a Raspberry Pi. I've tried to connect this way a few times now, with up to 30 minutes between attempt

[2020-04-16 18:44] taiyosogawa commented on #407
Thanks! It has been corrected and will probably be available next week.

[2020-04-16 19:17] jkeech commented on #414
I believe VS Code has a 20 second (or maybe 60 seconds?) timeout on the initial connection. It's possible that the Raspberry Pi hardware is not fast enough to finish establishing the connection within that timeframe. This is a scenario where it might benefit from VS Code having a longer timeout (or configurable timeout). @srivatsn @kieferrm

[2020-04-16 19:30] stuartleeks commented on #407
Cool, thanks!

[2020-04-16 20:43] taiyosogawa commented on #414
Yes, the timeout via the browser is currently 20 seconds.

@jkeech, do you know if we have an open issue/request with VSCode to increase that limit?

[2020-04-16 20:45] taiyosogawa commented on #394
This should be resolved in all places now - if you're using the CLI directly, you may need to update it. If you're running via the extension, no update is required.

[2020-04-16 20:46] taiyosogawa commented on #389
Hi all, this update should be fully available now, so please feel free to try again. If you're using the CLI directly, you may need to update your version of vso. If running via the extension, no update is required.

[2020-04-16 20:46] #389 closed

[2020-04-16 20:54] taiyosogawa commented on #406
Glad that worked and I really appreciate the feedback, so keep it coming!

And I know what you mean about too many VS code instances 😛

[2020-04-16 21:07] taiyosogawa commented on #408
@jcouv, thanks for sending the logs over. Could you try deleting your `%UserProfile%\.vscode-remote` directory and trying again? When you connect, the host agent tries to download dependencies to that folder and it looks like permission was denied.

That directory might be used by other applications - we are moving ours soon to avoid such conflicts.

[2020-04-16 21:20] jkeech commented on #414
@taiyosogawa, looks like you filed https://github.com/microsoft/vscode/issues/86202 back in December.

[2020-04-16 21:39] taiyosogawa commented on #414
@jkeech, your searching skills are extraordinary and my memory is not!

@contention, if it's okay, I'll close this issue in favor of the other one. Thanks again for reaching out and don't hesitate to file additional questions.

[2020-04-16 21:39] #414 closed

[2020-04-16 21:57] taiyosogawa commented on #409
@onionhammer, thanks for the information - I think there's something here we haven't seen yet.

When you run `vso start`, it will generate a `*_CLI` log and a `*.1_CLI` log under `/tmp/VSFeedbackVSRTCLogs` on the host Ubuntu machine. The former is more detailed than the latter, which is a copy of stdout. If you could, look for any errors/exceptions in the detailed '*_CLI' log and paste it here (om

[2020-04-16 22:45] onionhammer commented on #409
@taiyosogawa Here's the latest *_CLI:

[code]

[2020-04-16 22:46] onionhammer commented on #409
Another file had this:

[code]

[2020-04-16 23:26] taiyosogawa commented on #409
Ah, thank you so much - this is very helpful. Based on the `Failed to connect to bus: No such file or directory` error, it looks like there may be some missing environment variables that are needed for running `systemctl --user` commands specifically. I'll try to repro this error.

We also recently made changes to make sure this type of error isn't swallowed - so `vso start` will actually fail ins

[2020-04-16 23:34] legomushroom commented on #335
Looked at this in a call with @anthonychu, clearing out the `VS Code Account` keys in the system `keychain` solves the issue. At this point, it is not clear why the keytar when into this bad state, will try to follow up with VSCode team about this.

[2020-04-17 00:24] onionhammer commented on #409
@taiyosogawa I wonder if it's related to disabling password based authentication (and using key pairs instead) on ubuntu?

In my sshd_config, I have UsePAM to no

[2020-04-17 08:52] Niek commented on #409
I might have the same (or similar?) issue, here is my flow:
[code]
After this, the process hangs. Log files of CLI is full of this:

[code]

[2020-04-17 13:04] gusbicalho opened #415 "VSO stuck at authenticating"
I'm trying to set up vso on a remote machine using Ubuntu 18.04.4.

[code]

I have a personal account ending with @outlook.com account, and I'm able to access https://online.visualstudio.com/environments. Up until a couple days ago, I was running into #394. Now I'm able to authorize in the website, but nothing happens in my remote box.

*More details:*

I run vso start, and it shows a message dire

[2020-04-17 14:11] nathankitchen opened #416 "Registering Microsoft.VSOnline provider appears to hang"
I've got a couple of subscriptions that I'd like to use to host VSOnline public preview. The first was my VS MSDN subscription (offer ID MS-AZR-0063P), which has some free credit so seemed like a great place to try things out. I attempted to create an environment with it via VSCode VS Online Extension, but received an error stating that the resource provider "Microsoft.VSOnline" was not enabled.

[2020-04-17 14:26] jkeech commented on #416
Thanks for reporting this issue. The registration should only take a few seconds, like you suggest. We are looking into it. Do you mind sharing one of your subscription Ids?

[2020-04-17 14:49] nathankitchen commented on #416
@jkeech - happy to share, I'll send the details over via email directly.

[2020-04-17 18:45] jkeech commented on #416
@nathankitchen, small update: The resource provider registrations for the Microsoft.VSOnline RP are hanging in ARM prior to getting to our service. The ARM team is engaged and working on a fix.

[2020-04-17 20:28] jkeech commented on #416
@nathankitchen, I'm still following up with the ARM team, but my test registrations have all been succeeding for the past hour. Can you retry and let me know if it's still hanging for you or not?

[2020-04-18 00:34] u000fsr opened #418 "port forwarding not working with postman"
the port forwarding works ok in the browser for viewing pages, but when using something like postman for testing an api it's not working out.

[2020-04-18 02:10] so5 commented on #409
Hi, I have similar problem with my ubuntu server and Mac.

I got "Waiting for environment to become available..." and following message 1 hour later

[code]

On ubuntu server, I found the same systemctl 's error in  `/tmp/VSFeedbackVSRTCLogs/*CLI`.
But, I couldn't filnd any detailed log on Mac.

@taiyosogawa,  could you tell me which files should I check on Mac?

[2020-04-18 03:48] jkeech commented on #418
@u000fsr, this is expected when connecting from the browser currently because the remote side is not exposed on any publicly accessible endpoint. The url that shows up in the browser is actually intercepted by a local service worker and proxied to the remote side over the secure connection to the environment. So hitting that url from outside of the browser won't work.

We are building a different

[2020-04-18 08:29] perevezencev commented on #96
@TheodoreKrypton how did you do that?

[2020-04-18 10:09] nathankitchen commented on #416
@jkeech, I logged in and found that the provider was now showing as registered.

For completeness, I then unregistered which took a couple of seconds. I then registered again, which was successful. It took a longer than unregistering, but nothing out of the ordinary.

I then used the VSCode Extension to provision an environment, which was also successful. Though that latter step is probably outsid

[2020-04-18 14:02] GalacticLion7 commented on #362
Any update?

[2020-04-18 14:20] u000fsr commented on #418
Great, thanks for the info!

[2020-04-18 14:20] #418 closed

[2020-04-18 15:11] jkeech commented on #416
Thanks for confirming everything is working for you! Let us know how it goes, and if you run into any other problems or have suggestions/feature requests don’t hesitate to open up another issue.

[2020-04-18 15:11] #416 closed

[2020-04-18 22:27] TheodoreKrypton commented on #96
I just used a SSH plugin named Remote SSH or something in the plugin store instead of this function.

[2020-04-18 23:50] fenixsolorzano commented on #370
What makes me delete/create the env is the installation of new dev tools via dockerfile, most of the time the dockerfile changes based on new project requirements. It would be nice to detect changes in the dockerfile to re-create the env

[2020-04-19 00:03] lostintangent commented on #370
@fenixsolorzano Enabling better iteration for both devcontainer.json and Docker files is something we plan to do, since it’s a pretty important part of the overall VSO experience. As an FYI, we’re tracking this enhancement via https://github.com/MicrosoftDocs/vsonline/issues/51.

[2020-04-19 18:59] vivaladan opened #419 "HTTP Error 504 - Navigating to ASP.NET Core Forwarded Ported"
I noticed this on my own repo, but I can successfully reproduce in a brand new environment with no repo cloned.

# Steps to Reproduce
1. Create new environment and connect to it.
2. Open terminal and 'dotnet new webapp --name webapp'
3. Add C# extension and click reload
4. Wait for OmniSharp to fire up and when notified click 'Generate Assets For Build And Debug'
5. Debug the application.
6. Port

[2020-04-19 19:00] #419 closed

[2020-04-19 19:00] vivaladan commented on #419
Duplicate of https://github.com/MicrosoftDocs/vsonline/issues/123

[2020-04-20 18:43] jaredpar opened #420 "Cannot start as non-admin after starting as admin"
Acquired the vso tools following the instructions on [this blog post](https://devblogs.microsoft.com/visualstudio/bring-your-own-machine-to-visual-studio-online/).

After running the tools as a non-service I decided to attempt to run it as a service so that it would persist after machine reboots. First I attempted to go through `vso start` again but choose the service option. This lead to an error

[2020-04-21 00:17] taiyosogawa commented on #420
Thanks @jaredpar! I was able to repro this and am putting out a code change now. It should be publicly available next week. I'll update again when it has been rolled out.

[2020-04-21 00:31] jaredpar commented on #420
Is there anything I can do short term to workaround this? A file I can delete for example?

[2020-04-21 01:47] taiyosogawa commented on #420
Sorry - should have posted that!

If the issue you're seeing is the same as mine, then I believe it is actually an RPC pipe issue. You should see a `vsls-agent` process with the argument `--pipe "VSLS-SH"` running. Try killing that process and running again.

If that's not it, just let me know. I'm working on several clean-up improvements this week.

[2020-04-21 04:54] fpintos opened #421 "Unable to connect to self-hosted environment: Object reference not set to an instance of an object"
I'm unable to connect to a self-hosted environment, both with local vscode and from the web version in https://online.visualstudio.com/environments.

Both report the following error:
Failed to connect to the remote extension host server (Error: Object reference not set to an instance of an object.)

Exporting the logs from the local vscode I found this mentioned in the logs:
[2020-04-21 04:33:13.5

[2020-04-21 06:32] fpintos commented on #421
Found this in the hosting machine logs:

[code]

It is running VSOAgent_win_3658261 and I can confirm that I see a nullref exception while debugging

More from the debug output:
[code]

[2020-04-21 10:53] DanTup commented on #405
Sorry for the delay in responding!

1. It was within a few minutes. I started it on the MacBook, then moved to the PC and tried to connect (it showed up in the list of environments and I clicked there).
2. I see this agent process:

[code]
    but as far as I can tell, no node process running.
3. Logs:
    From Windows (client):
    - [20200421_104531_15874659311620_VSCode.log](https://github.com/

[2020-04-21 10:57] DanTup commented on #405
I'm not sure if attaching the macOS logs in full is wise (there are things that might be keys in there), but there are a lot of errors in there like this:

[code]

[2020-04-21 10:59] DanTup commented on #405
And FWIW, if I try "Open in Browser" on the MacBook that's the host, I see the same behaviour in the browser based VS (it shows the same message failing to connect).

[2020-04-21 16:35] taiyosogawa commented on #421
@fpintos, thanks for helping us out with these reports. I was able to repro the issue you posted when I had some old instances of the `vsls-agent` process running. The problem was resolved when I ran `vso stop` and made sure that all instances of `vsls-agent` and `vso` were terminated. Could you see if the same workaround works for you?

To make sure this scenario is better addressed, I have a few

[2020-04-21 16:40] DanTup commented on #405
It appears to:

[code]

I don't know if it matters, but doesn't seem like it's marked executable?

[code]

[2020-04-21 16:52] jkeech opened #422 "Speed up custom containers by removing unneeded dependencies for VSO agent"
The VSO agent today installs several dependencies based on the Live Share prerequisites, some of which are not needed in a remote VSO environment. We can speed up the custom container launches by reducing the dependency installs to only the minimal set.

cc @Chuxel

[2020-04-21 17:29] taiyosogawa commented on #405
Ah, I see. Great thinking, but it shouldn't need to be marked as executable since it's fed as an argument to bash. I guess the next question is: is bash installed and set in the PATH?

[2020-04-21 17:40] DanTup commented on #405
Ah, ok.

Does seem like Bash is here:

[code]

It's a fairly new MacBook Pro and should be fairly stock (I tend not to mess with things too much, so it's easy to reset and start again without doing it all over 😄).

I'm curious about the error though:

[code]

I don't think that "No such file or directory" is coming from trying to execute this script, because nothing in bash-land is going to throw

[2020-04-21 19:03] taiyosogawa commented on #405
I think you're right about the Win32Exception - based on the code, I think it failed to find bash (even though you've verified that `which bash` can find it). It would fit in with your point that such an error wouldn't be thrown by bash itself.

It looks like we don't have an absolute path to bash specified, so I am going to try changing that. Still haven't been able to repro it on my Macbook. Sti

[2020-04-21 19:08] DanTup commented on #405
If there's anything you want me to try to help track it down, let me know (I'm happy to run dev builds of extensions if it helps). I'm mostly trying to get it working to do some testing of Dart/Flutter extensions that I work on (there's some interest in developing from Windows but building iOS apps which requires a Mac).

[2020-04-21 19:13] fpintos commented on #421
@taiyosogawa , here are the steps I took trying to resolve this:
- hosting machine info from vscode:
Version: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19603

- environment were registered a while ago, before the option to run as proce

[2020-04-21 20:14] jordanbean1 opened #426 "You have exceeded the environment quota"
Why was the quota limit lowered so dramatically? The previous limits allowed my whole team to use VSO and to have several environments each (one for each repo they commonly use). The new limits force us to have 1 environment for each team member (and ensure our team never grows larger than 6) and they will have to clone all the repos they use into 1 environment.

[2020-04-22 06:10] jkeech commented on #416
@nathankitchen, following up here, I confirmed with the ARM team that this issue is fully resolved. There was a 7 hour window on Friday where the VSOnline resource provider configuration in ARM was in a state where it wasn't processing registration requests, and the ARM team pushed out a hotfix to fix it. Registrations have been working as expected since then.

[2020-04-22 16:24] edgonmsft commented on #357
This is deployed now.

[2020-04-22 16:24] #357 closed

[2020-04-22 16:26] edgonmsft commented on #334
This should be much improved now, I'll close it and please reopen if you encounter it again.

Thanks!

[2020-04-22 16:26] #334 closed

[2020-04-22 20:15] crpytobi commented on #421
I'm having the exact same issue. Was fine 3 days ago, now I cannot get it working.

[2020-04-22 21:03] taiyosogawa commented on #415
@gusbicalho, thanks for reporting this issue with amazing detail.

 Other than the fact that it doesn't continue, the logs look normal to me. @Davsterl, do you know what might cause the device login piece to hang after a "login successful" message?

[2020-04-22 21:06] taiyosogawa commented on #400
@JtMotoX, sorry for the late reply. I'm wondering if there was a vsls-agent process running as that wasn't killed. I realize it is likely too late to check now.

We'll be publishing a set of improvements to `vso stop` next week which should do a better job of getting back into a clean state (or displaying what cannot be done automatically). I'll post when those are available.

[2020-04-22 21:10] taiyosogawa commented on #421
@fpintos, thanks for trying out and posting your troubleshooting steps and @crpytobi, thanks for posting. Are you running on Windows, too?

We're continuing to take a look into this.

[2020-04-22 23:15] taiyosogawa commented on #421
We've identified the issue and are patching it up. In the meantime, the cli version of the self-hosted  https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-cli should not be affected by this issue.

[2020-04-23 02:04] karenyoseff opened #429 "Port url not working"
Hello!
I am working with visual studio code Cloud, and opening the port in the browser doesnt work, this is in Firefox, because I actually tryed to log in on chrome and I couldn't log in at all.
 Maybe this is helpful to fix some errors!
Thanks you!

[2020-04-23 02:52] JtMotoX commented on #400
@taiyosogawa, yeah it is very possible that the vsls-agent was running.  As mentioned in my last comment, any idea on the "Permission denied" I am getting when trying to vso start?

[2020-04-23 05:10] crpytobi commented on #421
Yes, I'm on the current release of Windows 10. Thank you very much, I'll have a look into that option.

[2020-04-23 20:56] bnb opened #430 "Ignore files in an environment created from a repo"
Currently, if you create an environment from a repository it clones _all_ files in that repository. For someone setting up a repository that is intended to be cloned as a VSO environment but also maintained as a standalone open-source project dedicated to building that environment, this isn't necessarily ideal since there are files that aren't necessarily needed that unnecessarily clutter the VSO

[2020-04-23 21:00] jkeech commented on #430
@bnb, that's a neat idea. How would you make edits to this files though when needed?

I wonder if [VS Code workspaces](https://code.visualstudio.com/docs/editor/multi-root-workspaces) would make sense here. You could have a workspace defined in the repo that scoped the set of folders down to what you normally want to work on, and then VSO could provide some gestures to make it easier to jump strai

[2020-04-23 21:12] bnb commented on #430
These files wouldn't ever need to be edited by a consumer of the environment - if they wanted to, they could come in and edit them in the repo but they're not really _for_ the environment but rather for the maintenance of it.

This could potentially be useful but I would need to be able to very precisely control it since these files will always be in the root _and_ I have zero intention of creatin

[2020-04-23 21:18] CBlasek commented on #421
I am receiving this error as well and I am running the CLI version.

[2020-04-23 21:41] taiyosogawa commented on #421
@crpytobi yes, you should be able to run via CMD (registering via VS Code will be affected).

@CBlasek, do you see what version of the CLI is running (should be printed when the command is run)? Where did you install it from?

[2020-04-23 21:53] CBlasek commented on #421
@taiyosogawa

This is running on windows server 2019 (1809)

VSS Online version: vso v1.0.2005.59801

Installed using the powershell script located at https://vsoagentdownloads.blob.core.windows.net/vsoagent/installVSOAgent_win_3633968.ps1

[2020-04-23 22:21] taiyosogawa commented on #421
@CBlasek, I'm sorry you're running into this issue. I wasn't able to repro with the CLI version you're using - I think it might be a different problem you're seeing. Are you seeing this same error in your host logs when you connect?

[code]

[2020-04-24 05:16] LachlanArthur commented on #248
I've worked around the lack of SSH key forwarding by using this code to bind to an existing ssh-agent pipe: https://superuser.com/a/141241/459296 (I put the functions in a new file and loaded it in my `.bashrc`)

So now I can SSH into the VM externally which forwards my keys, then in the VSCode terminal I can type `sagent` to "import" the forwarded keys into the VSCode session.

Unfortunately, the

[2020-04-24 09:35] allan-mobley-jr opened #431 "Self-Hosted Environment Stopped Working"
Up until yesterday, I have been running VS Online with self-hosted option without a problem for a couple of months now.

Then, perhaps after an update to my Visual Studio Code Insiders on the host machine, the whole process stopped working. Not a hundred percent that is what caused it, though.

My host machine is a high-powered Origin gaming desktop with Windows 10 Pro, kept up to date.
I use Visu

[2020-04-24 15:57] olivermt opened #432 "Email alerts for environment active X hours"
Hi.

I've turned off auto shutdown as the current warning cycle is too short for me.
I could go get a cup of coffee and come back to an active session already spun down.

However I routinely forget to spin down sessions.

Is it possible to get any kind of alerting system if your environment has been active more than <configurable int> hours?

Alternatively being able to configure how long the peri

[2020-04-24 16:27] jaredpar commented on #420
Thanks. That seems to have unblocked me and I'm good to go again.

As for updates. How will updates to the script bundle I downloaded occur? Will they be automatic or will I need to manually update from time to time? If it's the latter how do I know when to grab a new release?

[2020-04-24 17:28] abuchholtzau commented on #426
As our service matures, we are trying to align to Azure standards and so our quota was updated to more closely match the quotas for VMs in Azure.

We are currently working on native integration with the Azure quota system to allow you to request increases from within the Azure portal, as well as updating the quotas to focus on more meaningful measures, such as limiting simultaneously running envir

[2020-04-26 03:21] fabiom-zz opened #433 "Docker container Bind Mount strange behavior"
I would like to allow docker containers inside a VS online environment to access the workspace files via Docker Bind Mounts. I think this is a valid use case in development scenarios.

However, the behavior in VS Online environments is strange and unexpected.

Steps to reproduce:

* Create an empty VS Online environment
* The workspace files will be located under `/home/vsonline/workspace`
* When

[2020-04-26 21:19] srivatsn commented on #48
This now supported in the browser as well.

[2020-04-26 21:19] #48 closed

[2020-04-27 14:38] lacafjh commented on #257
I got the same message tonight. I turned into Chrome but the pop-up just disappeared when I tried to sign in. I hope that can be resolved.

[2020-04-27 15:42] taiyosogawa commented on #431
Hi @allan-mobley-jr, thanks for reporting the issue - understanding the troubleshooting steps you've taken is helpful. I've got a few more questions to better understand the situation:

1) Can you provide more detail on the exact failure you see? (Is it when you register an environment? Is it when you connect to it? Do you see an error message?, etc.)
2) Are you running the self-hosted environment

[2020-04-27 15:43] jordanbean1 commented on #426
Could you be more specific about the phrase "match quotas for VMs in Azure".

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#virtual-machines-limits---azure-resource-manager

[2020-04-27 15:53] taiyosogawa commented on #257
@lacafjh, I'm sorry - that can be very frustrating. Can you check if #184 looks like the issue you're seeing?

[2020-04-27 16:35] allan-mobley-jr commented on #431
1. Can you provide more detail on the exact failure you see? (Is it when you register an environment? Is it when you connect to it? Do you see an error message?, etc.)

When I open up my browser and go to visusal studio online, I select my self-hosted environment, and a vscode editor opens up. So far so good.

The editor appears to be trying to open up the remote folder on the self-hosted machine,

[2020-04-27 16:46] taiyosogawa commented on #431
Thanks for the additional info - it looks like you're seeing issue #421, which we're working to deploy the fix for. I know it's not ideal, but a workaround would be to:

1) Unregister the existing environment via the extension
2) kill all running instances of 'vsls-agent'
3) Install the CLI version and run `vso start`: https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-cli

S

[2020-04-27 16:54] taiyosogawa commented on #431
@allan-mobley-jr,

Sorry - it looks like this update has already been deployed. Could you just try:
1) killing all running instances of the vsls-agent process
2) trying restore and connect one more time

Let me know if that works.

[2020-04-27 17:08] edgonmsft commented on #433
Hi fabiom-zz!

Could you also let us know more about your use case?

For now let me point out the following:

The way containers are implemented right now is as Docker outside Docker. Your environment is a container but you are taking to the docker instance that manages it. You can verify this by doing docker ps -a.

That is the reason the paths don't match since you would have to mount the folder

[2020-04-27 17:11] allan-mobley-jr commented on #431
Unable to open 'Mobsites': Unable to read file 'vscode-remote://vsonline+fa473e29-94cd-477c-826f-d3d5512a9aa0/c:/Users/me/source/repos/Mobsites' (Error: Object reference not set to an instance of an object.).

Failed to connect to the remote extension host server (Error: Object reference not set to an instance of an object.)

![vscode](https://user-images.githubusercontent.com/38449003/80400326-a2

[2020-04-27 17:12] allan-mobley-jr commented on #431
Spinning indefinitely now, after showing it was restored

[2020-04-27 17:13] allan-mobley-jr commented on #431
That's with the latest update to VS Code Insiders

[2020-04-27 17:34] taiyosogawa commented on #431
Thanks for the update. Just to clarify, did you unregister+register or just restore (or both)?

I'm wondering what version of the agent was running. Could you check the contents of `%USERPROFILE%\.vsonline\cli`? There should be some directories that indicate agent versions - let me know what you see.

[2020-04-27 17:42] allan-mobley-jr commented on #431
VSOAgent_win_3669160

[2020-04-27 17:43] allan-mobley-jr commented on #431
Register Self-hosted Environment: (Error 1) Failed to start service: Service Configuration Manager failed with exit code (2). , Failed to register and start service/daemon: System.Exception: Service Configuration Manager failed with exit code (2).

[2020-04-27 17:57] allan-mobley-jr commented on #431
Just re-registered and tried as a process and was successful.

[2020-04-27 18:06] taiyosogawa commented on #431
That's great! Looks like the original issue is resolved, but I am curious what happened with registering as a service. SCM Exit code 2 means that the service manager was unable to find the executable specified. I'll take a look into why that might have happened.

[2020-04-27 18:13] allan-mobley-jr commented on #431
Yes, I would like to run it as a service so I don't have to worry about restarts on the host machine.

[2020-04-27 19:00] Quantumplation opened #434 "Old environment won't start"
Hello!

I created a standard linux environment back in November.  It's still listed in my environments, and I've been trying to connect to it to recover some code that was on it.  However, the startup seems to stall indefinitely.  Anything I can do to access the files on this VM to recover the code changes I had made?

[2020-04-27 19:04] jkeech commented on #434
@Quantumplation, can you share the environment Id (or the full url when trying to connect to the environment in the browser)? We can look at the logs to see what is going on.

[2020-04-27 20:18] Quantumplation commented on #434
Hi!

Sure! I wanted to provide more information with the initial report, but wasn't sure what specifically to provide.

4e89d1fd-e665-4a00-98e2-1b74e0142cf9

https://online.visualstudio.com/environment/4e89d1fd-e665-4a00-98e2-1b74e0142cf9

[2020-04-27 20:20] taiyosogawa commented on #421
Thanks everyone for your patience. The fix for this has been rolled out. Please try:
1) make sure to kill any running instances of vsls-agent
2) try registering again (no extension update required)

[2020-04-27 20:20] #421 closed

[2020-04-27 20:24] dbanisimov opened #435 "Git credentials stopped working after updating Visual Studio Online extension to 1.0.2081"
I'm using a cloud-hosted VS Online environment and connecting to it from VS Code. Git credentials stopped working in the remote environment a few days ago - both GUI and CLI git ask for username and password every time for my https remotes.

After downgrading the extension version I found out that the last working version was 1.0.1968, after that 1.0.2081 and 1.0.2096 both have the issue with git

[2020-04-27 20:43] jkeech commented on #435
@edgonmsft, can you take a look?

[2020-04-27 20:52] edgonmsft commented on #435
Hi Denis!

I'm taking a look. I just have a couple of quiestions:

- How old is this environment?
- Can you run the following command and tell me the output? `git config credential.helper`
- As a quick test, does the same happen to you in a new environment?

Thanks!

[2020-04-27 20:53] edgonmsft commented on #435
By the way, can you run the command both inside and outside the environment?

[2020-04-27 20:54] jkeech commented on #430
I see. It sounds like there are different roles for different users. E.g. "repo maintainer" and "repo user". Repo maintainers care about some files that repo users do not. Can you use the built-in VS Code setting `files.exclude` for this? The default could be set up for repo users, rather than repo maintainers.

I think you could configure those settings via `devcontainer.json` if you only want th

[2020-04-28 01:47] dbanisimov commented on #435
Hi Edmundo!

The environment was created on March 11, 2020 5:01 PM
`git config credential.helper` >> `/.vsonline/bin/vso gitCredential`
Outside the environment >> `wincred`

The issue does happen to me in a new environment.  But with a twist.

1.  I created a brand new environment without linking a repo and did `git clone` in the environment connected from VS Code on my local machine. It **didn't

[2020-04-28 03:30] edgonmsft commented on #435
Hi Denis!

Thanks a lot for the really detailed report!

I'm trying to reproduce your issue.

One additional question I forgot the first time. Do you also use VSO Web to connect to the environment? We have an issue where if you connect to the environment from both the credential proxy only works to the first of them and in some cases might not work till after some time.

Might this be related in y

[2020-04-28 08:29] dbanisimov commented on #435
It works on VSO web well. I don't usually use VSO web, and I've only checked on it while trying to figure out the cause of the initial issue.

But after your comment to rule out VSO web out of the equation I created a new environment using VS Code extension without a repo configured and connected to it right away using VS Code. The first `git clone` after the first connection worked fine. I suspen

[2020-04-28 09:05] dbanisimov commented on #435
I've also discovered that my Azure payment was past due because of the expired card. But as far as I can tell from the portal the subscription and all resources were still active. I've fixed the payment, but the issue is still here. I will also double check later in case it fixes itself with a delay.

[2020-04-28 09:32] reaktivo commented on #395
Is there any official response to this? Has anybody found a workaround to have this working on RPis?

[2020-04-28 15:27] bpasero opened #436 "Refused to execute script because its MIME type ('text/html') is not executable"
In devtools:

[code]

[2020-04-28 15:30] bpasero opened #437 "Resources are sent without caching"
At least the request looks like it:
![80506498-f7375900-8975-11ea-90eb-bf99d2895b62](https://user-images.githubusercontent.com/746020/80507985-51abc780-892c-11ea-8551-3ad8fb7f7489.png)

![image](https://user-images.githubusercontent.com/900690/80506566-133afa80-8976-11ea-8dc0-5213fec735d3.png)

[2020-04-28 15:33] bpasero opened #438 "Cannot debug vscode extension"
* create repo from https://github.com/bpasero/test-ts.git
* add a breakpoint into `vscode.window.showInformationMessage`
* Run
* execute the command "Hello World"

=> 🐛 breakpoint is not hit

[2020-04-28 15:57] edgonmsft commented on #434
Hi Pi!

Just to let you know that we are working on your environment. I'll let you know as soon as its back up.

Since this is an old environment we had to perform a migration, and due to the size of the container we ran out of space. We are doing the migration manually now.

Thanks!

[2020-04-28 17:57] dbanisimov commented on #435
Seems like it got fixed in the latest insiders build (I've got an update installed overnight). When I connected to the environment and did `git pull` a popup window saying "The extension 'Git' wants to sign in using GitHub" appeared. After authorizing on the GitHub page it took me back to VS Code and now git credentials seem to work as expected.

It looks like it's still not using my local machine

[2020-04-28 18:00] edgonmsft commented on #435
Hi Denis!

That's interesting and gives me more information to reproduce your issue.

Let me try the same.

[2020-04-28 18:34] Quantumplation commented on #434
Awesome, thanks!  I appreciate the effort.

I *love* these online environments, btw! Really great work!

[2020-04-28 18:50] omartin2010 opened #439 "inconsistency in vs-online/how-to/self-hosting-vscode.md"
In trying out the feature documented [here](https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-vscode), I'm hitting some inconsistencies with the UI presented in the article. My vscode (
[code]
)
won't render the remote icon below the extensions icon, and I'm able to access it using the command palette... not sure if docs need to be updated or not. Then once this is done, I s

[2020-04-28 18:55] omartin2010 commented on #439
To add a precision, this inconsistency seems to be present in vscode insider, but not in the release of vscode non insider (release :
[code]
)

[2020-04-28 20:10] edgonmsft commented on #434
Hi Pi!

I just finished the migration, can you start your environment again?

FYI you are very very close to the storage limit. Creating more files might tip the storage limit.

Please close the issue if it works again. If not let me know!

Thanks!

[2020-04-29 00:12] Quantumplation commented on #434
Hey!

I'm still having trouble connecting, unfortunately.  It seems to get further, but this appears:

![image](https://user-images.githubusercontent.com/49870/80549973-9404f100-898c-11ea-9825-ad06d32585c5.png)

and on hovering, it says "Unable to resolve workspace folder".

It's also worth noting that I don't plan on using this particular environment long term, I've moved over to another environm

[2020-04-29 10:01] HouzuoGuo opened #441 "Creation Log appears to be stuck at "Initialize Environment" even though the environment appears to be already initialized"
Hello!

My environment was launched this way:
![image](https://user-images.githubusercontent.com/563872/80583667-31a60200-8a19-11ea-9aa2-59cd35ce480d.png)

Both repository and dotfiles repository point to https://github.com/HouzuoGuo/vsonline-config

The environment starts succesfully, and within couple of minutes it finished installation of plugins according to `devcontainer.json`, and `install.s

[2020-04-29 15:18] edgonmsft commented on #434
Ok thanks!

Let me take a look and I'll get back to you.

[2020-04-29 18:12] sheldonhull opened #442 "Resolving SSL failure due to running through local proxy"
I run behind a proxy (zscaler).
I have configured the environment variables for `http_proxy` and `https_proxy` and also enabled proxy support in vscode.
Upon authenticating successfully when it begins the "create environment" request I get this error message.

I'm on the latest version of `ms-vsonline.vsonline` which is `1.0.2116`
I also logged into the same azure identity to eliminate any mismatc

[2020-04-29 19:14] edgonmsft commented on #434
Hi Pi!

I just made an additional fix, could you try again?

Thanks and sorry for the inconvenience.

[2020-04-29 22:34] Quantumplation commented on #434
Still no luck.

And it's not too big an inconvenience :)

[2020-04-30 00:52] haodeon commented on #435
I'm encountering the same problem. I first thought it was something broken in my environment so I created a new environment on both US west 2 and SE Asia. Both times I encountered this problem. Then I found this issue and tried downgrading to previous version and it resolved the issue for me.

[2020-04-30 02:08] itsmordecai commented on #302
I am fairly new to WSL but everytime after creating a file within WSL Terminal, on attempting to open with VS Code (e.g code hello*) I get the same error thus I cant edit the file. Also the file appears empty on VS Code unlike on nano.

[2020-04-30 02:15] itsmordecai opened #443 "Failed to connect to the remote extension host server (Error: handshake timeout)"
I am fairly new to WSL but everytime after creating a file within WSL Terminal, on attempting to open with VS Code (e.g code hello*) I get the titled error thus I am unable to edit the file from VS Code. Also the file appears empty on VS Code unlike on nano.

[2020-04-30 02:21] itsmordecai commented on #443
![image](https://user-images.githubusercontent.com/39312305/80665522-5c886880-8aa2-11ea-93e4-54cd1b394d61.png)

[2020-04-30 05:37] fabiom-zz commented on #433
One of my use cases is a Jenkins in Docker . We build scripts that act on the local workspace files. We could install Jenkins directly in the environment to work around.

It seems that spinning Docker containers with specific tech/frameworks (like the Python/Postgres example you shared) that read directly from the workspace is another good example.

Do we need to use Docker Compose to get this wor

[2020-04-30 09:05] ziofat opened #444 "Self-hosted: Stuck at "Waiting for environment to become available ...""
I have a CentOS 7 VM. Running `vso start` and stuck at `Waiting for environment to become available ...`.

How long will this process take? My connection get closed due to inactive and in portal it says failed to create.

The VM locates in China so network may be the cause of this. Does vso start respect `http_proxy`?

[2020-04-30 16:40] taiyosogawa commented on #411
The improved messaging has been rolled out, so I'll close this issue. For any questions on why the quota has been lowered, we can track on #426

[2020-04-30 16:40] #411 closed

[2020-04-30 16:41] taiyosogawa commented on #407
Forgot to close this out, but the fix has been deployed. Thanks again for calling it out :)

[2020-04-30 16:41] #407 closed

[2020-04-30 17:00] taiyosogawa commented on #405
Hi @DanTup. Sorry, I missed your last message. In any case, I did notice the same issue happen on my Mac. I'm not exactly sure what changed but for some reason our agent was unable to invoke just `bash` even though `/bin` was included on the PATH. The change that I've deployed will explicitly invoke `/bin/bash` (if it is installed there) and it works for me. When you get a chance, try:

1) killing

[2020-04-30 18:00] edgonmsft commented on #434
It seems that the container was still running out of space, I deleted some unnecessary files.

Can you try again? Lets hope third time's the charm.

[2020-04-30 18:02] edgonmsft commented on #435
Hi!
We have identified the issue and are testing a fix for it.

I'll post here when the fix is released.

[2020-04-30 19:27] allan-mobley-jr commented on #431
Self-hosted as a service is working for now

[2020-04-30 20:23] taiyosogawa commented on #431
Thanks for reporting, @allan-mobley-jr. My best guess at the moment is that the executable got moved/deleted at some point but was reinstalled. It's hard to say, but I haven't seen that error happen elsewhere. I'll close this for now, but will be on the lookout for similar scenarios. Feel free to re-open if you see the issue again.

[2020-04-30 20:23] #431 closed

[2020-04-30 20:26] taiyosogawa commented on #443
Hi @itsmordecai, thanks for reporting this issue. Could you provide a bit more context on the steps you took to get to this state? Are you using the Visual Studio Online extension?

[2020-04-30 20:56] itsmordecai commented on #443
Hi @taiyosogawa  I have VS Code installed on Windows 10.

I reach the mentioned error everytime I create a file in WSL lets say `echo "hello" > hello.txt`

On opening the file with VS Code via `code hello.txt`
I get the screenshoted error and the file is empty (doesn't have the "hello".)

The same error appears when I open VS code from Windows and start the connection to WSL.

I run Kali on my WSL

[2020-04-30 20:58] jkeech commented on #443
@itsmordecai, This sounds like an issue with Remote WSL, which is slightly different from Visual Studio Online / Visual Studio Codespaces. Please file an issue at https://github.com/microsoft/vscode-remote-release for Remote WSL. Thanks!

[2020-04-30 20:58] #443 closed

[2020-04-30 21:08] bnb opened #445 "Locking Environments"
I just accidentally deleted an environment that I didn't intend to delete because I was working on autopilot and deleted the one in the first position.

While it's frustrating for me, it should be okay - I don't think there was too much uncommitted work in that one (it's the one I was actually working from). However, I knew that I had no intent to delete that one and wish the ability had been take

[2020-05-01 01:20] Quantumplation commented on #434
Thank you! It worked this time.

[2020-05-01 01:20] #434 closed

[2020-05-01 06:50] bnb commented on #43
Has there been any update on this @pilsy?

[2020-05-01 17:20] nikmd23 opened #447 "Support client parameter in deep link"
To enable the smoothest user onboarding workflows possible, we should support a `client` parameter in our deep links that could be used to open the user's desired client.

For example: `env.new?repo=foo&name=bar&client=vscode` would create a new environment named **bar**, and automatically open VS Code desktop connecting the user to the environment.

Here's a list of possible values (exact values

[2020-05-01 17:45] plisy commented on #43
@bnb no, not yet. For security purposes we are putting every environment on it's own domain, so PWA support needs to be specified differently than I anticipated before.

[2020-05-01 19:28] iansan5653 opened #448 "Connecting to a new Codespace with Preferences Sync enabled uninstalls all your backed up extensions"
If I enable Preferences Sync (in Insiders) and then create a new Codespace, when I open that new instance all my 40+ extensions are deleted from my synced preferences and there's no way to easily reinstall them. This is very frustrating as there's no way to prevent it and still use Preferences Sync.

[2020-05-01 19:32] iansan5653 opened #449 "Adding a folder to a new workspace breaks the entire instance"
All I want to do is just open a single subfolder in a repository, rather than the entire repo. Here's what's happening:

1. I make a new instance. The only file open is the Readme
2. Clone the repository (doesn't matter if I use the Git extension or the command line)
3. Add a folder from that repository to the workspace.
4. The page reloads and now I can't add folders to the workspace or do anythi

[2020-05-01 19:36] jkeech commented on #448
@kieferrm, do you know why this would happen?

[2020-05-01 22:06] kieferrm commented on #448
@iansan5653 I'm sorry to hear that. I followed your steps, here is what I see after step 2:
- settings sync claims to be on in the second codespace
- in the extensions viewlet search for `@installed` -> none of the extensions from the first codespace show up
- codespace 1 however is not affected; no syncing happened at all

[2020-05-01 22:25] jkeech commented on #449
I can repro this. It looks like when you start with `Workspaces: Add Folder to Workspace` outside of the context of an existing workspace, it tries to create a brand new workspace file under `/Users/Workspaces`, such as `/Users/Workspaces/Untitled-1588371263001.code-workspace`. The problem is that this path does not exist, and it would require `root` access to write. The base image intentionally r

[2020-05-01 22:32] iansan5653 commented on #448
This takes some time but for me, Sync does eventually uninstall every extension in the other codespace as well as on my own Windows installation of Code. It may not appear until after a reload.

[2020-05-01 22:45] Tyriar commented on #448
I saw this when I tried to reproduce just now.

It looks to me like since the second codespace has settings sync turned on in the beginning, and perhaps because of the new pulling of settings (if that already happened), a sync _up_ is being triggered before the sync _down_ happens.

Somehow the mechanism that's meant to block this from happening isn't actually triggering, this was the idea that th

[2020-05-01 22:48] kieferrm commented on #448
@iansan5653 on your windows box you can restore extensions. As described here https://code.visualstudio.com/docs/editor/settings-sync#_restoring-data.

[2020-05-01 22:53] kieferrm commented on #448
@Tyriar I don't see the sync loop.

However, I also see issues with extension syncing when I disable it on all my codespaces, delete the data from the sync server and then re-enable it one codespace at a time. (I.e. this process does not trigger the autoenabling of syncing.) Extension syncing is not reliably happening.

[2020-05-01 22:54] iansan5653 commented on #448
@kieferrm thanks for the tip. I actually used that article and it helped a bit to have a list of extensions, but as far as I can tell Code does not have a function for bulk installs so I ended up having to convert the JSON file into a batch file that installed each extension one by one with `code-insiders --install-extension` (an argument which does not work in Codespaces apparently).

The first t

[2020-05-01 22:57] Tyriar commented on #448
cc @legomushroom @sandy081

[2020-05-01 23:07] kieferrm commented on #448
@jkeech you need to disable sync out of the box for now until https://github.com/MicrosoftDocs/vsonline/issues/448#issuecomment-622598541 is fixed.

[2020-05-01 23:18] jkeech commented on #448
@kieferrm we don't turn settings sync on by default, but due to the shared global user state in the browser, the second Codespace picks up the user settings from the first once it is enabled in step 1.

I think we would have to put in a targeted fix to load the user's global state before initializing the workbench, parse the json, remove that setting if it exists, and then re-save it back.

[2020-05-01 23:31] Tyriar commented on #448
Does the shared state include settings but not extensions? If so, that might be the cause of the problem?

[2020-05-01 23:33] legomushroom commented on #448
Extensions are saved in the same place as other settings. But on every connection, we install a set of extensions when VSC server starts and after that, the client connects. Can this cause the issue?

[2020-05-01 23:35] jkeech commented on #449
Actually, it looks like this might be a bug in VS Code. The untitled workspaces are stored in user data which is in IndexedDB on the browser instead of on disk in the remote side. The workspace file contents is correctly saved. But after the reload into the workspace, VS Code seems to try to write updates to disk on the remote side (which fails) instead of back to the user data on the client side.

[2020-05-02 05:52] bpasero commented on #449
@jkeech you should sync with @legomushroom on this topic. Untitled workspace support is something VSO needs to adopt via supporting `URI` as paths for workspaces and should work fine once adopted. We will not write to any path on disk, everything will be in IndexDB, but as long as `URI` is not properly adopted, the location will be wrong.

[2020-05-02 05:54] jkeech commented on #449
@bpasero, thanks, I'll follow up with @legomushroom about how we are handling workspace paths.

[2020-05-02 05:55] bpasero commented on #449
@jkeech I should have made clear in my comment that I had lengthy discussions with Oleg on this topic, so he should be aware of what needs to be done. Last I spoke to him, this is something he wanted to move forward after GH Satellite.

[2020-05-02 20:39] JtMotoX opened #451 "Feature Request: Option to disable SSO"
I use Azure DevOps and O365 using my Microsoft account provided by my company.  I am using VSO with my personal account.  I am able open my browser and log into VSO using my personal account.  When I log into Azure DevOps using my company account, it signs me out of VSO and I am not able to sign back in.

Is it possible to be signed into Azure DevOps, O365, etc.. using one account and then use ano

[2020-05-02 21:48] sandy081 commented on #448
I can reproduce the reported issue consistently.

### Steps to Repro

1. Set up **VS Code Insiders (Desktop)** - Install a theme (GitHub Sharp) and enable it
2. Turn on Sync - This pushes the data to sync server
**State 1:**
[code]
3. Go to VSO and create a Codespace
4. Turn on Sync  - This pull `Github Sharp` theme extension from server and pushes default extensions (VSO installed) to server
**St

[2020-05-02 21:51] sandy081 commented on #448
The issue what @Tyriar has reported [here](https://github.com/MicrosoftDocs/vsonline/issues/448#issuecomment-622598541) is because of similar root cause.

[2020-05-02 21:58] legomushroom commented on #448
@sandy081 can we do anything on the VSO side to fix this or you think that will be VSCode only fix?

[2020-05-02 22:13] sandy081 commented on #448
This will be fixed in VSCode.

[2020-05-03 04:53] anthonychu commented on #379
Similar to forking, it would be awesome to be able to deep link to a [template repo](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-from-a-template).

The behavior would be slightly different than cloning. A Codespace is created with the files in the repo as the first commit. The repo exists in the Codespace only and there's no fork created on G

[2020-05-03 14:07] WaldemarCoding opened #452 "Create Billing Plan returns 'The resource validation failed'"
When I try to create a Billing Plan I get an 'The resource validation failed' error.

![image](https://user-images.githubusercontent.com/17712059/80916053-941f3b00-8d56-11ea-8fb5-52f4548b52c1.png)

If I go to https://portal.azure.com I see that resource groups have been created though. But they have no resource records inside.
![image](https://user-images.githubusercontent.com/17712059/80916086-dc

[2020-05-03 14:30] WaldemarCoding commented on #452
Removed all RG except for one.

[2020-05-03 14:42] jaredpar commented on #407
@taiyosogawa what is the best way to get new drops of the tools? Is the expectation that I download a new drop manually or will the drop auto-update?

[2020-05-03 16:01] jkeech commented on #452
Hi @WaldemarCoding, the error message isn't great, but it looks like you were being blocked from creation new plans because the subscription was at the [max number of plans](https://docs.microsoft.com/en-us/visualstudio/online/resources/faq#what-are-visual-studio-onlines-quotas). Deleting the other RGs ended up deleting other billing plans and brought you below the limit, which allowed new plan cr

[2020-05-03 18:08] WaldemarCoding commented on #452
Hi @jkeech
maybe my comment was a little missleading, sorry. I removed all the previous RGs and tried it again.
There is no success message and the plan doesn't appear in the 'Create new Plan'-Dropdown even though it exists in azure.

If I got your [How-To](https://docs.microsoft.com/en-us/visualstudio/online/how-to/browser) right it should be listed in the dropdown after that and I should be able

[2020-05-03 18:17] vso-ppe1 commented on #452
Thanks for the details. That behavior is definitely not expected. It looks to me like the plan is being created, but it’s not correctly associating with your identity (since today plans are limited to only the user who creates them). Can you keep that plan around while we investigate on the backend? Cc @cmbrose

[2020-05-03 18:18] jkeech commented on #452
Thanks for the details. That behavior is definitely not expected. It looks to me like the plan is being created, but it’s not correctly associating with your identity (since today plans are limited to only the user who creates them). Can you keep that plan around while we investigate on the backend? Cc @cmbrose

[2020-05-03 18:32] WaldemarCoding commented on #452
Of course, no problem.

[2020-05-03 20:39] zmetcalf commented on #312
I have a similar issue with a chromebook. I am able to launch the link in the browser; however, the Chrome OS browser cannot open VS Code (a linux app) to complete the process.

[2020-05-04 12:55] JonathanAsbury-ACS commented on #452
Same problem here.  I also tried create the environment from the VS Code Extension and received the following:

Is there a PowerShell Script we can try?

[2020-05-04 15:05] gro1m opened #453 "Self Hosted fails to flip to available"
I would like to ask if it is possible to connect Visual Studio Codespaces to a Compute Target? It seems that with Visual Studio Code and the Remote SSH Extension (Reference: https://code.visualstudio.com/docs/remote/ssh) this would be possible, but does not seem to be configured to be installable on the remote server that Visual Studio Codespaces is running on. Is there some other way to accomplis

[2020-05-04 19:34] legomushroom commented on #449
We have a PR in flight to fix this, the plan is to support both absolute paths and URIs but we need more testing to make sure or corner cases are covered.

[2020-05-04 21:32] abuchholtzau commented on #453
Hi there!
I think you might want to try out our [self-hosting service](https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-cli#known-issues) for this scenario. By installing our CLI and running the agent, it will allow you to register the VM and then access it through VS Code with the Codespaces UI or through our web portal.

[2020-05-05 07:17] simkimsia opened #455 "when i reconnect it takes forever and doesn't work"
i am using vs codespaces extension in vscode. and i successfully finished the tutorial.

this is what it looks like after my successful completion of tutorial

![image-20200503143848521](https://user-images.githubusercontent.com/245021/81042813-8b0fa480-8ee3-11ea-9fa9-9766749e2b44.png)

Then i turn off and return on now it takes forever to reconnect and doesn't work

this is what it looks like

![

[2020-05-05 15:15] cmbrose commented on #452
@WaldemarCoding I believe I've found the cause here which is a bug in our user lookups - we are discussing a fix internally, but I will see if there is anything that I can do to get you unblocked faster.

@JonathanAsbury-ACS that sounds like a slightly different issue since it is related to creating environments.  Can you confirm whether or not you are able to create a plan and see it in the porta

[2020-05-05 16:39] gro1m commented on #453
I tried it out and successfully installed vso on the Compute Target in the JupyterLab Terminal, but somehow the creation of the vm fails. Neither
```vso start --service```
nor
```vso start --service -s <subscription_id> -r <resource_group_id> -n <name>```
worked. In both cases it tries for one hour to create the registration (I see the creating phase on https://online.visualstudio.com/environments

[2020-05-05 19:37] nikmd23 opened #457 "Support user supplied version of Docker Compose"
When I specify version 3.4 in my `docker-compose.yml`, I am unable to create an environment in VS Codespaces. This is the error I get:

[code]

The error leads me to believe that I'm forced to use version 3.0 - though there are lots of features and capabilities that extend beyond 3.0 that would be great to leverage.

It's also unclear if I could use an *older* version of the compose schema (if I h

[2020-05-05 19:38] edgonmsft commented on #457
I used version 3.0 as a minimum one, I'll make changes to allow usage of higher versions.

[2020-05-05 19:54] jkeech commented on #422
These improvements have been deployed. Most custom containers are now 2-3 minutes faster when building. 🚀

[2020-05-05 19:54] #422 closed

[2020-05-05 20:21] Chuxel opened #458 "Alpine 3.10 not working with Codespaces"
Currently there is a script that is run when creating a Codespace with a custom Dockerfile that includes checking for required dependencies.

The challenge is that the Alpine version of this script is trying to add in a package that recent versions do not include: `libssl1.0`

.NET Core now supports `libssl1.1`, so the script can be updated to accommodate working with Alpine.

Further, to improve

[2020-05-05 20:50] taiyosogawa commented on #453
@gro1m thanks for trying that out and reporting the issue. Logs are located in the `VSFeedbackVSRTCLogs` folder in your temp directory. Could you try `grep error *` in that folder to see if there was anything logged?

[2020-05-05 20:51] taiyosogawa commented on #384
We've got an update for this, which should start deploying next week. I'll post again when it's out.

[2020-05-05 20:53] Chuxel commented on #458
It also looks like we're doing an `apk upgrade` which should not be strictly required.  I'd suggest removing it and seeing if that also helps resolve this problem.  It appears to be a really old bug with the script.

[2020-05-05 20:53] mcolyer commented on #458
So think the package managers are pretty fast at determining if a package is installed or not. I was more hoping we could eliminate the package index update step.

[2020-05-05 20:53] taiyosogawa commented on #271
Hi - apologies for the late update: The fix to resolve this should be going out next week.

[2020-05-05 20:59] taiyosogawa commented on #400
Hi, I think the "Permission denied" is from trying to access an RPC pipe was created/protected by another user. We've deployed some changes to ensure each user gets their own pipe. When you get a chance, try it out.

I'll close out this issue since we've made updates to address the original problem. Please feel free to open another issue if you're still seeing problems, and thanks for engaging wit

[2020-05-05 20:59] #400 closed

[2020-05-05 21:00] taiyosogawa commented on #453
I changed the title of the issue to reflect the latest issue - hope that is ok!

[2020-05-05 21:11] cmbrose commented on #452
@WaldemarCoding I've done an adhoc update which should unblock you - can you try again?  You should be able to see all your existing plans now in the VSCS portal, but if not please also try creating one again.  Thanks!

[2020-05-05 21:17] taiyosogawa commented on #409
Thank you all for your patience and I'm sorry if this is too late.

@onionhammer, the changes to print better error messaging could be out. Could you try again to see if it prints any better information? You could also just try running `/bin/systemctl --user daemon-reload` to see if that works.

@Niek, it looks like it's failing to find the access token cached during setup. Have you used Codespace

[2020-05-05 22:03] onionhammer commented on #409
@taiyosogawa as far as I can tell, same behavior as before.

[2020-05-06 02:30] alecloudenback commented on #136
I had an issue which seems pretty related - I can file separate if need be.

Using a fresh install of VS Code on Manjaro (Arch) linux, I added the Visual Studio Codespaces extension:

![image](https://user-images.githubusercontent.com/711879/81132709-f58d0880-8f14-11ea-8392-353ba639bc1f.png)

When I would try to login via the Remote Explorer, I would be taken through the online auth process and la

[2020-05-06 03:21] Chuxel commented on #457
This affects the dapr dev containers as well.  See https://github.com/microsoft/vscode-dev-containers/blob/master/containers/codespaces.md

[2020-05-06 04:16] Chuxel opened #459 "Mount property ignored, breaks kubernetes-helm"
(Note that mount points is my current theory as to what is going on here without knowing what is going on under the hood.)

The Docker-in-Docker definition in the vscode-dev-containers repository allows developers to use a Docker from within a container.  The kubernetes-helm definition is similar.  In both cases, the containers fail to start for slightly different reasons.

1. <strike>In the [Dock

[2020-05-06 06:31] WaldemarCoding commented on #452
@cmbrose
Can confirm it works now. Also didn't have to create a new plan, the last one created was available and preselected in the dropdown. Thank you :-)

[2020-05-06 08:48] gro1m commented on #453
Thank you very much, there seems to be an authorization issue.
The output of the grep command:
[code]
and the history of `vso start --service`, the content of  error log *20200506_071831.1_CLI.log*, respectively:
[code]
I blanked subscription and resource group name.
Could you maybe point me to what kind of authorization problem that could be? Authentication via portal worked fine.

[2020-05-06 11:50] NathanNZ commented on #196
I may have a similar issue - as far as I can tell it's an issue with how the service worker is proxying the traffic and returns a 411 (Length Required) error. Could be similar to #196 and maybe #256?

Has the new service been released yet @fara-nak?

[2020-05-06 13:06] DanTup commented on #405
@taiyosogawa it all seems to work now, however the first time I connected to the MacBook environment (both from a browser or Windows) I saw this message:

![err](https://user-images.githubusercontent.com/1078012/81180277-b2797680-8fa2-11ea-8c2d-a76a83a15778.png)

After reloading, both then worked fine without any error.

Thanks!

[2020-05-06 14:30] DanTup commented on #157
This doesn't seem to work for me - it seems worse than before - it won't even load the simple page:

![Screenshot 2020-05-06 at 15 28 57](https://user-images.githubusercontent.com/1078012/81189405-6b917e00-8fae-11ea-87df-aa38f9e54e88.png)

Yet if I use `curl` in a terminal window in the VS Codespace window, it works fine:

![Screenshot 2020-05-06 at 15 29 15](https://user-images.githubusercontent.

[2020-05-06 15:05] jkeech commented on #459
@edgonmsft we need to change to only bind mount the docker socket for kitchensink images, not for custom containers. Users can explicitly opt in to bind mounting the docker socket in `devcontainer.json` for custom containers if they want.

[2020-05-06 16:50] OneCyrus opened #460 "self-registered instance on ubuntu failed with NOTICE.md missing error"
today my self-registered instance on a ubuntu vm gave me the following error. I'm not aware that this file was ever there. i just noticed that the instance had a spinning icon in VS Code.

couldn't get it running again and stopped/started the install process.

[code]

[2020-05-06 16:50] lemmy commented on #37
Do you have documentation for the query strings from which one can build an url?  The current example shows "name" and "repo", but is it possible to also set instance type, idle timeout, ...?

[2020-05-06 17:00] OneCyrus commented on #460
oh, just found this: https://github.com/MicrosoftDocs/vsonline/issues/407

[2020-05-06 17:00] #460 closed

[2020-05-06 17:16] cmbrose commented on #452
Awesome! I'm going to go ahead and close this one!

@JonathanAsbury-ACS feel free to open another issue if you're still having problems

[2020-05-06 17:16] #452 closed

[2020-05-06 17:19] taiyosogawa commented on #405
Thanks @DanTup! I'm glad this issue was resolved. I'll see if anyone is tracking that toast issue.

[2020-05-06 18:58] julioarruda opened #461 "I Can`t create a new plan"
Today i tried to use this one on first time, but, when i tried to create my new plan, the codespaces can`t to show my azure subscriptions, show only an older one.

Anyone know what happen here?

![image](https://user-images.githubusercontent.com/5204009/81217039-528acc00-8fb2-11ea-9ed8-9801e6888f93.png)

[2020-05-06 19:17] jkeech commented on #461
Codespaces only works currently with the default AAD tenant on your account. You will be able to see and use Azure subscriptions in your default tenant, but not other tenants that you are a guest of. We are tracking multi-tenant support in #39. Thanks!

[2020-05-06 19:30] jkeech commented on #458
Agreed. We should first check if it is installed (maybe with a minimum version if we know what that is). And if not, then perform the update + install. I think it's still good to do the update at that point so you are getting the latest patched versions when we do the install of tools that are not built in to the image.

[2020-05-06 21:08] legomushroom commented on #136
@bpasero @jrieken have you seen this before? We sometimes see that the VSCode protocol handler doesn't start on some Linux distros but I was not able to find a reliable repro.

[2020-05-06 21:55] julioarruda commented on #461
Oh, ok.

Thanks

[2020-05-06 23:54] taiyosogawa commented on #409
@onionhammer, ah I see. I tried setting my UsePAM to no, too, but wasn't able to repro.

There is something going on with the systemctl, but it is peculiar that it works when you run it. Do you see the environment variable `XDG_RUNTIME_DIR` set?  I'm looking at [this post](https://answers.launchpad.net/ubuntu/+source/systemd/+question/287454)

[2020-05-06 23:59] edgonmsft commented on #459
PR for what @jkeech mentions is out.

The second part would be reading the mounts from devcontainer.json.

[2020-05-07 01:06] mmeyer724 opened #462 "Multiple windows, one code space"
Hi there,

Is there any way to have multiple windows connected to the same codespace? or possibly multiple 'codespaces' hosted from the same machine?

I often work on multiple projects at once, and I like to have a separate windows for each one because it helps keep me organized. I can't seem to find a way to do this with vsonline / codespaces.

Unfortunately I cannot create individual codespaces

[2020-05-07 01:41] onionhammer commented on #409
@taiyosogawa Yes, it's set to this:

XDG_SESSION_ID=c1
XDG_RUNTIME_DIR=/run/user/0

[2020-05-07 05:20] bpasero commented on #136
@joaomoreno @Tyriar for commenting on how the protocol handler works on Linux. I cannot recall such an issue. We rely on Electron API to register the custom protocol as far as I know.

[2020-05-07 06:00] sevakraynov commented on #184
Same issue, but i have cyrillic chars in account name
Win10 x64, Microsoft Edge on Chromium 83.0.478.25
![image](https://user-images.githubusercontent.com/23610614/81259497-20787900-9049-11ea-98f6-e2d6c6dc0e93.png)

[2020-05-07 06:20] singsuyash opened #463 "Not able to login here https://online.visualstudio.com/login"
The page itself is a white blank screen:
Browser: Brave, Edge, Google Chrome
OS: MacOS Catalina
Error in developer tools : `You need to enable JavaScript to run this app.`

I can confirm that javascript is enabled on all these browsers.

[2020-05-07 06:29] singsuyash commented on #463
Not sure what i did, may be i refreshed by page. Login works now.

[2020-05-07 06:29] #463 closed

[2020-05-07 09:21] joaomoreno commented on #136
@bpasero It seems the protocol handling is working fine, but VS Code opens a file instead of delegating the URL to the extension. This seems like it would be platform independent.

[2020-05-07 09:22] joaomoreno commented on #136
What version of VS Code is that?

[2020-05-07 10:29] bpasero commented on #136
Right. We only open a file from a URL protocol in these cases:
* `vscode://file/<path>`
* `vscode://vscode-remote/<authority>/<path>`

Would be interesting to know what URL was passed to VSCode for opening.

[2020-05-07 14:21] JustinGrote opened #464 "VS Online defaults to wrong tenant, doesn't allow me to select tenant & subscription"
# Issue
The account I log in with is in the `domain1` tenant. I am also a guest external AAD admin in the `domain2` and `domain3` AAD tenants.

`domain2` user status:
![image](https://user-images.githubusercontent.com/15258962/81305553-51e64a00-9033-11ea-9c7e-c44c130ffb0d.png)

When I log in using my domain1 account at domain1.onmicrosoft.com, I'm getting `domain2` tenant subscriptions instead of

[2020-05-07 14:26] JustinGrote commented on #464
This is related to #39 except I'm getting my **non-default** AAD tenant. If there's somewhere specific maybe I'm missing where to set this and somehow it got changed, let me know.

[2020-05-07 15:13] iansan5653 opened #465 "ctrl+shift+T reopens browser tab instead of VSCode tab"
In a Codespace in the browser, pressing the <kbd>Ctrl</kbd>+<kbd>Shift</shift>+<kbd>T</kbd> key combination to reopen the most recently closed editor does not work. Instead, the browser's most recently closed tab is reopened.

[2020-05-07 15:33] jkeech commented on #465
There are certain keybindings that browsers do not allow to be overridden. I believe the set is browser-specific. Most keybindings in VS Code should work in the browser, with the exception of the ones that browsers do not allow. I think the only way to truly fix this would be to convince the browsers to allow some applications to override those keybindings.

Alternatively, you could set a differen

[2020-05-07 15:38] iansan5653 commented on #465
Maybe this should be set to something else by default then in the web editor? If it really can't be overridden then it should be something that doesn't conflict with the browser. It's obviously undesirable to have inconsistent keybindings in web vs. desktop, but it's still discoverable through the command palette:
![image](https://user-images.githubusercontent.com/2294248/81314501-33924580-9057-11

[2020-05-07 15:40] jkeech commented on #465
Looping in some folks on the VS Code team: @kieferrm, @bpasero

[2020-05-07 15:51] bpasero commented on #465
I am not sure that is possible or desirable because as a VSCode user you would constantly have to remember that you are in the browser and not on the desktop and use other keybindings for the same task.

Good news is that you can "steal" back all those keybindings from the browser as soon as you either go fullscreen (from within VSCode there is a command for it) or you install the experience as PW

[2020-05-07 16:03] iansan5653 commented on #465
Thanks @bpasero installing as an app is perfect.

[2020-05-07 16:29] nimamahmoudi opened #467 "Cannot add new instances after using "suspend" button in azure portal"
I wanted to rename one on self-hosted VSCode Codespaces instances, so I tried suspending the worker in order to access its configuration. After that, I can no longer add any instances to my account. I always get the following error for the `vso` CLI tool:

[!ERROR] Error calling HTTP POST at 'https://eastus.online.visualstudio.com/api/v1/environments' ErrorCode : Forbidden

[2020-05-07 16:40] #461 closed

[2020-05-07 17:49] asw101 opened #468 "Support for Edge and Chrome similar to Safari on iPad/iPadOS/iOS"
I've been using VS Codespaces on the iPad Pro and it works quite well on Safari (https://github.com/MicrosoftDocs/vsonline/issues/33) (see: https://twitter.com/notdetails/status/1258070699165585410 ).

However, when testing in Edge (my default browser), or Chrome, on iPadOS I see that it does not behave like Safari and:
- Loses syntax highlighting
- File icons are broken, cannot switch to other ic

[2020-05-07 17:49] abuchholtzau commented on #455
When you say you "turn off", do you mean you disconnect and suspend the Codespace?
Can you check the Output for VS Codespaces for any errors?

[2020-05-07 17:55] jkeech commented on #467
@nimamahmoudi, you might be running into the [quota limit](https://docs.microsoft.com/en-us/visualstudio/online/resources/faq#what-are-visual-studio-onlines-quotas). If so, try deleting one of your Codespaces and then re-registering.

[2020-05-07 18:21] abuchholtzau commented on #462
You can technically do this now but it requires a bit of a workaround since you can't have two connection to the same workspace.
When you make the first connection with the Codespace, close the open folder and then reopen the specific folder for the microservice you want. Then you can open another instance of VS Code and connect to the same Codespace (since you're now connecting to a different wor

[2020-05-07 18:30] mmeyer724 commented on #462
Thanks @abuchholtzau! Connecting to a specific folder in a codespace is exactly what I want. In the meantime, I'll try out the workaround. :)

[2020-05-07 18:31] abuchholtzau commented on #462
Let me know if you run into any issues! We're happy to help :)

[2020-05-07 20:57] Chuxel commented on #458
/cc: @edgonmsft

[2020-05-07 21:06] Chuxel opened #469 "Azure Machine Learning and Azure Ansible dev containers fail to display folders after starting"
The Azure Machine Learning and Azure Ansible dev containers are able to successfully build and a Codespace is created, but once you get into the environment, the folders do not load.

This might be because of #459 since these do use the docker socket, but the way it is failing is different.

Repro:
Open one of these repos in a Codspace
- Azure ML: https://github.com/Chuxel/codespace-test4
- Azure

[2020-05-07 22:00] edgonmsft commented on #469
I just tried this 2 repositories and they worked for me. I think you got a rare issue where the vscode server didn't start and that's why you didn't see any folders?

At this point in time both work fine since we mount the docker socker by default, when I remove that I'll add mounting support for devcontainer.json to conserve the functionality.

Am I missing something you expected inside the envir

[2020-05-07 22:27] Chuxel commented on #469
@edgonmsft Did you try in GH Codespaces or VS?  Let me see if it happens in VS Codespaces, I'd been using GH.

[2020-05-07 22:28] edgonmsft commented on #469
Gotcha I did it from desktop. Let me try too.

[2020-05-07 22:29] jkeech commented on #469
@chuxel, I just tried both in Codespaces in GH, and they worked. I did get some timeouts on first try spinning up the remote server process, maybe due to the number/size of pre-installed extensions taking longer than the 20 second timeout in VS Code. But on refresh they both worked.

[2020-05-07 22:53] Chuxel commented on #469
@jkeech  @edgonmsft Thanks for checking... odd. Well, glad it is working on your end... this could be something with my setup or account I suppose.  I'll close for now given that and reopen if I figure out a repro.

[2020-05-07 22:54] #469 closed

[2020-05-07 23:20] nimamahmoudi commented on #467
That's the issue for my account, thanks. I didn't see that in the documentation.

[2020-05-07 23:20] #467 closed

[2020-05-08 00:12] jkeech opened #472 "Dotnet tools should work by default in the base image"
Currently, dotnet tools do not work in the base image by default since the tools directory is not on the `PATH`, and the `DOTNET_ROOT` environment variable is not set to a dotnet core runtime. The base image should be augmented to include the following:

[code]

Reference: https://github.com/dotnet/runtime/issues/3810#issuecomment-575597178

[2020-05-08 01:09] alecloudenback commented on #136
vscode version:
[code]

I just manually tried pasting the following link into Firefox (v75.0):

`vscode://ms-vsonline.vsonline/signin?code=M2be31433-XXXX-XXXX-aa6e-e5c5717a130f&state=XXXXXXXXXX`

VS Code opened the same way:

![image](https://user-images.githubusercontent.com/711879/81358049-023b6900-909b-11ea-9fbe-32838813a6b7.png)

When I ran in the terminal:
`xdg-open 'vscode://ms-vsonline.vson

[2020-05-08 01:11] alecloudenback commented on #136
I upgraded to VSCode 1.45 and tried:
`code --open-url 'vscode://ms-vsonline.vsonline/signin?code=M2be31433-XXXX-XXXX-aa6e-e5c5717a130f&state=XXXXXXXXXX' `

And the same result as above (with the "Failed to find..." message

Installation source is AUR via command line install:
https://aur.archlinux.org/packages/visual-studio-code-bin/

[2020-05-08 04:05] so5 commented on #409
@taiyosogawa I check the CLI log file under  `$TMPDIR/VSFeedbackVSRTCLogs` but I can not find any error message.

I also try to reproduce on my mac, but successfully finished `vso start` this time.
I'm not sure what happened but please don't worry about mac.

[2020-05-08 05:27] bpasero commented on #136
When I run `xdg-open vscode://ms-vsonline.vsonline/signin?code=M2be31433-XXXX-XXXX-aa6e-e5c5717a130f&state=XXXXXXXXXX` I am presented with this:

![image](https://user-images.githubusercontent.com/900690/81373547-42cbce80-90fd-11ea-8791-820003673936.png)

And after installation I see:

![image](https://user-images.githubusercontent.com/900690/81373588-5b3be900-90fd-11ea-82a6-286a1523cee6.png)

So

[2020-05-08 07:30] gro1m commented on #453
I have some more information for you:)
Executing vso start in JupyterLab and denying a persistent service/daemon actually leds me sign in to Visual Studio Codespaces.

[code]

[2020-05-08 14:35] wayne-folkes opened #473 "Preference Sync Modal behavior in Safari"
When enabling Preference Sync a modal appears with a link to Open Documentation. That button opens a blank tab in Safari works ok in Chrome.

![Screen Shot 2020-05-08 at 10 21 02 AM](https://user-images.githubusercontent.com/7990671/81414879-a2ce6f00-9115-11ea-9600-850d3a4f3711.png)

[2020-05-08 15:43] taiyosogawa commented on #409
@onionhammer, thank you so much for your patience and help so far. Could you try setting XDG_RUNTIME_DIR to `/run/user/<ID>`? (run `id` and use the numerical uid value for `<ID>`)? If you're able to register, we can update our CLI to check that environment variable.

@so5, thank you for reporting and trying again. Please report any additional issues you encounter.

[2020-05-08 16:00] taiyosogawa commented on #453
@gro1m, sorry I hadn't gotten to your first message.

I'm glad you were able to get it to work eventually. Running as a process is generally less likely to present issues because it is the simpler of the two options, so it was a good thing to try. However, I am a little skeptical that it would cause that unauthorized error you saw. I am going to look at our service logs to see if I can get some mo

[2020-05-08 16:37] onionhammer commented on #409
@taiyosogawa

after setting $XDG_RUNTIME_DIR to `/run/user/1000` and trying again I get the same result; console sits there and online.visualstudio.com/envronments says "creating" (for however long it takes to timeout)

[2020-05-08 17:03] nikmd23 opened #474 "container_name property of docker-compose breaks Codespaces"
It looks like the Codespaces creation script expects a particular name for a container. If the user specifies a `container_name` in their `docker-compose.yml`, we fail to successfully create the environment.

Here's an example `docker-compose.yml` file:

[code]

And here's the output log that's generated.

[code]

Commenting out the `container_name` properties fixes the problem.

[2020-05-08 17:07] mschickervxob commented on #444
Could be this: https://github.com/MicrosoftDocs/vsonline/issues/453

[2020-05-08 17:08] mschickervxob commented on #409
Could be this: https://github.com/MicrosoftDocs/vsonline/issues/453

[2020-05-08 18:43] taiyosogawa commented on #453
@gro1m, it looks like the 401 occurred after many successful polling attempts, so that error was an indirect symptom of the problem at hand.

Up until that 401, the polling was working, but the codespace failed to flip to available because the service had not received any signal from the independently running agent.

If you're fine running as a process, feel free to close out this issue. If you'd

[2020-05-08 18:49] taiyosogawa commented on #444
Thanks for linking these issues @mschickervxob. They could be the same issue, but maybe not - good to keep in mind though 🕵️

Hi @ziofat, sorry to hear that `vso start` got stuck for you.

1) Did you run as a process or did you choose to run it as a service/daemon?
2) Would you be able to check the logs on the CentOS VM, which is located at `/tmp/VSFeedbackVSRTCLogs/`?

[2020-05-08 19:54] wbpluto opened #475 "Add Cancel or Clouse button to input box triggered by Extensions"
At present, the parameter input box popped up by Extensions can only be closed by keyboard ESC. I hope to provide a visual button in order to improve the accessibility of the interface.

![image](https://user-images.githubusercontent.com/5191513/81443615-52542180-91a8-11ea-8e7b-c0b7bc08ab30.png)

![image](https://user-images.githubusercontent.com/5191513/81443698-7a438500-91a8-11ea-8481-0a0a773197

[2020-05-08 19:58] #475 closed

[2020-05-09 00:19] fpintos commented on #320
Hi @edgonmsft , this issue has re-surfaced, on the same environment.

[2020-05-09 03:03] nvick opened #476 "docker-compose silently fails when entrypoint has error"
When using docker-compose to bring up a codespace it will silently fail if there is an error in the entrypoint script.

Locally when I tested the config compose outputs an error:
[code]
Outputting something like this or some error would be helpful. Currently, it sits at
`Starting Environment...` when you reload the page it takes you back to your environments and shows a status of Failed to create.

[2020-05-09 04:35] Chuxel opened #477 ""overrideCommand" property does not override ENTRYPOINT like it does in Remote - Containers"
Currently the Remote - Containers extension overrides both the CMD and ENTRYPOINT whenever `overrideCommand` is set to `true` (which is the default) in devcontainer.json.

It appears that in codespaces is either ignoring the overrideCommand property or is not following the same behavior in Remote - Containers.

Repro:

1. Open https://github.com/Chuxel/codespace-test in a Codespace and note that t

[2020-05-09 06:43] 74th opened #478 "POST requests on port forwarded port has no body in web browser"
1. Create new codespaces environment with git repository https://github.com/74th/vscode-typescript-handson.
2. A connection in first time always reaches time limit, so do `Reload Window` (it is small problem.).
3. Run task `webpack build`
4. Launch debug `Launch Server(ts-node)` (It launches web application.)
5. Click Forwarded Ports , localhost:8080

![image](https://user-images.githubusercontent

[2020-05-09 16:26] avdi opened #479 "Environment variables with spaces cause Codespace to not start"
Trying out my first codespace, it successfully builds the container but then fails to start it.

The repo is private but it's just a bog-standard brand-new Rails 6 app. Here's the Dockerfile:

[code]

Here's the console output:

[code]

P.S. It was a real pain to copy the console output; providing an option to maximize and copy the contents would be awesome.

[2020-05-09 16:31] avdi opened #480 "This issue tracker isn't linked anywhere from the Codespaces UI (that I could find)"
I had the darndest time figuring out where to report issues, until I found the blog post announcing Visual Studio Online, which had a link to this tracker at the end.

[2020-05-09 16:35] edgonmsft commented on #479
Hi Avdi!

Thanks for the info, could you also let me know the devcontainer.json configuration that you used so that I can try it?

cc @osortega for  making it easier to copy the console output.

[2020-05-09 16:37] edgonmsft commented on #476
Hi Nate!

Thanks for pointing this out, I'm going to use this issue to track improvements in this area.

[2020-05-09 16:38] jkeech commented on #479
From the logs, the -w flag on the docker create call doesn’t seem to have a value, which is breaking the container creation. I agree that seeing the devcontainer.json contents would be helpful for troubleshooting this error.

[2020-05-09 16:52] avdi opened #481 "Startup console is hard to read and copy"
Meta issue spawned from filing #479: viewing the startup console output in order to debug and report was a hassle. The little console output frame isn't resizable, and the only way I could actually look it over was to click and drag from the bottom to the top, copy, and paste into a text file.